<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene5_gooma22.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,2},{158,286}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{199,24},{158,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma23.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,2},{158,286}}</string>
                <key>offset</key>
                <string>{-2,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{203,23},{158,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{160,286}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,23},{160,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{160,286}}</string>
                <key>offset</key>
                <string>{3,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{207,24},{160,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{160,286}}</string>
                <key>offset</key>
                <string>{4,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,25},{160,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma27.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,304},{158,284}}</string>
                <key>offset</key>
                <string>{16,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,26},{158,284}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{150,286}}</string>
                <key>offset</key>
                <string>{20,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{229,24},{150,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma29.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,2},{148,286}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,23},{148,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma30.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,578},{146,286}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,23},{146,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma31.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,290},{146,286}}</string>
                <key>offset</key>
                <string>{21,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,23},{146,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma32.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,866},{142,286}}</string>
                <key>offset</key>
                <string>{23,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,24},{142,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma33.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,162},{140,286}}</string>
                <key>offset</key>
                <string>{24,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,24},{140,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma34.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,464},{136,284}}</string>
                <key>offset</key>
                <string>{26,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{242,26},{136,284}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma35.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,398},{128,284}}</string>
                <key>offset</key>
                <string>{31,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{251,26},{128,284}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma36.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,602},{114,282}}</string>
                <key>offset</key>
                <string>{38,-9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,28},{114,282}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma37.png</key>
            <dict>
                <key>frame</key>
                <string>{{636,718},{102,280}}</string>
                <key>offset</key>
                <string>{44,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,30},{102,280}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma38.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,718},{104,272}}</string>
                <key>offset</key>
                <string>{52,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{284,37},{104,272}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma39.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,284},{112,262}}</string>
                <key>offset</key>
                <string>{60,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,47},{112,262}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma40.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,602},{116,248}}</string>
                <key>offset</key>
                <string>{66,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{292,61},{116,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma41.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,162},{120,238}}</string>
                <key>offset</key>
                <string>{73,-31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,72},{120,238}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma42.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,2},{122,228}}</string>
                <key>offset</key>
                <string>{79,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,82},{122,228}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma43.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,498},{128,218}}</string>
                <key>offset</key>
                <string>{85,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{305,92},{128,218}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma44.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,290},{138,206}}</string>
                <key>offset</key>
                <string>{96,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{311,105},{138,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma45.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,718},{128,204}}</string>
                <key>offset</key>
                <string>{101,-50}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{321,108},{128,204}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma46.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,398},{84,110}}</string>
                <key>offset</key>
                <string>{89,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{331,203},{84,110}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma47.png</key>
            <dict>
                <key>frame</key>
                <string>{{312,484},{82,104}}</string>
                <key>offset</key>
                <string>{98,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{341,210},{82,104}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma48.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,824},{76,98}}</string>
                <key>offset</key>
                <string>{100,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{346,214},{76,98}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma49.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,924},{70,90}}</string>
                <key>offset</key>
                <string>{102,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,221},{70,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma50.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,232},{56,80}}</string>
                <key>offset</key>
                <string>{98,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,229},{56,80}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma51.png</key>
            <dict>
                <key>frame</key>
                <string>{{528,162},{48,72}}</string>
                <key>offset</key>
                <string>{98,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,236},{48,72}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma52.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,848},{42,72}}</string>
                <key>offset</key>
                <string>{98,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{361,235},{42,72}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma53.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,922},{36,72}}</string>
                <key>offset</key>
                <string>{100,-110}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,234},{36,72}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma54.png</key>
            <dict>
                <key>frame</key>
                <string>{{396,484},{26,72}}</string>
                <key>offset</key>
                <string>{103,-109}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{374,233},{26,72}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma55.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,290},{16,64}}</string>
                <key>offset</key>
                <string>{107,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,240},{16,64}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma56.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{8,6}}</string>
                <key>offset</key>
                <string>{109,-139}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,296},{8,6}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene5_gooma_2nd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78bb1f451fab38141e596b69d6452096$</string>
            <key>textureFileName</key>
            <string>scene5_gooma_2nd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
