<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>frames</key>
	<dict>
		<key>scene6_goomaYelling1.png</key>
		<dict>
			<key>frame</key>
			<string>{{904,1492},{244,494}}</string>
			<key>offset</key>
			<string>{313,-73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{759,146},{244,494}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling10.png</key>
		<dict>
			<key>frame</key>
			<string>{{1570,494},{470,488}}</string>
			<key>offset</key>
			<string>{255,-76}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{588,152},{470,488}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling11.png</key>
		<dict>
			<key>frame</key>
			<string>{{580,500},{386,494}}</string>
			<key>offset</key>
			<string>{283,-73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{658,146},{386,494}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling12.png</key>
		<dict>
			<key>frame</key>
			<string>{{302,500},{276,496}}</string>
			<key>offset</key>
			<string>{329,-72}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{759,144},{276,496}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling13.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,500},{298,496}}</string>
			<key>offset</key>
			<string>{333,-72}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{752,144},{298,496}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling14.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,2},{306,496}}</string>
			<key>offset</key>
			<string>{344,-72}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{759,144},{306,496}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling15.png</key>
		<dict>
			<key>frame</key>
			<string>{{886,996},{298,494}}</string>
			<key>offset</key>
			<string>{355,-73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{774,146},{298,494}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling16.png</key>
		<dict>
			<key>frame</key>
			<string>{{1186,994},{296,492}}</string>
			<key>offset</key>
			<string>{361,-74}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{781,148},{296,492}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling17.png</key>
		<dict>
			<key>frame</key>
			<string>{{968,498},{294,494}}</string>
			<key>offset</key>
			<string>{354,-73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{775,146},{294,494}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling18.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,1496},{290,496}}</string>
			<key>offset</key>
			<string>{342,-72}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{765,144},{290,496}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling19.png</key>
		<dict>
			<key>frame</key>
			<string>{{296,998},{286,496}}</string>
			<key>offset</key>
			<string>{336,-72}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{761,144},{286,496}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling2.png</key>
		<dict>
			<key>frame</key>
			<string>{{1128,2},{244,494}}</string>
			<key>offset</key>
			<string>{315,-73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{761,146},{244,494}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling20.png</key>
		<dict>
			<key>frame</key>
			<string>{{294,1496},{286,496}}</string>
			<key>offset</key>
			<string>{334,-72}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{759,144},{286,496}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling21.png</key>
		<dict>
			<key>frame</key>
			<string>{{2,998},{292,496}}</string>
			<key>offset</key>
			<string>{342,-72}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{764,144},{292,496}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling22.png</key>
		<dict>
			<key>frame</key>
			<string>{{584,996},{300,494}}</string>
			<key>offset</key>
			<string>{358,-73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{776,146},{300,494}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling23.png</key>
		<dict>
			<key>frame</key>
			<string>{{1374,2},{302,490}}</string>
			<key>offset</key>
			<string>{367,-75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{784,150},{302,490}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling24.png</key>
		<dict>
			<key>frame</key>
			<string>{{1264,498},{304,490}}</string>
			<key>offset</key>
			<string>{368,-75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{784,150},{304,490}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling25.png</key>
		<dict>
			<key>frame</key>
			<string>{{1150,1492},{312,492}}</string>
			<key>offset</key>
			<string>{360,-74}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{772,148},{312,492}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling26.png</key>
		<dict>
			<key>frame</key>
			<string>{{804,2},{322,494}}</string>
			<key>offset</key>
			<string>{349,-73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{756,146},{322,494}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling27.png</key>
		<dict>
			<key>frame</key>
			<string>{{582,1496},{320,494}}</string>
			<key>offset</key>
			<string>{339,-73}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{747,146},{320,494}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling3.png</key>
		<dict>
			<key>frame</key>
			<string>{{558,2},{244,496}}</string>
			<key>offset</key>
			<string>{332,-72}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{778,144},{244,496}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling4.png</key>
		<dict>
			<key>frame</key>
			<string>{{310,2},{246,496}}</string>
			<key>offset</key>
			<string>{347,-72}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{792,144},{246,496}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling5.png</key>
		<dict>
			<key>frame</key>
			<string>{{1678,2},{252,490}}</string>
			<key>offset</key>
			<string>{364,-75}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{806,150},{252,490}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling6.png</key>
		<dict>
			<key>frame</key>
			<string>{{1744,1470},{254,484}}</string>
			<key>offset</key>
			<string>{372,-78}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{813,156},{254,484}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling7.png</key>
		<dict>
			<key>frame</key>
			<string>{{1484,990},{258,484}}</string>
			<key>offset</key>
			<string>{373,-78}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{812,156},{258,484}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling8.png</key>
		<dict>
			<key>frame</key>
			<string>{{1744,984},{256,484}}</string>
			<key>offset</key>
			<string>{373,-78}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{813,156},{256,484}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
		<key>scene6_goomaYelling9.png</key>
		<dict>
			<key>frame</key>
			<string>{{1464,1488},{250,486}}</string>
			<key>offset</key>
			<string>{370,-77}</string>
			<key>rotated</key>
			<false/>
			<key>sourceColorRect</key>
			<string>{{813,154},{250,486}}</string>
			<key>sourceSize</key>
			<string>{1136,640}</string>
		</dict>
	</dict>
	<key>metadata</key>
	<dict>
		<key>format</key>
		<integer>2</integer>
		<key>realTextureFileName</key>
		<string>scene6_goomaYelling-hd.pvr.ccz</string>
		<key>size</key>
		<string>{2048,2048}</string>
		<key>smartupdate</key>
		<string>$TexturePacker:SmartUpdate:74bf969f79dbd53f0b7bf5419a000acb$</string>
		<key>textureFileName</key>
		<string>scene6_goomaYelling-hd.pvr.ccz</string>
	</dict>
</dict>
</plist>
