<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene2_gooma21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,409},{405,435}}</string>
                <key>offset</key>
                <string>{-239,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,17},{405,435}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma22.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,1225},{407,435}}</string>
                <key>offset</key>
                <string>{-238,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{407,435}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma23.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1225},{407,433}}</string>
                <key>offset</key>
                <string>{-238,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,22},{407,433}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma24.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,2},{405,431}}</string>
                <key>offset</key>
                <string>{-239,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{405,431}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma25.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,409},{405,429}}</string>
                <key>offset</key>
                <string>{-239,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{405,429}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,409},{405,429}}</string>
                <key>offset</key>
                <string>{-239,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{405,429}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1303,2},{405,429}}</string>
                <key>offset</key>
                <string>{-239,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,26},{405,429}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma28.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{405,429}}</string>
                <key>offset</key>
                <string>{-239,9}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,25},{405,429}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma29.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,816},{407,429}}</string>
                <key>offset</key>
                <string>{-238,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,24},{407,429}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1225},{407,431}}</string>
                <key>offset</key>
                <string>{-238,12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,21},{407,431}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,816},{407,431}}</string>
                <key>offset</key>
                <string>{-238,13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,20},{407,431}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,1636},{409,431}}</string>
                <key>offset</key>
                <string>{-237,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,19},{409,431}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma33.png</key>
            <dict>
                <key>frame</key>
                <string>{{868,1634},{409,431}}</string>
                <key>offset</key>
                <string>{-237,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,18},{409,431}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma34.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,1634},{409,431}}</string>
                <key>offset</key>
                <string>{-237,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{409,431}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1634},{409,431}}</string>
                <key>offset</key>
                <string>{-237,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{409,431}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1225},{409,431}}</string>
                <key>offset</key>
                <string>{-237,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,15},{409,431}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma37.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,816},{407,433}}</string>
                <key>offset</key>
                <string>{-238,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{407,433}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,816},{407,435}}</string>
                <key>offset</key>
                <string>{-238,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{407,435}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma39.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,409},{405,437}}</string>
                <key>offset</key>
                <string>{-239,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{405,437}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{405,435}}</string>
                <key>offset</key>
                <string>{-239,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{405,435}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene2_gooma_2nd-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1740,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d109274e68375ccdf45b1e2a5f21a613$</string>
            <key>textureFileName</key>
            <string>scene2_gooma_2nd-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
