<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene5_gooma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,578},{158,286}}</string>
                <key>offset</key>
                <string>{-66,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,24},{158,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma10.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,290},{158,286}}</string>
                <key>offset</key>
                <string>{-46,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,23},{158,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{162,286}}</string>
                <key>offset</key>
                <string>{-45,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,24},{162,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma12.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{160,286}}</string>
                <key>offset</key>
                <string>{-45,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,24},{160,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma13.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,578},{160,286}}</string>
                <key>offset</key>
                <string>{-44,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,25},{160,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma14.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,576},{158,284}}</string>
                <key>offset</key>
                <string>{-34,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,26},{158,284}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma15.png</key>
            <dict>
                <key>frame</key>
                <string>{{652,2},{158,286}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{176,24},{158,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma16.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,866},{156,286}}</string>
                <key>offset</key>
                <string>{-26,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,23},{156,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma17.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,290},{160,286}}</string>
                <key>offset</key>
                <string>{-27,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,23},{160,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma18.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,2},{160,286}}</string>
                <key>offset</key>
                <string>{-26,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{178,24},{160,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{160,286}}</string>
                <key>offset</key>
                <string>{-25,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{179,24},{160,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,578},{158,286}}</string>
                <key>offset</key>
                <string>{-67,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{138,23},{158,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma20.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,862},{160,284}}</string>
                <key>offset</key>
                <string>{-17,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{187,26},{160,284}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma21.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,290},{158,284}}</string>
                <key>offset</key>
                <string>{-11,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,26},{158,284}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma3.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,2},{160,286}}</string>
                <key>offset</key>
                <string>{-68,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,23},{160,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{160,286}}</string>
                <key>offset</key>
                <string>{-67,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,23},{160,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma5.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,576},{160,284}}</string>
                <key>offset</key>
                <string>{-67,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,26},{160,284}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma6.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,290},{160,284}}</string>
                <key>offset</key>
                <string>{-63,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{141,26},{160,284}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma7.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{160,284}}</string>
                <key>offset</key>
                <string>{-58,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,26},{160,284}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{156,286}}</string>
                <key>offset</key>
                <string>{-48,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{158,24},{156,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_gooma9.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,290},{158,286}}</string>
                <key>offset</key>
                <string>{-46,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{159,23},{158,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene5_gooma_1st.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d932c86f30bfe761c82d94153e4cf63d$</string>
            <key>textureFileName</key>
            <string>scene5_gooma_1st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
