<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene6_gooma1st1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1478,736},{424,488}}</string>
                <key>offset</key>
                <string>{178,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{534,152},{424,488}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st10.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1126},{428,490}}</string>
                <key>offset</key>
                <string>{190,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{544,150},{428,490}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st11.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,736},{388,490}}</string>
                <key>offset</key>
                <string>{214,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{588,150},{388,490}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,736},{252,492}}</string>
                <key>offset</key>
                <string>{286,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{728,148},{252,492}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{242,492}}</string>
                <key>offset</key>
                <string>{295,-74}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{742,148},{242,492}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1494,246},{242,494}}</string>
                <key>offset</key>
                <string>{298,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{745,146},{242,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st15.png</key>
            <dict>
                <key>frame</key>
                <string>{{998,246},{242,494}}</string>
                <key>offset</key>
                <string>{300,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{747,146},{242,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,2},{242,494}}</string>
                <key>offset</key>
                <string>{304,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{751,146},{242,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st17.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,246},{242,496}}</string>
                <key>offset</key>
                <string>{307,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{754,144},{242,496}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,246},{242,496}}</string>
                <key>offset</key>
                <string>{308,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{755,144},{242,496}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,490},{244,494}}</string>
                <key>offset</key>
                <string>{308,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{754,146},{244,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st2.png</key>
            <dict>
                <key>frame</key>
                <string>{{988,736},{424,488}}</string>
                <key>offset</key>
                <string>{179,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{535,152},{424,488}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st20.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,2},{242,494}}</string>
                <key>offset</key>
                <string>{309,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{756,146},{242,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st21.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,490},{244,494}}</string>
                <key>offset</key>
                <string>{309,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{755,146},{244,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st22.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,490},{244,494}}</string>
                <key>offset</key>
                <string>{309,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{755,146},{244,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,490},{244,494}}</string>
                <key>offset</key>
                <string>{309,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{755,146},{244,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st24.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,2},{242,494}}</string>
                <key>offset</key>
                <string>{310,-73}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{757,146},{242,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,990},{426,488}}</string>
                <key>offset</key>
                <string>{179,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{534,152},{426,488}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1474,1162},{428,488}}</string>
                <key>offset</key>
                <string>{181,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{535,152},{428,488}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st5.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1162},{428,488}}</string>
                <key>offset</key>
                <string>{183,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{537,152},{428,488}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1418},{430,488}}</string>
                <key>offset</key>
                <string>{184,-76}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{537,152},{430,488}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1476,1592},{430,490}}</string>
                <key>offset</key>
                <string>{185,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{538,150},{430,490}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st8.png</key>
            <dict>
                <key>frame</key>
                <string>{{984,1592},{430,490}}</string>
                <key>offset</key>
                <string>{186,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{539,150},{430,490}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_gooma1st9.png</key>
            <dict>
                <key>frame</key>
                <string>{{492,1556},{430,490}}</string>
                <key>offset</key>
                <string>{187,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{540,150},{430,490}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_gooma1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e7377d9d27bc3e418f493f3d6b417b90$</string>
            <key>textureFileName</key>
            <string>scene6_gooma1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
