<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene2_gooma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,440},{203,215}}</string>
                <key>offset</key>
                <string>{-119,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{203,215}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma10.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,448},{203,221}}</string>
                <key>offset</key>
                <string>{-119,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{203,221}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma11.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{203,221}}</string>
                <key>offset</key>
                <string>{-119,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{203,221}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{205,221}}</string>
                <key>offset</key>
                <string>{-118,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,4},{205,221}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{205,223}}</string>
                <key>offset</key>
                <string>{-118,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,2},{205,223}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma14.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,2},{205,221}}</string>
                <key>offset</key>
                <string>{-118,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{205,221}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,227},{205,221}}</string>
                <key>offset</key>
                <string>{-118,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,3},{205,221}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma16.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,225},{205,219}}</string>
                <key>offset</key>
                <string>{-118,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{205,219}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma17.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,223},{203,219}}</string>
                <key>offset</key>
                <string>{-119,10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,5},{203,219}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma18.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,446},{203,219}}</string>
                <key>offset</key>
                <string>{-119,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{203,219}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma19.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{203,219}}</string>
                <key>offset</key>
                <string>{-119,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{203,219}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,223},{203,215}}</string>
                <key>offset</key>
                <string>{-119,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{203,215}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma20.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{203,219}}</string>
                <key>offset</key>
                <string>{-119,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{203,219}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma3.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,657},{203,213}}</string>
                <key>offset</key>
                <string>{-119,3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,15},{203,213}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma4.png</key>
            <dict>
                <key>frame</key>
                <string>{{619,659},{203,211}}</string>
                <key>offset</key>
                <string>{-119,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{203,211}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma5.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,671},{203,211}}</string>
                <key>offset</key>
                <string>{-119,2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,17},{203,211}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma6.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,673},{203,209}}</string>
                <key>offset</key>
                <string>{-119,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{203,209}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,673},{203,209}}</string>
                <key>offset</key>
                <string>{-119,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,19},{203,209}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma8.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,444},{203,213}}</string>
                <key>offset</key>
                <string>{-119,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,14},{203,213}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma9.png</key>
            <dict>
                <key>frame</key>
                <string>{{209,225},{203,221}}</string>
                <key>offset</key>
                <string>{-119,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{203,221}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene2_gooma_1st.pvr.ccz</string>
            <key>size</key>
            <string>{1031,884}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f401b7fccd46de0f2005845f1dfc5a98$</string>
            <key>textureFileName</key>
            <string>scene2_gooma_1st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
