<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene6_goomaRepeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{144,246}}</string>
                <key>offset</key>
                <string>{157,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,74},{144,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1738},{122,244}}</string>
                <key>offset</key>
                <string>{162,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat11.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1724},{122,244}}</string>
                <key>offset</key>
                <string>{164,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{387,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1614},{122,244}}</string>
                <key>offset</key>
                <string>{165,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat13.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1600},{122,244}}</string>
                <key>offset</key>
                <string>{165,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{122,244}}</string>
                <key>offset</key>
                <string>{165,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat15.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1476},{122,244}}</string>
                <key>offset</key>
                <string>{165,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1366},{122,244}}</string>
                <key>offset</key>
                <string>{166,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat17.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1352},{122,244}}</string>
                <key>offset</key>
                <string>{166,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{389,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1242},{122,244}}</string>
                <key>offset</key>
                <string>{167,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat19.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1228},{122,244}}</string>
                <key>offset</key>
                <string>{167,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{390,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,320},{156,248}}</string>
                <key>offset</key>
                <string>{159,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,72},{156,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1118},{122,244}}</string>
                <key>offset</key>
                <string>{170,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{393,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat21.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1104},{122,244}}</string>
                <key>offset</key>
                <string>{174,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{397,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{122,244}}</string>
                <key>offset</key>
                <string>{175,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat23.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,980},{122,244}}</string>
                <key>offset</key>
                <string>{175,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1862},{122,242}}</string>
                <key>offset</key>
                <string>{175,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,78},{122,242}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat25.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1848},{122,242}}</string>
                <key>offset</key>
                <string>{175,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,78},{122,242}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,870},{122,244}}</string>
                <key>offset</key>
                <string>{173,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{396,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat27.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,856},{122,244}}</string>
                <key>offset</key>
                <string>{165,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,76},{122,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{122,246}}</string>
                <key>offset</key>
                <string>{160,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,74},{122,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat29.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,732},{122,246}}</string>
                <key>offset</key>
                <string>{160,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{383,74},{122,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,162},{156,248}}</string>
                <key>offset</key>
                <string>{160,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,72},{156,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{122,246}}</string>
                <key>offset</key>
                <string>{159,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,74},{122,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat31.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,606},{124,246}}</string>
                <key>offset</key>
                <string>{155,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,74},{124,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,162},{158,248}}</string>
                <key>offset</key>
                <string>{160,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,72},{158,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{158,248}}</string>
                <key>offset</key>
                <string>{160,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,72},{158,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,248}}</string>
                <key>offset</key>
                <string>{160,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,72},{158,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{158,248}}</string>
                <key>offset</key>
                <string>{160,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{365,72},{158,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,322},{152,248}}</string>
                <key>offset</key>
                <string>{158,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,72},{152,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaRepeat9.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,478},{126,246}}</string>
                <key>offset</key>
                <string>{153,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{374,74},{126,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_goomaRepeat.pvr.ccz</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:33836f9d3889c66be9915f2577763f8f$</string>
            <key>textureFileName</key>
            <string>scene6_goomaRepeat.pvr.ccz</string>
        </dict>
    </dict>
</plist>
