<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene8_curtainRight-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{532,592}}</string>
                <key>offset</key>
                <string>{302,24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{604,0},{532,592}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene8_curtainRight-hd.pvr.ccz</string>
            <key>size</key>
            <string>{532,592}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0180c5b379eac4b6f2035906cc3b8a88$</string>
            <key>textureFileName</key>
            <string>scene8_curtainRight-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
