<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene3_frontfox23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1793},{875,197}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,296},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox24.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1393},{875,197}}</string>
                <key>offset</key>
                <string>{13,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,296},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1594},{875,197}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,297},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox26.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,599},{877,197}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,297},{877,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,798},{877,197}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,297},{877,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox28.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,400},{877,197}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,297},{877,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox29.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,997},{877,195}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,298},{877,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1758,1078},{875,195}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,298},{875,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox31.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1194},{875,197}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,296},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,201},{875,195}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{50,297},{875,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox33.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1789},{875,195}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,297},{875,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox34.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1592},{875,195}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,297},{875,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1395},{875,197}}</string>
                <key>offset</key>
                <string>{13,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,296},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,599},{877,197}}</string>
                <key>offset</key>
                <string>{13,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,296},{877,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox37.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,201},{877,197}}</string>
                <key>offset</key>
                <string>{13,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{48,296},{877,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{879,197}}</string>
                <key>offset</key>
                <string>{13,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,297},{879,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{877,197}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,297},{877,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox40.png</key>
            <dict>
                <key>frame</key>
                <string>{{883,2},{877,197}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,297},{877,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,201},{877,197}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,297},{877,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1196},{875,197}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,297},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox43.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,798},{875,197}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,297},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,997},{875,197}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,296},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene3_frontfox_2nd-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d94a9be1317d8c5db8f86a6d40dd49cd$</string>
            <key>textureFileName</key>
            <string>scene3_frontfox_2nd-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
