<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_gooma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,392},{431,390}}</string>
                <key>offset</key>
                <string>{11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,75},{431,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,390},{435,386}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{221,79},{435,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,2},{433,386}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,79},{433,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma12.png</key>
            <dict>
                <key>frame</key>
                <string>{{878,2},{433,388}}</string>
                <key>offset</key>
                <string>{-15,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,77},{433,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,778},{431,390}}</string>
                <key>offset</key>
                <string>{-13,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,75},{431,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma14.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,1562},{429,390}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,75},{429,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1562},{429,390}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{228,75},{429,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma16.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,784},{429,390}}</string>
                <key>offset</key>
                <string>{-11,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,75},{429,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma17.png</key>
            <dict>
                <key>frame</key>
                <string>{{435,784},{429,392}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,73},{429,392}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1305,782},{429,392}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,73},{429,392}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1609,1176},{427,392}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,73},{427,392}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,392},{431,390}}</string>
                <key>offset</key>
                <string>{9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,75},{431,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1176},{427,392}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,73},{427,392}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma21.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1607},{427,392}}</string>
                <key>offset</key>
                <string>{-11,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{230,73},{427,392}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1313,390},{431,390}}</string>
                <key>offset</key>
                <string>{8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,75},{431,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma4.png</key>
            <dict>
                <key>frame</key>
                <string>{{786,1178},{427,392}}</string>
                <key>offset</key>
                <string>{4,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{245,73},{427,392}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1576,1570},{425,392}}</string>
                <key>offset</key>
                <string>{0,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{242,73},{425,392}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1180,1570},{425,394}}</string>
                <key>offset</key>
                <string>{-5,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{237,71},{425,394}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1170},{429,390}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,75},{429,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma8.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,2},{435,388}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,77},{435,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{437,386}}</string>
                <key>offset</key>
                <string>{-17,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,79},{437,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_gooma_1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ed25194bf304951519d9901eb8338db1$</string>
            <key>textureFileName</key>
            <string>scene1_gooma_1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
