<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene6_curtainClosedRepeatRight.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{130,280}}</string>
                <key>offset</key>
                <string>{-15,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{204,4},{130,280}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_curtainClosedRight.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:44a7c54dd4b75b1ab0e2d0635995324c$</string>
            <key>textureFileName</key>
            <string>scene6_curtainClosedRight.pvr.ccz</string>
        </dict>
    </dict>
</plist>
