<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene5_redMonsterRepeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,378},{4,22}}</string>
                <key>offset</key>
                <string>{-282,-71}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,220},{4,22}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat10.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,210},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat12.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,210},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat13.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,208},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,201},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat14.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,208},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat15.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,170},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,130},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat17.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,128},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,203},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat18.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,480},{40,90}}</string>
                <key>offset</key>
                <string>{-264,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,205},{40,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat19.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,478},{40,90}}</string>
                <key>offset</key>
                <string>{-264,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,205},{40,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{16,84}}</string>
                <key>offset</key>
                <string>{-276,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,198},{16,84}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat20.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,2},{42,92}}</string>
                <key>offset</key>
                <string>{-263,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,204},{42,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat21.png</key>
            <dict>
                <key>frame</key>
                <string>{{280,434},{42,90}}</string>
                <key>offset</key>
                <string>{-263,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,206},{42,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,438},{42,90}}</string>
                <key>offset</key>
                <string>{-263,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,206},{42,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat23.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,436},{42,90}}</string>
                <key>offset</key>
                <string>{-263,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,206},{42,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat24.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,434},{42,90}}</string>
                <key>offset</key>
                <string>{-263,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,206},{42,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat25.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,472},{42,90}}</string>
                <key>offset</key>
                <string>{-263,-91}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,206},{42,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat26.png</key>
            <dict>
                <key>frame</key>
                <string>{{374,432},{42,90}}</string>
                <key>offset</key>
                <string>{-263,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,206},{42,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat27.png</key>
            <dict>
                <key>frame</key>
                <string>{{282,390},{42,90}}</string>
                <key>offset</key>
                <string>{-263,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,206},{42,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{42,90}}</string>
                <key>offset</key>
                <string>{-263,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,206},{42,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat29.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,392},{42,90}}</string>
                <key>offset</key>
                <string>{-263,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,206},{42,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,378},{24,92}}</string>
                <key>offset</key>
                <string>{-272,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,197},{24,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat30.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,390},{42,90}}</string>
                <key>offset</key>
                <string>{-263,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,206},{42,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat31.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,388},{42,90}}</string>
                <key>offset</key>
                <string>{-263,-91}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,206},{42,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{42,92}}</string>
                <key>offset</key>
                <string>{-263,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,204},{42,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat33.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,86},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,204},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat34.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,476},{40,90}}</string>
                <key>offset</key>
                <string>{-264,-90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,205},{40,90}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat35.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,86},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,203},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat36.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,88},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,203},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,203},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat38.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,86},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,203},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat39.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,44},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,203},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,356},{30,92}}</string>
                <key>offset</key>
                <string>{-269,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,197},{30,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat40.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,44},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,203},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat41.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,46},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,203},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,203},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat43.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,44},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,203},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat44.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,2},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat45.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat46.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,2},{40,92}}</string>
                <key>offset</key>
                <string>{-264,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{40,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat48.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,170},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{36,92}}</string>
                <key>offset</key>
                <string>{-266,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,201},{36,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,286},{34,92}}</string>
                <key>offset</key>
                <string>{-267,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,198},{34,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat50.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,250},{36,92}}</string>
                <key>offset</key>
                <string>{-266,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,200},{36,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat51.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,286},{34,92}}</string>
                <key>offset</key>
                <string>{-267,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,200},{34,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{34,92}}</string>
                <key>offset</key>
                <string>{-267,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{34,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat53.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,288},{34,92}}</string>
                <key>offset</key>
                <string>{-267,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{34,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat54.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,356},{32,92}}</string>
                <key>offset</key>
                <string>{-268,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{32,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,360},{32,92}}</string>
                <key>offset</key>
                <string>{-268,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{32,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat56.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,358},{32,92}}</string>
                <key>offset</key>
                <string>{-268,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{32,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat57.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,356},{32,92}}</string>
                <key>offset</key>
                <string>{-268,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{32,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat58.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,322},{32,92}}</string>
                <key>offset</key>
                <string>{-268,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{32,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat59.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,322},{32,92}}</string>
                <key>offset</key>
                <string>{-268,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{32,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,284},{36,92}}</string>
                <key>offset</key>
                <string>{-266,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,200},{36,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{32,92}}</string>
                <key>offset</key>
                <string>{-268,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{32,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat61.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,324},{32,92}}</string>
                <key>offset</key>
                <string>{-268,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{32,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat62.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,322},{32,92}}</string>
                <key>offset</key>
                <string>{-268,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{32,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat63.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,286},{34,92}}</string>
                <key>offset</key>
                <string>{-267,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{34,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat64.png</key>
            <dict>
                <key>frame</key>
                <string>{{190,250},{34,92}}</string>
                <key>offset</key>
                <string>{-267,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,200},{34,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat65.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,248},{36,92}}</string>
                <key>offset</key>
                <string>{-266,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,200},{36,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat66.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,248},{36,92}}</string>
                <key>offset</key>
                <string>{-266,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,201},{36,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat67.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,190},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat68.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,168},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat69.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,168},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat7.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,128},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,201},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat70.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,128},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat71.png</key>
            <dict>
                <key>frame</key>
                <string>{{96,130},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat8.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,96},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene5_redMonsterRepeat9.png</key>
            <dict>
                <key>frame</key>
                <string>{{472,2},{38,92}}</string>
                <key>offset</key>
                <string>{-265,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,202},{38,92}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene5_redMonsterRepeat.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ebea5b58bb4d0075398382ee12fd02f6$</string>
            <key>textureFileName</key>
            <string>scene5_redMonsterRepeat.pvr.ccz</string>
        </dict>
    </dict>
</plist>
