<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene2_backfox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{326,2},{276,40}}</string>
                <key>offset</key>
                <string>{117,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,181},{276,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_backfox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,212},{278,40}}</string>
                <key>offset</key>
                <string>{116,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,181},{278,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_backfox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,128},{278,40}}</string>
                <key>offset</key>
                <string>{116,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,181},{278,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_backfox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{278,40}}</string>
                <key>offset</key>
                <string>{117,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{262,181},{278,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_backfox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{280,40}}</string>
                <key>offset</key>
                <string>{116,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,182},{280,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_backfox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{278,40}}</string>
                <key>offset</key>
                <string>{116,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,182},{278,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_backfox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{280,40}}</string>
                <key>offset</key>
                <string>{115,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{259,182},{280,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_backfox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{280,40}}</string>
                <key>offset</key>
                <string>{116,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{260,182},{280,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_backfox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,2},{276,40}}</string>
                <key>offset</key>
                <string>{117,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,182},{276,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_backfox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{276,40}}</string>
                <key>offset</key>
                <string>{117,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,182},{276,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1844},{206,170}}</string>
                <key>offset</key>
                <string>{162,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{343,89},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1844},{206,170}}</string>
                <key>offset</key>
                <string>{151,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,87},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox11.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1672},{206,170}}</string>
                <key>offset</key>
                <string>{150,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{331,87},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox12.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1500},{206,170}}</string>
                <key>offset</key>
                <string>{148,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,86},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox13.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1328},{206,170}}</string>
                <key>offset</key>
                <string>{146,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{327,86},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox14.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,1156},{206,170}}</string>
                <key>offset</key>
                <string>{145,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,86},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox15.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,984},{206,170}}</string>
                <key>offset</key>
                <string>{145,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{326,87},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1672},{208,170}}</string>
                <key>offset</key>
                <string>{144,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,87},{208,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1500},{208,170}}</string>
                <key>offset</key>
                <string>{144,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,88},{208,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1328},{208,170}}</string>
                <key>offset</key>
                <string>{144,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,89},{208,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1156},{208,170}}</string>
                <key>offset</key>
                <string>{143,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,89},{208,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,984},{208,170}}</string>
                <key>offset</key>
                <string>{160,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,89},{208,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox20.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,812},{208,170}}</string>
                <key>offset</key>
                <string>{143,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,89},{208,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,812},{206,170}}</string>
                <key>offset</key>
                <string>{159,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{340,89},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,640},{206,170}}</string>
                <key>offset</key>
                <string>{158,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,89},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{206,170}}</string>
                <key>offset</key>
                <string>{157,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{338,88},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,468},{206,170}}</string>
                <key>offset</key>
                <string>{156,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{337,88},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,468},{206,170}}</string>
                <key>offset</key>
                <string>{155,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{336,88},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,296},{206,170}}</string>
                <key>offset</key>
                <string>{154,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{335,87},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{206,170}}</string>
                <key>offset</key>
                <string>{153,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{334,87},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene2_frontfox_1st.pvr.ccz</string>
            <key>size</key>
            <string>{420,2016}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:78715af364f9432feb1a6571f4a497eb$</string>
            <key>textureFileName</key>
            <string>scene2_frontfox_1st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
