<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene2_frontfox21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1034},{206,170}}</string>
                <key>offset</key>
                <string>{143,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,89},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,862},{206,170}}</string>
                <key>offset</key>
                <string>{142,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,89},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,690},{206,170}}</string>
                <key>offset</key>
                <string>{142,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,89},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,518},{206,170}}</string>
                <key>offset</key>
                <string>{143,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,89},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox25.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,2},{204,170}}</string>
                <key>offset</key>
                <string>{141,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,88},{204,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1550},{200,170}}</string>
                <key>offset</key>
                <string>{140,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,88},{200,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox27.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1550},{198,170}}</string>
                <key>offset</key>
                <string>{140,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,88},{198,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox28.png</key>
            <dict>
                <key>frame</key>
                <string>{{204,1378},{198,170}}</string>
                <key>offset</key>
                <string>{139,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,87},{198,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{200,170}}</string>
                <key>offset</key>
                <string>{140,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,87},{200,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1206},{202,170}}</string>
                <key>offset</key>
                <string>{142,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{325,87},{202,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox31.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,346},{202,170}}</string>
                <key>offset</key>
                <string>{141,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,86},{202,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox32.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,518},{200,170}}</string>
                <key>offset</key>
                <string>{140,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,86},{200,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox33.png</key>
            <dict>
                <key>frame</key>
                <string>{{206,1206},{198,170}}</string>
                <key>offset</key>
                <string>{139,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,86},{198,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox34.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1034},{198,170}}</string>
                <key>offset</key>
                <string>{138,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,86},{198,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox35.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,862},{198,170}}</string>
                <key>offset</key>
                <string>{137,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,87},{198,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox36.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,690},{198,170}}</string>
                <key>offset</key>
                <string>{137,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{322,87},{198,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox37.png</key>
            <dict>
                <key>frame</key>
                <string>{{212,174},{202,170}}</string>
                <key>offset</key>
                <string>{140,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,88},{202,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,174},{208,170}}</string>
                <key>offset</key>
                <string>{143,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,89},{208,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{208,170}}</string>
                <key>offset</key>
                <string>{143,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{323,89},{208,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_frontfox40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{206,170}}</string>
                <key>offset</key>
                <string>{143,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,89},{206,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene2_frontfox_2nd.pvr.ccz</string>
            <key>size</key>
            <string>{418,1722}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9d9935bb7248e9fe5f4122ab5cb2532$</string>
            <key>textureFileName</key>
            <string>scene2_frontfox_2nd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
