<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene3_bigfox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,320},{181,157}}</string>
                <key>offset</key>
                <string>{141,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{286,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,320},{183,157}}</string>
                <key>offset</key>
                <string>{132,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox11.png</key>
            <dict>
                <key>frame</key>
                <string>{{736,318},{183,157}}</string>
                <key>offset</key>
                <string>{132,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{276,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox12.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,318},{183,157}}</string>
                <key>offset</key>
                <string>{131,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{275,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,159},{183,157}}</string>
                <key>offset</key>
                <string>{130,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{274,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1112,2},{183,155}}</string>
                <key>offset</key>
                <string>{129,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,11},{183,155}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox15.png</key>
            <dict>
                <key>frame</key>
                <string>{{927,2},{183,155}}</string>
                <key>offset</key>
                <string>{128,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{272,11},{183,155}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,320},{181,157}}</string>
                <key>offset</key>
                <string>{128,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{273,9},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,159},{183,157}}</string>
                <key>offset</key>
                <string>{127,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,9},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,320},{181,157}}</string>
                <key>offset</key>
                <string>{126,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,318},{181,157}}</string>
                <key>offset</key>
                <string>{126,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{271,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,318},{181,157}}</string>
                <key>offset</key>
                <string>{140,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{285,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox20.png</key>
            <dict>
                <key>frame</key>
                <string>{{553,318},{181,157}}</string>
                <key>offset</key>
                <string>{125,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox21.png</key>
            <dict>
                <key>frame</key>
                <string>{{185,318},{181,157}}</string>
                <key>offset</key>
                <string>{124,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{269,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,318},{181,157}}</string>
                <key>offset</key>
                <string>{123,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{268,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,161},{181,157}}</string>
                <key>offset</key>
                <string>{122,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{267,9},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1653,161},{181,157}}</string>
                <key>offset</key>
                <string>{121,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,9},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,161},{181,157}}</string>
                <key>offset</key>
                <string>{121,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,9},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1287,161},{181,157}}</string>
                <key>offset</key>
                <string>{120,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,9},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1850,2},{183,157}}</string>
                <key>offset</key>
                <string>{119,45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,9},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox28.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,2},{183,155}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,11},{183,155}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox29.png</key>
            <dict>
                <key>frame</key>
                <string>{{557,2},{183,155}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,11},{183,155}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1104,159},{181,157}}</string>
                <key>offset</key>
                <string>{139,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{284,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox30.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,2},{183,155}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,11},{183,155}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1665,2},{183,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox32.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,2},{183,155}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,11},{183,155}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,155}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,11},{183,155}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{921,159},{181,157}}</string>
                <key>offset</key>
                <string>{138,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,159},{181,157}}</string>
                <key>offset</key>
                <string>{137,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{282,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{555,159},{181,157}}</string>
                <key>offset</key>
                <string>{136,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,159},{181,157}}</string>
                <key>offset</key>
                <string>{135,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{280,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1297,2},{181,157}}</string>
                <key>offset</key>
                <string>{134,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{279,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1480,2},{183,157}}</string>
                <key>offset</key>
                <string>{133,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene3_bigfox_1st.pvr.ccz</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:663483aeae5e9b268f08c9d7054b5a21$</string>
            <key>textureFileName</key>
            <string>scene3_bigfox_1st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
