<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene6_curtainClosedRepeatLeft.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{134,272}}</string>
                <key>offset</key>
                <string>{-150,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,11},{134,272}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_curtainClosedLeft.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:8eca85f334a337c4779c9aabc35b7f74$</string>
            <key>textureFileName</key>
            <string>scene6_curtainClosedLeft.pvr.ccz</string>
        </dict>
    </dict>
</plist>
