<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene2_gooma21.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,223},{203,219}}</string>
                <key>offset</key>
                <string>{-119,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{203,219}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma22.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,440},{203,217}}</string>
                <key>offset</key>
                <string>{-119,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{203,217}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma23.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,440},{203,217}}</string>
                <key>offset</key>
                <string>{-119,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{203,217}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma24.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,661},{203,215}}</string>
                <key>offset</key>
                <string>{-119,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{203,215}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma25.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,444},{203,215}}</string>
                <key>offset</key>
                <string>{-119,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{203,215}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma26.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,657},{203,215}}</string>
                <key>offset</key>
                <string>{-119,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{203,215}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma27.png</key>
            <dict>
                <key>frame</key>
                <string>{{617,440},{203,215}}</string>
                <key>offset</key>
                <string>{-119,4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,13},{203,215}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma28.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,659},{203,215}}</string>
                <key>offset</key>
                <string>{-119,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{203,215}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma29.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,659},{203,215}}</string>
                <key>offset</key>
                <string>{-119,5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,12},{203,215}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,663},{203,215}}</string>
                <key>offset</key>
                <string>{-119,6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,11},{203,215}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma31.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,221},{205,217}}</string>
                <key>offset</key>
                <string>{-118,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,9},{205,217}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma32.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,221},{205,215}}</string>
                <key>offset</key>
                <string>{-118,7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,10},{205,215}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma33.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,221},{205,217}}</string>
                <key>offset</key>
                <string>{-118,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,8},{205,217}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma34.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,2},{205,217}}</string>
                <key>offset</key>
                <string>{-118,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{205,217}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma35.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{205,217}}</string>
                <key>offset</key>
                <string>{-118,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{205,217}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma36.png</key>
            <dict>
                <key>frame</key>
                <string>{{207,2},{205,217}}</string>
                <key>offset</key>
                <string>{-118,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{205,217}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,444},{203,217}}</string>
                <key>offset</key>
                <string>{-119,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{203,217}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,223},{203,219}}</string>
                <key>offset</key>
                <string>{-119,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{203,219}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma39.png</key>
            <dict>
                <key>frame</key>
                <string>{{828,2},{203,219}}</string>
                <key>offset</key>
                <string>{-119,9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,6},{203,219}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
            <key>scene2_gooma40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{203,219}}</string>
                <key>offset</key>
                <string>{-119,8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,7},{203,219}}</string>
                <key>sourceSize</key>
                <string>{441,249}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene2_gooma_2nd.pvr.ccz</string>
            <key>size</key>
            <string>{1033,880}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7f09c373bbf9e2ce0b1176618f49237f$</string>
            <key>textureFileName</key>
            <string>scene2_gooma_2nd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
