<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_gooma_2nd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,829},{427,388}}</string>
                <key>offset</key>
                <string>{-11,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{230,77},{427,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1556,1607},{433,386}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,79},{433,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1566},{433,386}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,79},{433,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1294},{433,388}}</string>
                <key>offset</key>
                <string>{-15,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,77},{433,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,859},{433,388}}</string>
                <key>offset</key>
                <string>{-15,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,77},{433,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,784},{431,388}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,77},{431,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,394},{431,388}}</string>
                <key>offset</key>
                <string>{-14,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{225,77},{431,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd16.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,2},{441,396}}</string>
                <key>offset</key>
                <string>{-18,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{216,69},{441,396}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{449,398}}</string>
                <key>offset</key>
                <string>{-22,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,67},{449,398}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{455,388}}</string>
                <key>offset</key>
                <string>{-25,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{202,77},{455,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd19.png</key>
            <dict>
                <key>frame</key>
                <string>{{896,2},{447,390}}</string>
                <key>offset</key>
                <string>{-21,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{210,75},{447,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1599,1219},{431,386}}</string>
                <key>offset</key>
                <string>{-13,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,79},{431,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1345,2},{433,390}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,75},{433,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1168,1174},{429,390}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,75},{429,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,394},{433,386}}</string>
                <key>offset</key>
                <string>{-14,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{224,79},{433,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,402},{435,386}}</string>
                <key>offset</key>
                <string>{-16,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{221,79},{435,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,1270},{433,386}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,79},{433,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,835},{433,386}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,79},{433,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,400},{433,386}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,79},{433,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd8.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1274},{433,386}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,79},{433,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_2nd9.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,839},{433,386}}</string>
                <key>offset</key>
                <string>{-15,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,79},{433,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_gooma_2nd-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f8dd9409e8e1530b5e4e9e402094641a$</string>
            <key>textureFileName</key>
            <string>scene1_gooma_2nd-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
