<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene6_goomaYelling1.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{122,248}}</string>
                <key>offset</key>
                <string>{157,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling10.png</key>
            <dict>
                <key>frame</key>
                <string>{{742,280},{236,244}}</string>
                <key>offset</key>
                <string>{127,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{293,76},{236,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{192,248}}</string>
                <key>offset</key>
                <string>{142,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{330,72},{192,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling12.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,2},{138,248}}</string>
                <key>offset</key>
                <string>{165,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,72},{138,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling13.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,252},{150,248}}</string>
                <key>offset</key>
                <string>{166,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{375,72},{150,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,752},{152,248}}</string>
                <key>offset</key>
                <string>{172,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,72},{152,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling15.png</key>
            <dict>
                <key>frame</key>
                <string>{{156,752},{150,248}}</string>
                <key>offset</key>
                <string>{177,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,72},{150,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling16.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,2},{148,246}}</string>
                <key>offset</key>
                <string>{181,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{391,74},{148,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling17.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{148,248}}</string>
                <key>offset</key>
                <string>{177,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{387,72},{148,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling18.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,252},{144,248}}</string>
                <key>offset</key>
                <string>{171,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,72},{144,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling19.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,502},{144,248}}</string>
                <key>offset</key>
                <string>{167,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,72},{144,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling2.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,252},{122,248}}</string>
                <key>offset</key>
                <string>{157,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling20.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,752},{144,248}}</string>
                <key>offset</key>
                <string>{167,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,72},{144,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling21.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,502},{146,248}}</string>
                <key>offset</key>
                <string>{171,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,72},{146,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling22.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,2},{150,246}}</string>
                <key>offset</key>
                <string>{179,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{388,74},{150,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling23.png</key>
            <dict>
                <key>frame</key>
                <string>{{588,252},{152,246}}</string>
                <key>offset</key>
                <string>{183,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{391,74},{152,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling24.png</key>
            <dict>
                <key>frame</key>
                <string>{{584,502},{152,246}}</string>
                <key>offset</key>
                <string>{184,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{392,74},{152,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling25.png</key>
            <dict>
                <key>frame</key>
                <string>{{580,752},{156,246}}</string>
                <key>offset</key>
                <string>{180,-37}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,74},{156,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,502},{162,248}}</string>
                <key>offset</key>
                <string>{174,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{377,72},{162,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{162,248}}</string>
                <key>offset</key>
                <string>{169,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,72},{162,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling3.png</key>
            <dict>
                <key>frame</key>
                <string>{{460,502},{122,248}}</string>
                <key>offset</key>
                <string>{166,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{389,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling4.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,752},{124,248}}</string>
                <key>offset</key>
                <string>{173,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{395,72},{124,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling5.png</key>
            <dict>
                <key>frame</key>
                <string>{{762,152},{126,246}}</string>
                <key>offset</key>
                <string>{182,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{403,74},{126,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling6.png</key>
            <dict>
                <key>frame</key>
                <string>{{870,778},{128,242}}</string>
                <key>offset</key>
                <string>{186,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{406,78},{128,242}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling7.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,778},{130,242}}</string>
                <key>offset</key>
                <string>{186,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,78},{130,242}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling8.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,646},{130,242}}</string>
                <key>offset</key>
                <string>{186,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,78},{130,242}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_goomaYelling9.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,518},{126,244}}</string>
                <key>offset</key>
                <string>{185,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{406,76},{126,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_goomaYelling.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:df59a6c1c1f4d902d20d514aaf0578f9$</string>
            <key>textureFileName</key>
            <string>scene6_goomaYelling.pvr.ccz</string>
        </dict>
    </dict>
</plist>
