<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_backwave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{14,16},{462,10}}</string>
                <key>offset</key>
                <string>{-28,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,241},{462,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave10.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,16},{430,10}}</string>
                <key>offset</key>
                <string>{-53,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,241},{430,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave11.png</key>
            <dict>
                <key>frame</key>
                <string>{{278,16},{428,10}}</string>
                <key>offset</key>
                <string>{-57,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{13,241},{428,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave12.png</key>
            <dict>
                <key>frame</key>
                <string>{{266,16},{428,10}}</string>
                <key>offset</key>
                <string>{-61,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,241},{428,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave13.png</key>
            <dict>
                <key>frame</key>
                <string>{{302,16},{426,10}}</string>
                <key>offset</key>
                <string>{-65,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{6,241},{426,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave14.png</key>
            <dict>
                <key>frame</key>
                <string>{{74,16},{424,10}}</string>
                <key>offset</key>
                <string>{-69,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,241},{424,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave15.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,16},{424,10}}</string>
                <key>offset</key>
                <string>{-72,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,241},{424,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave16.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,470},{276,10}}</string>
                <key>offset</key>
                <string>{-146,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,241},{276,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave17.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,16},{272,12}}</string>
                <key>offset</key>
                <string>{-148,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,239},{272,12}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave18.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,2},{508,10}}</string>
                <key>offset</key>
                <string>{-28,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{2,241},{508,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave19.png</key>
            <dict>
                <key>frame</key>
                <string>{{452,2},{502,10}}</string>
                <key>offset</key>
                <string>{-29,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{4,241},{502,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{38,16},{454,10}}</string>
                <key>offset</key>
                <string>{-28,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,241},{454,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave20.png</key>
            <dict>
                <key>frame</key>
                <string>{{464,2},{494,10}}</string>
                <key>offset</key>
                <string>{-30,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{7,241},{494,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave21.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,2},{486,10}}</string>
                <key>offset</key>
                <string>{-30,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{11,241},{486,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave22.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{478,10}}</string>
                <key>offset</key>
                <string>{-31,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,241},{478,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave23.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,2},{472,10}}</string>
                <key>offset</key>
                <string>{-32,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{16,241},{472,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{464,10}}</string>
                <key>offset</key>
                <string>{-33,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,241},{464,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave25.png</key>
            <dict>
                <key>frame</key>
                <string>{{26,16},{456,10}}</string>
                <key>offset</key>
                <string>{-34,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{22,241},{456,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave26.png</key>
            <dict>
                <key>frame</key>
                <string>{{328,16},{450,10}}</string>
                <key>offset</key>
                <string>{-35,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,241},{450,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave27.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,16},{442,10}}</string>
                <key>offset</key>
                <string>{-36,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,241},{442,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave28.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,448},{202,12}}</string>
                <key>offset</key>
                <string>{-155,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,239},{202,12}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave29.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,16},{452,10}}</string>
                <key>offset</key>
                <string>{-27,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,241},{452,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{352,16},{444,10}}</string>
                <key>offset</key>
                <string>{-28,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,241},{444,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave30.png</key>
            <dict>
                <key>frame</key>
                <string>{{340,16},{444,10}}</string>
                <key>offset</key>
                <string>{-28,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,241},{444,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave31.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,16},{438,10}}</string>
                <key>offset</key>
                <string>{-29,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,241},{438,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave32.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,16},{432,10}}</string>
                <key>offset</key>
                <string>{-31,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,241},{432,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave33.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,16},{426,10}}</string>
                <key>offset</key>
                <string>{-32,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,241},{426,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave34.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,16},{418,10}}</string>
                <key>offset</key>
                <string>{-33,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{42,241},{418,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave35.png</key>
            <dict>
                <key>frame</key>
                <string>{{98,16},{412,10}}</string>
                <key>offset</key>
                <string>{-35,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,241},{412,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave36.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,16},{406,10}}</string>
                <key>offset</key>
                <string>{-36,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,241},{406,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave37.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,16},{402,10}}</string>
                <key>offset</key>
                <string>{-39,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{44,241},{402,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave38.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,16},{402,10}}</string>
                <key>offset</key>
                <string>{-44,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,241},{402,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave39.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,16},{400,10}}</string>
                <key>offset</key>
                <string>{-47,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,241},{400,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave4.png</key>
            <dict>
                <key>frame</key>
                <string>{{376,16},{440,10}}</string>
                <key>offset</key>
                <string>{-31,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,241},{440,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave40.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,16},{400,10}}</string>
                <key>offset</key>
                <string>{-52,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,241},{400,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave41.png</key>
            <dict>
                <key>frame</key>
                <string>{{170,16},{398,10}}</string>
                <key>offset</key>
                <string>{-56,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{29,241},{398,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave42.png</key>
            <dict>
                <key>frame</key>
                <string>{{182,16},{390,10}}</string>
                <key>offset</key>
                <string>{-56,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,241},{390,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave43.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,16},{198,10}}</string>
                <key>offset</key>
                <string>{-153,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,241},{198,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave44.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,222},{200,10}}</string>
                <key>offset</key>
                <string>{-154,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{30,241},{200,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave45.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,16},{204,10}}</string>
                <key>offset</key>
                <string>{-156,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,241},{204,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave5.png</key>
            <dict>
                <key>frame</key>
                <string>{{388,16},{438,10}}</string>
                <key>offset</key>
                <string>{-34,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,241},{438,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,12}}</string>
                <key>offset</key>
                <string>{-38,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,239},{436,12}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{436,10}}</string>
                <key>offset</key>
                <string>{-42,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,241},{436,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,494},{434,10}}</string>
                <key>offset</key>
                <string>{-46,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,241},{434,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwave9.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,16},{432,10}}</string>
                <key>offset</key>
                <string>{-50,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,241},{432,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_backwave_1st.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cb934f7c8e444fadb532e6e826b672b$</string>
            <key>textureFileName</key>
            <string>scene1_backwave_1st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
