<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene4_fox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,432},{115,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,101}}</string>
                <key>sourceSize</key>
                <string>{115,101}</string>
            </dict>
            <key>scene4_fox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{115,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,101}}</string>
                <key>sourceSize</key>
                <string>{115,101}</string>
            </dict>
            <key>scene4_fox11.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,432},{115,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,101}}</string>
                <key>sourceSize</key>
                <string>{115,101}</string>
            </dict>
            <key>scene4_fox12.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,535},{115,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,100}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>scene4_fox13.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,442},{116,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{116,97}}</string>
                <key>sourceSize</key>
                <string>{116,97}</string>
            </dict>
            <key>scene4_fox14.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,2},{118,97}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,97}}</string>
                <key>sourceSize</key>
                <string>{118,97}</string>
            </dict>
            <key>scene4_fox15.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,2},{118,99}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{118,99}}</string>
                <key>sourceSize</key>
                <string>{118,99}</string>
            </dict>
            <key>scene4_fox16.png</key>
            <dict>
                <key>frame</key>
                <string>{{518,839},{112,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,101}}</string>
                <key>sourceSize</key>
                <string>{112,101}</string>
            </dict>
            <key>scene4_fox17.png</key>
            <dict>
                <key>frame</key>
                <string>{{415,841},{112,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{112,101}}</string>
                <key>sourceSize</key>
                <string>{112,101}</string>
            </dict>
            <key>scene4_fox18.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,843},{114,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,100}}</string>
                <key>sourceSize</key>
                <string>{114,100}</string>
            </dict>
            <key>scene4_fox19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,537},{115,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,100}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>scene4_fox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,545},{115,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,101}}</string>
                <key>sourceSize</key>
                <string>{115,101}</string>
            </dict>
            <key>scene4_fox20.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,535},{115,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,100}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>scene4_fox21.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,638},{115,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,100}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>scene4_fox22.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,634},{115,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,100}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>scene4_fox23.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,533},{115,100}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{115,100}}</string>
                <key>sourceSize</key>
                <string>{115,100}</string>
            </dict>
            <key>scene4_fox24.png</key>
            <dict>
                <key>frame</key>
                <string>{{587,535},{115,101}}</string>
                <key>offset</key>
                <string>{4,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{183,127},{115,101}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox25.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,327},{115,103}}</string>
                <key>offset</key>
                <string>{5,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,125},{115,103}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,327},{115,105}}</string>
                <key>offset</key>
                <string>{6,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,123},{115,105}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox27.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,216},{117,107}}</string>
                <key>offset</key>
                <string>{7,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,120},{117,107}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox28.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,216},{117,109}}</string>
                <key>offset</key>
                <string>{8,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,118},{117,109}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox29.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,216},{117,109}}</string>
                <key>offset</key>
                <string>{9,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{187,118},{117,109}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,740},{114,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,101}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>scene4_fox30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{117,109}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,118},{117,109}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox31.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,105},{117,109}}</string>
                <key>offset</key>
                <string>{10,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,118},{117,109}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox32.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,105},{117,109}}</string>
                <key>offset</key>
                <string>{12,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,118},{117,109}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox33.png</key>
            <dict>
                <key>frame</key>
                <string>{{121,105},{117,109}}</string>
                <key>offset</key>
                <string>{19,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{197,118},{117,109}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox34.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,115},{117,111}}</string>
                <key>offset</key>
                <string>{28,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,117},{117,111}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox35.png</key>
            <dict>
                <key>frame</key>
                <string>{{605,214},{117,111}}</string>
                <key>offset</key>
                <string>{37,-39}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,117},{117,111}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox36.png</key>
            <dict>
                <key>frame</key>
                <string>{{725,115},{117,111}}</string>
                <key>offset</key>
                <string>{45,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,118},{117,111}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox37.png</key>
            <dict>
                <key>frame</key>
                <string>{{845,2},{117,111}}</string>
                <key>offset</key>
                <string>{51,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{229,118},{117,111}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox38.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,103},{117,111}}</string>
                <key>offset</key>
                <string>{53,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,118},{117,111}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox39.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,101},{117,111}}</string>
                <key>offset</key>
                <string>{54,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,118},{117,111}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,738},{114,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,101}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>scene4_fox40.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,2},{117,111}}</string>
                <key>offset</key>
                <string>{55,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,118},{117,111}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,105},{117,109}}</string>
                <key>offset</key>
                <string>{56,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,119},{117,109}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox42.png</key>
            <dict>
                <key>frame</key>
                <string>{{843,228},{117,109}}</string>
                <key>offset</key>
                <string>{55,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{233,119},{117,109}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox43.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,228},{117,109}}</string>
                <key>offset</key>
                <string>{53,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,120},{117,109}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox44.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,216},{117,105}}</string>
                <key>offset</key>
                <string>{50,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,124},{117,105}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox45.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,327},{117,103}}</string>
                <key>offset</key>
                <string>{46,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{224,127},{117,103}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox46.png</key>
            <dict>
                <key>frame</key>
                <string>{{359,325},{117,103}}</string>
                <key>offset</key>
                <string>{45,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{223,129},{117,103}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox47.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,541},{115,105}}</string>
                <key>offset</key>
                <string>{40,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{219,126},{115,105}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox48.png</key>
            <dict>
                <key>frame</key>
                <string>{{310,843},{113,103}}</string>
                <key>offset</key>
                <string>{36,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{216,126},{113,103}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox49.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,740},{111,103}}</string>
                <key>offset</key>
                <string>{33,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,126},{111,103}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{208,637},{114,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,101}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>scene4_fox50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,639},{111,103}}</string>
                <key>offset</key>
                <string>{31,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{212,125},{111,103}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox51.png</key>
            <dict>
                <key>frame</key>
                <string>{{119,327},{115,103}}</string>
                <key>offset</key>
                <string>{30,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{209,125},{115,103}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox52.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,323},{117,103}}</string>
                <key>offset</key>
                <string>{30,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{208,125},{117,103}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox53.png</key>
            <dict>
                <key>frame</key>
                <string>{{365,2},{119,101}}</string>
                <key>offset</key>
                <string>{29,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{206,127},{119,101}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox54.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,2},{119,101}}</string>
                <key>offset</key>
                <string>{28,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{205,127},{119,101}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox55.png</key>
            <dict>
                <key>frame</key>
                <string>{{123,2},{119,101}}</string>
                <key>offset</key>
                <string>{26,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{203,127},{119,101}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{119,101}}</string>
                <key>offset</key>
                <string>{23,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,127},{119,101}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox57.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,442},{117,101}}</string>
                <key>offset</key>
                <string>{21,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,127},{117,101}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox58.png</key>
            <dict>
                <key>frame</key>
                <string>{{835,339},{117,101}}</string>
                <key>offset</key>
                <string>{18,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{196,127},{117,101}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox59.png</key>
            <dict>
                <key>frame</key>
                <string>{{597,432},{117,101}}</string>
                <key>offset</key>
                <string>{15,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,127},{117,101}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{105,839},{114,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,101}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>scene4_fox60.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,531},{115,101}}</string>
                <key>offset</key>
                <string>{13,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,127},{115,101}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox61.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,339},{117,101}}</string>
                <key>offset</key>
                <string>{10,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,127},{117,101}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox62.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,428},{117,101}}</string>
                <key>offset</key>
                <string>{7,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{185,127},{117,101}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox63.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,430},{115,101}}</string>
                <key>offset</key>
                <string>{5,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,127},{115,101}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_fox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,839},{114,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,101}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>scene4_fox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,736},{114,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,101}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
            <key>scene4_fox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{353,635},{114,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{114,101}}</string>
                <key>sourceSize</key>
                <string>{114,101}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene4_fox_1st.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:331722906f84de1753a6759ce49c99ff$</string>
            <key>textureFileName</key>
            <string>scene4_fox_1st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
