<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_gooma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,396},{216,196}}</string>
                <key>offset</key>
                <string>{5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,37},{216,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma10.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,2},{218,194}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,39},{218,194}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma11.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,398},{216,194}}</string>
                <key>offset</key>
                <string>{-8,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,39},{216,194}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma12.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,396},{216,196}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,37},{216,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{216,196}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,37},{216,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma14.png</key>
            <dict>
                <key>frame</key>
                <string>{{656,200},{216,196}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,37},{216,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma15.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,198},{216,196}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,37},{216,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma16.png</key>
            <dict>
                <key>frame</key>
                <string>{{220,198},{216,196}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,37},{216,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma17.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,794},{214,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,37},{214,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma18.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,594},{214,198}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,35},{214,198}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma19.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,594},{214,198}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,35},{214,198}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,198},{216,196}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,37},{216,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma20.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,594},{214,198}}</string>
                <key>offset</key>
                <string>{-5,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,35},{214,198}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma21.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,794},{214,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,37},{214,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma3.png</key>
            <dict>
                <key>frame</key>
                <string>{{664,2},{216,196}}</string>
                <key>offset</key>
                <string>{4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,37},{216,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,794},{214,196}}</string>
                <key>offset</key>
                <string>{2,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,37},{214,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,992},{212,198}}</string>
                <key>offset</key>
                <string>{0,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,35},{212,198}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,594},{214,198}}</string>
                <key>offset</key>
                <string>{-3,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,35},{214,198}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{214,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,37},{214,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma8.png</key>
            <dict>
                <key>frame</key>
                <string>{{224,2},{218,194}}</string>
                <key>offset</key>
                <string>{-7,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,39},{218,194}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{220,194}}</string>
                <key>offset</key>
                <string>{-9,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{108,39},{220,194}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_gooma_1st.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4c5c5b9641c49842ef2b65c77175ef5d$</string>
            <key>textureFileName</key>
            <string>scene1_gooma_1st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
