<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene2_waves1.png</key>
            <dict>
                <key>frame</key>
                <string>{{810,348},{214,20}}</string>
                <key>offset</key>
                <string>{61,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,260},{214,20}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves10.png</key>
            <dict>
                <key>frame</key>
                <string>{{978,2},{386,38}}</string>
                <key>offset</key>
                <string>{86,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{177,253},{386,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{390,38}}</string>
                <key>offset</key>
                <string>{77,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{166,253},{390,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves12.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,564},{394,38}}</string>
                <key>offset</key>
                <string>{72,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{159,253},{394,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,362},{402,38}}</string>
                <key>offset</key>
                <string>{61,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{144,253},{402,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,270},{406,38}}</string>
                <key>offset</key>
                <string>{55,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,253},{406,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves15.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,148},{410,38}}</string>
                <key>offset</key>
                <string>{50,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,253},{410,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{414,40}}</string>
                <key>offset</key>
                <string>{44,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{121,252},{414,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves17.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{412,50}}</string>
                <key>offset</key>
                <string>{44,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,242},{412,50}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves18.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,96},{410,50}}</string>
                <key>offset</key>
                <string>{44,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,242},{410,50}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{408,50}}</string>
                <key>offset</key>
                <string>{44,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,242},{408,50}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,532},{342,26}}</string>
                <key>offset</key>
                <string>{113,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,254},{342,26}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{406,50}}</string>
                <key>offset</key>
                <string>{44,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,242},{406,50}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{402,50}}</string>
                <key>offset</key>
                <string>{44,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,242},{402,50}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves22.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,388},{400,52}}</string>
                <key>offset</key>
                <string>{43,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,240},{400,52}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves23.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,564},{396,52}}</string>
                <key>offset</key>
                <string>{43,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{129,240},{396,52}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves24.png</key>
            <dict>
                <key>frame</key>
                <string>{{358,564},{392,52}}</string>
                <key>offset</key>
                <string>{43,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{131,240},{392,52}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves25.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,490},{390,52}}</string>
                <key>offset</key>
                <string>{43,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,240},{390,52}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves26.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{382,54}}</string>
                <key>offset</key>
                <string>{43,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{136,238},{382,54}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves27.png</key>
            <dict>
                <key>frame</key>
                <string>{{558,592},{308,52}}</string>
                <key>offset</key>
                <string>{78,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{208,239},{308,52}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves28.png</key>
            <dict>
                <key>frame</key>
                <string>{{504,592},{308,52}}</string>
                <key>offset</key>
                <string>{76,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{206,239},{308,52}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves29.png</key>
            <dict>
                <key>frame</key>
                <string>{{378,958},{310,54}}</string>
                <key>offset</key>
                <string>{73,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{202,237},{310,54}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves3.png</key>
            <dict>
                <key>frame</key>
                <string>{{474,592},{348,28}}</string>
                <key>offset</key>
                <string>{110,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{220,252},{348,28}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves30.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,592},{310,44}}</string>
                <key>offset</key>
                <string>{70,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{199,237},{310,44}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{374,54}}</string>
                <key>offset</key>
                <string>{97,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,238},{374,54}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves32.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,638},{376,52}}</string>
                <key>offset</key>
                <string>{96,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{192,240},{376,52}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves33.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,638},{378,52}}</string>
                <key>offset</key>
                <string>{95,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,240},{378,52}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves34.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,638},{380,50}}</string>
                <key>offset</key>
                <string>{94,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{188,241},{380,50}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves35.png</key>
            <dict>
                <key>frame</key>
                <string>{{690,638},{384,48}}</string>
                <key>offset</key>
                <string>{92,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{184,243},{384,48}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves36.png</key>
            <dict>
                <key>frame</key>
                <string>{{888,2},{386,48}}</string>
                <key>offset</key>
                <string>{91,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{182,243},{386,48}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,482},{388,48}}</string>
                <key>offset</key>
                <string>{90,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,243},{388,48}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves38.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,544},{390,46}}</string>
                <key>offset</key>
                <string>{88,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,245},{390,46}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves39.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,442},{392,46}}</string>
                <key>offset</key>
                <string>{86,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{174,245},{392,46}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves4.png</key>
            <dict>
                <key>frame</key>
                <string>{{444,592},{354,28}}</string>
                <key>offset</key>
                <string>{107,-106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{214,252},{354,28}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves40.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,544},{390,46}}</string>
                <key>offset</key>
                <string>{88,-108}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{177,245},{390,46}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves41.png</key>
            <dict>
                <key>frame</key>
                <string>{{272,564},{394,44}}</string>
                <key>offset</key>
                <string>{82,-109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{169,247},{394,44}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves42.png</key>
            <dict>
                <key>frame</key>
                <string>{{228,564},{396,42}}</string>
                <key>offset</key>
                <string>{78,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{164,249},{396,42}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves43.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,564},{396,42}}</string>
                <key>offset</key>
                <string>{76,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{162,249},{396,42}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves44.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,564},{396,42}}</string>
                <key>offset</key>
                <string>{74,-110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{160,249},{396,42}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves45.png</key>
            <dict>
                <key>frame</key>
                <string>{{44,564},{398,40}}</string>
                <key>offset</key>
                <string>{71,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{156,251},{398,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,564},{398,40}}</string>
                <key>offset</key>
                <string>{69,-111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{154,251},{398,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{400,38}}</string>
                <key>offset</key>
                <string>{66,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,253},{400,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves48.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,348},{402,38}}</string>
                <key>offset</key>
                <string>{64,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{147,253},{402,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves49.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,308},{404,38}}</string>
                <key>offset</key>
                <string>{61,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,253},{404,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves5.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,592},{364,30}}</string>
                <key>offset</key>
                <string>{102,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{204,250},{364,30}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves50.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,268},{406,38}}</string>
                <key>offset</key>
                <string>{58,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{139,253},{406,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves51.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,228},{406,38}}</string>
                <key>offset</key>
                <string>{56,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{137,253},{406,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves52.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,188},{408,38}}</string>
                <key>offset</key>
                <string>{53,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,253},{408,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{410,38}}</string>
                <key>offset</key>
                <string>{50,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{129,253},{410,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves54.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,86},{412,38}}</string>
                <key>offset</key>
                <string>{48,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{126,253},{412,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves55.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,54},{412,40}}</string>
                <key>offset</key>
                <string>{47,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{125,252},{412,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,44},{412,40}}</string>
                <key>offset</key>
                <string>{46,-112}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{124,252},{412,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves6.png</key>
            <dict>
                <key>frame</key>
                <string>{{982,638},{370,32}}</string>
                <key>offset</key>
                <string>{99,-105}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{198,249},{370,32}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves7.png</key>
            <dict>
                <key>frame</key>
                <string>{{940,638},{374,40}}</string>
                <key>offset</key>
                <string>{97,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{194,252},{374,40}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves8.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,638},{382,38}}</string>
                <key>offset</key>
                <string>{93,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{186,253},{382,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene2_waves9.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{386,38}}</string>
                <key>offset</key>
                <string>{89,-112}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,253},{386,38}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene2_waves_1st.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b9c12a8d8da955ac416b9cbf146520b8$</string>
            <key>textureFileName</key>
            <string>scene2_waves_1st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
