<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene8_boat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{292,154}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,272},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{292,156}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,270},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat11.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,318},{292,156}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,270},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1040},{290,156}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,269},{290,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat13.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,1038},{290,156}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,269},{290,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat14.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,944},{290,156}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,269},{290,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,296},{292,156}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,269},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,160},{292,156}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,269},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,160},{292,156}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{424,269},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat18.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,942},{290,156}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,269},{290,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,786},{290,156}}</string>
                <key>offset</key>
                <string>{2,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{425,269},{290,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,882},{292,154}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,272},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat20.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,160},{292,156}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,269},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat21.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,256},{292,156}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,269},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{292,156}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,269},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat23.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,160},{292,156}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,269},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1766,590},{290,156}}</string>
                <key>offset</key>
                <string>{1,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{424,269},{290,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat25.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,788},{292,154}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,271},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat26.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,786},{292,154}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,271},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,630},{292,154}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,271},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,630},{292,154}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,271},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,728},{292,154}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,271},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,726},{292,154}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,272},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat30.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,632},{292,154}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,271},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat31.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,630},{292,154}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,271},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,474},{292,154}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,271},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,474},{292,154}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,271},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,572},{292,154}}</string>
                <key>offset</key>
                <string>{0,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,271},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat35.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,570},{292,154}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,272},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat36.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,476},{292,154}}</string>
                <key>offset</key>
                <string>{0,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{422,272},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat37.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,474},{292,154}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,272},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1472,318},{292,154}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,272},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,318},{292,154}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,272},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,318},{292,154}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,272},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat40.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,414},{292,154}}</string>
                <key>offset</key>
                <string>{1,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,272},{292,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1776,2},{292,156}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{423,270},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1482,2},{292,156}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,270},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{292,156}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,270},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat8.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,2},{292,156}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,270},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_boat9.png</key>
            <dict>
                <key>frame</key>
                <string>{{600,2},{292,156}}</string>
                <key>offset</key>
                <string>{1,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{423,270},{292,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{596,252}}</string>
                <key>offset</key>
                <string>{13,-194}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,388},{596,252}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene8_boat-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:31e46e49873c3903eb829b5c7c589c72$</string>
            <key>textureFileName</key>
            <string>scene8_boat-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
