<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene6_curtainOpenRepeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,578},{396,286}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{396,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_curtainOpenRepeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,290},{396,286}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{396,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_curtainOpenRepeat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{396,286}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{396,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_curtainOpenRepeat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{396,286}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{396,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_curtainOpenRepeat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{396,286}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{396,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_curtainOpenRepeat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,286}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{396,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_curtainOpenRepeat.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cde7c20e73384adb5be2dc6efd1b09f0$</string>
            <key>textureFileName</key>
            <string>scene6_curtainOpenRepeat.pvr.ccz</string>
        </dict>
    </dict>
</plist>
