<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_frontwave31.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1292},{950,118}}</string>
                <key>offset</key>
                <string>{24,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,509},{950,118}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave32.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,350},{966,114}}</string>
                <key>offset</key>
                <string>{11,-250}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,513},{966,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave33.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,234},{972,114}}</string>
                <key>offset</key>
                <string>{6,-249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,512},{972,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave34.png</key>
            <dict>
                <key>frame</key>
                <string>{{996,118},{978,114}}</string>
                <key>offset</key>
                <string>{0,-249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,512},{978,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave35.png</key>
            <dict>
                <key>frame</key>
                <string>{{586,574},{978,116}}</string>
                <key>offset</key>
                <string>{-9,-248}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{70,510},{978,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave36.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,574},{978,116}}</string>
                <key>offset</key>
                <string>{-18,-247}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{61,509},{978,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave37.png</key>
            <dict>
                <key>frame</key>
                <string>{{350,574},{978,116}}</string>
                <key>offset</key>
                <string>{-36,-247}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{43,509},{978,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave38.png</key>
            <dict>
                <key>frame</key>
                <string>{{820,574},{978,114}}</string>
                <key>offset</key>
                <string>{-45,-247}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{34,510},{978,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave39.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,574},{978,114}}</string>
                <key>offset</key>
                <string>{-54,-247}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,510},{978,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1566},{872,108}}</string>
                <key>offset</key>
                <string>{-10,-243}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,509},{872,108}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave41.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1732},{870,108}}</string>
                <key>offset</key>
                <string>{-18,-243}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,509},{870,108}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave42.png</key>
            <dict>
                <key>frame</key>
                <string>{{952,1842},{830,108}}</string>
                <key>offset</key>
                <string>{-49,-243}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{104,509},{830,108}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1676},{940,116}}</string>
                <key>offset</key>
                <string>{0,-247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{98,509},{940,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,456},{988,116}}</string>
                <key>offset</key>
                <string>{17,-247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,509},{988,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave45.png</key>
            <dict>
                <key>frame</key>
                <string>{{234,574},{988,114}}</string>
                <key>offset</key>
                <string>{15,-248}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{89,511},{988,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave46.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,574},{990,114}}</string>
                <key>offset</key>
                <string>{12,-248}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{85,511},{990,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{990,114}}</string>
                <key>offset</key>
                <string>{7,-249}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{80,512},{990,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave48.png</key>
            <dict>
                <key>frame</key>
                <string>{{1056,2},{990,114}}</string>
                <key>offset</key>
                <string>{4,-249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,512},{990,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{992,114}}</string>
                <key>offset</key>
                <string>{1,-249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,512},{992,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{992,114}}</string>
                <key>offset</key>
                <string>{-1,-249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,512},{992,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,108},{992,114}}</string>
                <key>offset</key>
                <string>{-4,-250}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,513},{992,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave52.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,944},{958,116}}</string>
                <key>offset</key>
                <string>{4,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,510},{958,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave53.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,466},{958,116}}</string>
                <key>offset</key>
                <string>{-6,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,510},{958,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave54.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,824},{958,118}}</string>
                <key>offset</key>
                <string>{-15,-247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,508},{958,118}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave55.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,704},{958,118}}</string>
                <key>offset</key>
                <string>{-24,-246}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,507},{958,118}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave56.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,584},{958,118}}</string>
                <key>offset</key>
                <string>{-33,-246}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,507},{958,118}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave57.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1062},{958,114}}</string>
                <key>offset</key>
                <string>{-51,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,511},{958,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave58.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1178},{958,112}}</string>
                <key>offset</key>
                <string>{-60,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{29,512},{958,112}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave59.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1528},{958,110}}</string>
                <key>offset</key>
                <string>{-69,-249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,514},{958,110}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1052,104}}</string>
                <key>offset</key>
                <string>{42,-246}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,514},{1052,104}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave61.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1640},{952,90}}</string>
                <key>offset</key>
                <string>{89,-240}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{181,515},{952,90}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave62.png</key>
            <dict>
                <key>frame</key>
                <string>{{1952,466},{950,94}}</string>
                <key>offset</key>
                <string>{73,-238}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{166,511},{950,94}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave63.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,1412},{950,114}}</string>
                <key>offset</key>
                <string>{65,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,511},{950,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1794},{948,116}}</string>
                <key>offset</key>
                <string>{58,-247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{152,509},{948,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave65.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1912},{946,116}}</string>
                <key>offset</key>
                <string>{51,-247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{146,509},{946,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_frontwave_2nd-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:a4be1f13ae87a95a0aa9b1b309872403$</string>
            <key>textureFileName</key>
            <string>scene1_frontwave_2nd-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
