<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene5_background1.png</key>
            <dict>
                <key>frame</key>
                <string>{{0,0},{668,216}}</string>
                <key>offset</key>
                <string>{0,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,53},{668,216}}</string>
                <key>sourceSize</key>
                <string>{668,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene5_background1.pvr.ccz</string>
            <key>size</key>
            <string>{668,216}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6a48fdfbfd897cfe90d8609d31e62c80$</string>
            <key>textureFileName</key>
            <string>scene5_background1.pvr.ccz</string>
        </dict>
    </dict>
</plist>
