<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene6_leaf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{84,76}}</string>
                <key>offset</key>
                <string>{-6,70}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,52},{84,76}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_leaf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,286},{96,64}}</string>
                <key>offset</key>
                <string>{-10,83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,45},{96,64}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_leaf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{130,352},{96,42}}</string>
                <key>offset</key>
                <string>{-10,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,44},{96,42}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_sea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,252},{178,32}}</string>
                <key>offset</key>
                <string>{-72,-116}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,260},{178,32}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{216,248}}</string>
                <key>offset</key>
                <string>{-70,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,44},{216,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,286},{126,98}}</string>
                <key>offset</key>
                <string>{-106,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,168},{126,98}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_sky.pvr.ccz</string>
            <key>size</key>
            <string>{256,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:41d3f3b8b07647ebcef15b9c0ee25ef8$</string>
            <key>textureFileName</key>
            <string>scene6_sky.pvr.ccz</string>
        </dict>
    </dict>
</plist>
