<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene5_bigCloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{436,38}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{446,305},{436,38}}</string>
                <key>sourceSize</key>
                <string>{1336,640}</string>
            </dict>
            <key>scene5_smallCloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{42,2},{362,16}}</string>
                <key>offset</key>
                <string>{-4,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{483,316},{362,16}}</string>
                <key>sourceSize</key>
                <string>{1336,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene5_cloud-hd.pvr.ccz</string>
            <key>size</key>
            <string>{64,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:aeac0e00bbccd060ba3deb3510a1bea3$</string>
            <key>textureFileName</key>
            <string>scene5_cloud-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
