<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene4_gooma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{287,179}}</string>
                <key>offset</key>
                <string>{41,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,0},{287,179}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_gooma10.png</key>
            <dict>
                <key>frame</key>
                <string>{{265,595},{239,245}}</string>
                <key>offset</key>
                <string>{15,11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{132,0},{239,245}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_gooma11.png</key>
            <dict>
                <key>frame</key>
                <string>{{237,1101},{223,247}}</string>
                <key>offset</key>
                <string>{23,10}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{148,0},{223,247}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_gooma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{293,293},{289,181}}</string>
                <key>offset</key>
                <string>{40,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,0},{289,181}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_gooma3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,231},{289,181}}</string>
                <key>offset</key>
                <string>{39,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{131,0},{289,181}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_gooma4.png</key>
            <dict>
                <key>frame</key>
                <string>{{297,2},{289,183}}</string>
                <key>offset</key>
                <string>{40,42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{132,0},{289,183}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_gooma5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{293,227}}</string>
                <key>offset</key>
                <string>{38,20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,0},{293,227}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_gooma6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1069},{259,233}}</string>
                <key>offset</key>
                <string>{19,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{126,0},{259,233}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_gooma7.png</key>
            <dict>
                <key>frame</key>
                <string>{{263,842},{257,235}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{125,0},{257,235}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_gooma8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{259,235}}</string>
                <key>offset</key>
                <string>{16,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,0},{259,235}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_gooma9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,595},{261,235}}</string>
                <key>offset</key>
                <string>{17,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{123,0},{261,235}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene4_gooma_1st.pvr.ccz</string>
            <key>size</key>
            <string>{511,1340}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c41fcbdcc2f4e3fb3706df957cae35d5$</string>
            <key>textureFileName</key>
            <string>scene4_gooma_1st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
