<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_goomaRepeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,37},{214,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat10.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,612},{212,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,37},{212,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat11.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,398},{212,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,37},{212,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat12.png</key>
            <dict>
                <key>frame</key>
                <string>{{628,200},{212,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,37},{212,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat13.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,200},{212,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,37},{212,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat14.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,200},{212,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,37},{212,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,628},{212,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,37},{212,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{212,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,37},{212,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{212,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,37},{212,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat18.png</key>
            <dict>
                <key>frame</key>
                <string>{{594,594},{212,194}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,39},{212,194}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat19.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,398},{212,194}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,39},{212,194}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{646,2},{212,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,37},{212,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat20.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,612},{212,194}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,39},{212,194}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat21.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,398},{212,194}}</string>
                <key>offset</key>
                <string>{-5,-8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{116,39},{212,194}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,2},{212,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,37},{212,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,806},{210,196}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,37},{210,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{790,594},{210,196}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,37},{210,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{624,808},{210,196}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{118,37},{210,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat7.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,826},{210,196}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,37},{210,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat8.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,826},{210,196}}</string>
                <key>offset</key>
                <string>{-4,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{118,37},{210,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_goomaRepeat9.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{212,196}}</string>
                <key>offset</key>
                <string>{-5,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,37},{212,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_goomaRepeat.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4d13205bc7ead2f311a6ec63de787949$</string>
            <key>textureFileName</key>
            <string>scene1_goomaRepeat.pvr.ccz</string>
        </dict>
    </dict>
</plist>
