<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene5_gooma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,634},{314,570}}</string>
                <key>offset</key>
                <string>{-131,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{280,49},{314,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1146,2},{314,572}}</string>
                <key>offset</key>
                <string>{-91,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,46},{314,572}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1150,1712},{322,572}}</string>
                <key>offset</key>
                <string>{-89,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{318,47},{322,572}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma12.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1274},{320,570}}</string>
                <key>offset</key>
                <string>{-88,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,50},{320,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1722,1142},{320,568}}</string>
                <key>offset</key>
                <string>{-87,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{321,53},{320,568}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,954},{318,568}}</string>
                <key>offset</key>
                <string>{-68,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,52},{318,568}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{314,568}}</string>
                <key>offset</key>
                <string>{-56,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,51},{314,568}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,318},{314,570}}</string>
                <key>offset</key>
                <string>{-52,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,49},{314,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma17.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1596},{320,572}}</string>
                <key>offset</key>
                <string>{-53,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,46},{320,572}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{320,572}}</string>
                <key>offset</key>
                <string>{-51,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{357,47},{320,572}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,950},{318,570}}</string>
                <key>offset</key>
                <string>{-48,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,50},{318,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,318},{314,570}}</string>
                <key>offset</key>
                <string>{-133,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{278,48},{314,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma20.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,950},{318,568}}</string>
                <key>offset</key>
                <string>{-33,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,52},{318,568}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,632},{316,568}}</string>
                <key>offset</key>
                <string>{-22,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,52},{316,568}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1270},{318,572}}</string>
                <key>offset</key>
                <string>{-134,-12}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{275,46},{318,572}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1274},{320,572}}</string>
                <key>offset</key>
                <string>{-134,-13}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,47},{320,572}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1716,572},{318,568}}</string>
                <key>offset</key>
                <string>{-132,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{277,52},{318,568}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,2},{320,568}}</string>
                <key>offset</key>
                <string>{-125,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{283,52},{320,568}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,634},{318,568}}</string>
                <key>offset</key>
                <string>{-115,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{294,52},{318,568}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{312,570}}</string>
                <key>offset</key>
                <string>{-95,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,49},{312,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_gooma9.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,2},{314,570}}</string>
                <key>offset</key>
                <string>{-91,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{320,49},{314,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene5_gooma_1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:911b799f58819eea6065ef2bf278a2c8$</string>
            <key>textureFileName</key>
            <string>scene5_gooma_1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
