<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene3_bigfox34.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,927},{183,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox35.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,742},{183,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox36.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,370},{183,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox37.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,895},{181,157}}</string>
                <key>offset</key>
                <string>{120,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox38.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,712},{181,157}}</string>
                <key>offset</key>
                <string>{120,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox39.png</key>
            <dict>
                <key>frame</key>
                <string>{{348,346},{181,157}}</string>
                <key>offset</key>
                <string>{120,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox40.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,529},{181,157}}</string>
                <key>offset</key>
                <string>{120,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox41.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,2},{183,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox42.png</key>
            <dict>
                <key>frame</key>
                <string>{{346,1637},{181,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox43.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1822},{181,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox44.png</key>
            <dict>
                <key>frame</key>
                <string>{{344,1454},{181,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox45.png</key>
            <dict>
                <key>frame</key>
                <string>{{324,163},{181,159}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,9},{181,159}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox46.png</key>
            <dict>
                <key>frame</key>
                <string>{{187,1639},{181,157}}</string>
                <key>offset</key>
                <string>{119,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,11},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox47.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,557},{183,157}}</string>
                <key>offset</key>
                <string>{119,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,11},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox48.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1826},{183,157}}</string>
                <key>offset</key>
                <string>{119,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,11},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1667},{183,157}}</string>
                <key>offset</key>
                <string>{119,43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{263,11},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1482},{183,157}}</string>
                <key>offset</key>
                <string>{119,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,11},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox51.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,372},{183,159}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,9},{183,159}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,187},{183,159}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,9},{183,159}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox53.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{183,159}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,9},{183,159}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox54.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{181,159}}</string>
                <key>offset</key>
                <string>{120,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,9},{181,159}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox55.png</key>
            <dict>
                <key>frame</key>
                <string>{{163,187},{181,159}}</string>
                <key>offset</key>
                <string>{120,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,9},{181,159}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1297},{183,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox57.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,1271},{181,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox58.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1480},{181,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox59.png</key>
            <dict>
                <key>frame</key>
                <string>{{318,1112},{181,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox60.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1297},{181,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{264,10},{181,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox61.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1112},{183,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox62.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,927},{183,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox63.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,742},{183,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox64.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,557},{183,157}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,10},{183,157}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
            <key>scene3_bigfox65.png</key>
            <dict>
                <key>frame</key>
                <string>{{161,1112},{183,155}}</string>
                <key>offset</key>
                <string>{119,44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,11},{183,155}}</string>
                <key>sourceSize</key>
                <string>{471,265}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene3_bigfox_2nd.pvr.ccz</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:bfd9004030d0a519ade9be60dc7bf4e6$</string>
            <key>textureFileName</key>
            <string>scene3_bigfox_2nd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
