<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene7_door1.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1894},{102,418}}</string>
                <key>offset</key>
                <string>{293,111}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{102,418}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door10.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{140,430}}</string>
                <key>offset</key>
                <string>{313,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{811,0},{140,430}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door11.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,1300},{144,430}}</string>
                <key>offset</key>
                <string>{315,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{811,0},{144,430}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door12.png</key>
            <dict>
                <key>frame</key>
                <string>{{874,866},{148,432}}</string>
                <key>offset</key>
                <string>{317,104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{811,0},{148,432}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1378},{152,432}}</string>
                <key>offset</key>
                <string>{318,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{152,432}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door14.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1256},{156,432}}</string>
                <key>offset</key>
                <string>{320,104}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{156,432}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1218},{158,434}}</string>
                <key>offset</key>
                <string>{322,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{811,0},{158,434}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door16.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,1094},{160,434}}</string>
                <key>offset</key>
                <string>{323,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{811,0},{160,434}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1052},{164,434}}</string>
                <key>offset</key>
                <string>{324,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{164,434}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door18.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,926},{166,434}}</string>
                <key>offset</key>
                <string>{325,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{166,434}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,884},{166,434}}</string>
                <key>offset</key>
                <string>{326,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{811,0},{166,434}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1894},{106,420}}</string>
                <key>offset</key>
                <string>{295,110}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{106,420}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door20.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,756},{168,434}}</string>
                <key>offset</key>
                <string>{326,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{168,434}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,714},{168,434}}</string>
                <key>offset</key>
                <string>{326,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{168,434}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door22.png</key>
            <dict>
                <key>frame</key>
                <string>{{438,586},{168,434}}</string>
                <key>offset</key>
                <string>{327,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{811,0},{168,434}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,544},{168,434}}</string>
                <key>offset</key>
                <string>{327,103}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{811,0},{168,434}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,330},{212,438}}</string>
                <key>offset</key>
                <string>{349,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{811,0},{212,438}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door25.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,322},{262,438}}</string>
                <key>offset</key>
                <string>{374,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{811,0},{262,438}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door26.png</key>
            <dict>
                <key>frame</key>
                <string>{{442,2},{318,438}}</string>
                <key>offset</key>
                <string>{402,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{811,0},{318,438}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,438}}</string>
                <key>offset</key>
                <string>{405,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{326,438}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{326,438}}</string>
                <key>offset</key>
                <string>{405,101}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{326,438}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1782},{110,422}}</string>
                <key>offset</key>
                <string>{297,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{110,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door4.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1674},{114,422}}</string>
                <key>offset</key>
                <string>{300,109}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{811,0},{114,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1662},{118,424}}</string>
                <key>offset</key>
                <string>{302,108}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{811,0},{118,424}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door6.png</key>
            <dict>
                <key>frame</key>
                <string>{{430,1548},{124,426}}</string>
                <key>offset</key>
                <string>{304,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{124,426}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1532},{128,426}}</string>
                <key>offset</key>
                <string>{306,107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{810,0},{128,426}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door8.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,1414},{132,428}}</string>
                <key>offset</key>
                <string>{309,106}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{811,0},{132,428}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_door9.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,434},{136,430}}</string>
                <key>offset</key>
                <string>{311,105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{811,0},{136,430}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene7_door-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3e00fb023359c129078d74286715733c$</string>
            <key>textureFileName</key>
            <string>scene7_door-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
