<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_gooma_3rd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,786},{429,390}}</string>
                <key>offset</key>
                <string>{-12,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{228,75},{429,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,2},{399,370}}</string>
                <key>offset</key>
                <string>{-125,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,91},{399,370}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1566},{393,364}}</string>
                <key>offset</key>
                <string>{-142,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{116,96},{393,364}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1293,374},{387,358}}</string>
                <key>offset</key>
                <string>{-162,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,101},{387,358}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1682,381},{383,354}}</string>
                <key>offset</key>
                <string>{-181,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{82,104},{383,354}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1694,2},{377,346}}</string>
                <key>offset</key>
                <string>{-201,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{65,110},{377,346}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd15.png</key>
            <dict>
                <key>frame</key>
                <string>{{397,1566},{371,340}}</string>
                <key>offset</key>
                <string>{-220,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{49,116},{371,340}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd16.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,770},{365,334}}</string>
                <key>offset</key>
                <string>{-239,-31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,120},{365,334}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd17.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1106},{361,328}}</string>
                <key>offset</key>
                <string>{-259,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,125},{361,328}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd18.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1436},{353,320}}</string>
                <key>offset</key>
                <string>{-278,-36}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,132},{353,320}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,1436},{331,314}}</string>
                <key>offset</key>
                <string>{-289,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,136},{331,314}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{429,390}}</string>
                <key>offset</key>
                <string>{-14,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{226,75},{429,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,770},{309,308}}</string>
                <key>offset</key>
                <string>{-300,-39}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,141},{309,308}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,766},{297,306}}</string>
                <key>offset</key>
                <string>{-306,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,143},{297,306}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd22.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1170},{285,304}}</string>
                <key>offset</key>
                <string>{-312,-40}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,144},{285,304}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd23.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1769},{275,300}}</string>
                <key>offset</key>
                <string>{-317,-42}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,148},{275,300}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1229,1081},{263,296}}</string>
                <key>offset</key>
                <string>{-323,-43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,151},{263,296}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1346},{251,294}}</string>
                <key>offset</key>
                <string>{-329,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,152},{251,294}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1539,1074},{241,292}}</string>
                <key>offset</key>
                <string>{-334,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,154},{241,292}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd27.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1758},{229,288}}</string>
                <key>offset</key>
                <string>{-340,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,157},{229,288}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,1317},{217,284}}</string>
                <key>offset</key>
                <string>{-346,-46}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,160},{217,284}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,766},{205,282}}</string>
                <key>offset</key>
                <string>{-352,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,162},{205,282}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{429,390}}</string>
                <key>offset</key>
                <string>{-18,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{222,75},{429,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1789,1752},{193,278}}</string>
                <key>offset</key>
                <string>{-358,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,165},{193,278}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1272,1769},{181,276}}</string>
                <key>offset</key>
                <string>{-364,-48}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,166},{181,276}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1769},{171,274}}</string>
                <key>offset</key>
                <string>{-369,-49}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,168},{171,274}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1769},{159,270}}</string>
                <key>offset</key>
                <string>{-375,-50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,171},{159,270}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1663,1603},{147,266}}</string>
                <key>offset</key>
                <string>{-381,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,175},{147,266}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1838,1050},{137,248}}</string>
                <key>offset</key>
                <string>{-386,-60}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,192},{137,248}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1410,1642},{125,240}}</string>
                <key>offset</key>
                <string>{-392,-63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,199},{125,240}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1932},{113,234}}</string>
                <key>offset</key>
                <string>{-398,-65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,204},{113,234}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd38.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1170},{101,200}}</string>
                <key>offset</key>
                <string>{-404,-80}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,236},{101,200}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd39.png</key>
            <dict>
                <key>frame</key>
                <string>{{423,1457},{89,196}}</string>
                <key>offset</key>
                <string>{-410,-80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,238},{89,196}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{429,390}}</string>
                <key>offset</key>
                <string>{-28,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{212,75},{429,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1211,1346},{77,184}}</string>
                <key>offset</key>
                <string>{-416,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,247},{77,184}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd41.png</key>
            <dict>
                <key>frame</key>
                <string>{{382,1939},{67,166}}</string>
                <key>offset</key>
                <string>{-421,-88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,261},{67,166}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd42.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1932},{55,142}}</string>
                <key>offset</key>
                <string>{-427,-95}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,280},{55,142}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd43.png</key>
            <dict>
                <key>frame</key>
                <string>{{739,1372},{43,60}}</string>
                <key>offset</key>
                <string>{-433,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,355},{43,60}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd44.png</key>
            <dict>
                <key>frame</key>
                <string>{{621,1457},{31,32}}</string>
                <key>offset</key>
                <string>{-439,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,355},{31,32}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd45.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,1989},{21,22}}</string>
                <key>offset</key>
                <string>{-444,-111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,356},{21,22}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd46.png</key>
            <dict>
                <key>frame</key>
                <string>{{970,1758},{9,10}}</string>
                <key>offset</key>
                <string>{-450,-107}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,358},{9,10}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{864,2},{427,390}}</string>
                <key>offset</key>
                <string>{-41,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{200,75},{427,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,394},{427,392}}</string>
                <key>offset</key>
                <string>{-57,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{184,73},{427,392}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1178},{419,386}}</string>
                <key>offset</key>
                <string>{-73,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,78},{419,386}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd8.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,788},{413,380}}</string>
                <key>offset</key>
                <string>{-90,-17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{158,83},{413,380}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_gooma_3rd9.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,394},{407,374}}</string>
                <key>offset</key>
                <string>{-108,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,88},{407,374}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_gooma_3rd-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:c4ccb1968b89b4a13fef6e4c3934eb3d$</string>
            <key>textureFileName</key>
            <string>scene1_gooma_3rd-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
