<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene7_door1.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,216},{52,210}}</string>
                <key>offset</key>
                <string>{146,55}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,0},{52,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door10.png</key>
            <dict>
                <key>frame</key>
                <string>{{336,2},{72,216}}</string>
                <key>offset</key>
                <string>{156,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,0},{72,216}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door11.png</key>
            <dict>
                <key>frame</key>
                <string>{{334,222},{74,216}}</string>
                <key>offset</key>
                <string>{157,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,0},{74,216}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door12.png</key>
            <dict>
                <key>frame</key>
                <string>{{306,442},{76,216}}</string>
                <key>offset</key>
                <string>{158,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,0},{76,216}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door13.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,664},{76,216}}</string>
                <key>offset</key>
                <string>{159,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,0},{76,216}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door14.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,886},{78,216}}</string>
                <key>offset</key>
                <string>{160,52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,0},{78,216}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door15.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,2},{80,218}}</string>
                <key>offset</key>
                <string>{161,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,0},{80,218}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door16.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,222},{82,218}}</string>
                <key>offset</key>
                <string>{161,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,0},{82,218}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door17.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,444},{82,218}}</string>
                <key>offset</key>
                <string>{162,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,0},{82,218}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door18.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,666},{84,218}}</string>
                <key>offset</key>
                <string>{162,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,0},{84,218}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door19.png</key>
            <dict>
                <key>frame</key>
                <string>{{168,2},{84,218}}</string>
                <key>offset</key>
                <string>{163,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,0},{84,218}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door2.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,966},{54,210}}</string>
                <key>offset</key>
                <string>{147,55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,0},{54,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door20.png</key>
            <dict>
                <key>frame</key>
                <string>{{164,224},{84,218}}</string>
                <key>offset</key>
                <string>{163,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,0},{84,218}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door21.png</key>
            <dict>
                <key>frame</key>
                <string>{{136,446},{84,218}}</string>
                <key>offset</key>
                <string>{163,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,0},{84,218}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door22.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,668},{86,218}}</string>
                <key>offset</key>
                <string>{163,51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,0},{86,218}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,890},{86,218}}</string>
                <key>offset</key>
                <string>{163,51}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,0},{86,218}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,668},{108,220}}</string>
                <key>offset</key>
                <string>{174,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,0},{108,220}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,446},{132,220}}</string>
                <key>offset</key>
                <string>{187,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,0},{132,220}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,224},{160,220}}</string>
                <key>offset</key>
                <string>{201,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,0},{160,220}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,220}}</string>
                <key>offset</key>
                <string>{202,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,0},{164,220}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{164,220}}</string>
                <key>offset</key>
                <string>{202,50}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,0},{164,220}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door3.png</key>
            <dict>
                <key>frame</key>
                <string>{{222,966},{56,212}}</string>
                <key>offset</key>
                <string>{148,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{404,0},{56,212}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door4.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{58,212}}</string>
                <key>offset</key>
                <string>{150,54}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,0},{58,212}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door5.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,936},{60,212}}</string>
                <key>offset</key>
                <string>{151,54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,0},{60,212}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door6.png</key>
            <dict>
                <key>frame</key>
                <string>{{440,872},{62,214}}</string>
                <key>offset</key>
                <string>{152,53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{405,0},{62,214}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door7.png</key>
            <dict>
                <key>frame</key>
                <string>{{436,656},{64,214}}</string>
                <key>offset</key>
                <string>{153,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{405,0},{64,214}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door8.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,440},{68,214}}</string>
                <key>offset</key>
                <string>{154,53}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,0},{68,214}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_door9.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,660},{70,216}}</string>
                <key>offset</key>
                <string>{155,52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{404,0},{70,216}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene7_door.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:057a71aa420b0caf44198a8971e99662$</string>
            <key>textureFileName</key>
            <string>scene7_door.pvr.ccz</string>
        </dict>
    </dict>
</plist>
