<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene4_gooma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1623,2},{577,359}}</string>
                <key>offset</key>
                <string>{82,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,0},{577,359}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma10.png</key>
            <dict>
                <key>frame</key>
                <string>{{525,469},{475,487}}</string>
                <key>offset</key>
                <string>{31,23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,0},{475,487}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma11.png</key>
            <dict>
                <key>frame</key>
                <string>{{519,946},{447,491}}</string>
                <key>offset</key>
                <string>{46,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,0},{447,491}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1593,581},{575,359}}</string>
                <key>offset</key>
                <string>{81,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,0},{575,359}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,838},{577,363}}</string>
                <key>offset</key>
                <string>{79,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{264,0},{577,363}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,473},{577,363}}</string>
                <key>offset</key>
                <string>{80,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{265,0},{577,363}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{585,451}}</string>
                <key>offset</key>
                <string>{76,41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{257,0},{585,451}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma6.png</key>
            <dict>
                <key>frame</key>
                <string>{{589,2},{517,465}}</string>
                <key>offset</key>
                <string>{38,34}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{253,0},{517,465}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1108,2},{513,469}}</string>
                <key>offset</key>
                <string>{35,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,0},{513,469}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,926},{515,469}}</string>
                <key>offset</key>
                <string>{33,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,0},{515,469}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,455},{521,469}}</string>
                <key>offset</key>
                <string>{36,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{249,0},{521,469}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene4_gooma_1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1984,1398}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:242900acb75752a2d5ca378cae813276$</string>
            <key>textureFileName</key>
            <string>scene4_gooma_1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
