<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene3_backfox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{494,146}}</string>
                <key>offset</key>
                <string>{-38,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,287},{494,146}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{492,150}}</string>
                <key>offset</key>
                <string>{-37,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,288},{492,150}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,508},{492,152}}</string>
                <key>offset</key>
                <string>{-37,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,287},{492,152}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{494,152}}</string>
                <key>offset</key>
                <string>{-37,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,286},{494,152}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1490,662},{494,152}}</string>
                <key>offset</key>
                <string>{-38,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,286},{494,152}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox14.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,662},{494,152}}</string>
                <key>offset</key>
                <string>{-38,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,286},{494,152}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox15.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,660},{494,152}}</string>
                <key>offset</key>
                <string>{-38,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,286},{494,152}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,660},{494,152}}</string>
                <key>offset</key>
                <string>{-38,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,287},{494,152}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox17.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,508},{494,150}}</string>
                <key>offset</key>
                <string>{-38,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,288},{494,150}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,358},{492,148}}</string>
                <key>offset</key>
                <string>{-38,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,289},{492,148}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1486,60},{492,146}}</string>
                <key>offset</key>
                <string>{-38,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,289},{492,146}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,358},{494,148}}</string>
                <key>offset</key>
                <string>{-37,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,286},{494,148}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox20.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,60},{492,146}}</string>
                <key>offset</key>
                <string>{-37,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,288},{492,146}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox21.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,60},{492,146}}</string>
                <key>offset</key>
                <string>{-37,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,288},{492,146}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,358},{494,148}}</string>
                <key>offset</key>
                <string>{-38,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,286},{494,148}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1488,208},{494,148}}</string>
                <key>offset</key>
                <string>{-38,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,287},{494,148}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,508},{494,150}}</string>
                <key>offset</key>
                <string>{-38,-41}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,286},{494,150}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,208},{494,148}}</string>
                <key>offset</key>
                <string>{-38,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,288},{494,148}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,208},{494,148}}</string>
                <key>offset</key>
                <string>{-38,-42}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,288},{494,148}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{492,148}}</string>
                <key>offset</key>
                <string>{-38,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,289},{492,148}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_backfox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{492,148}}</string>
                <key>offset</key>
                <string>{-38,-43}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{36,289},{492,148}}</string>
                <key>sourceSize</key>
                <string>{640,640}</string>
            </dict>
            <key>scene3_gooma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,1050},{284,232}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{284,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1672},{280,234}}</string>
                <key>offset</key>
                <string>{-42,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,207},{280,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,1520},{282,234}}</string>
                <key>offset</key>
                <string>{-43,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,207},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1520},{282,234}}</string>
                <key>offset</key>
                <string>{-44,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,207},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma13.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1520},{282,234}}</string>
                <key>offset</key>
                <string>{-44,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,206},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1284},{284,234}}</string>
                <key>offset</key>
                <string>{-45,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,206},{284,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1050},{284,232}}</string>
                <key>offset</key>
                <string>{-45,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,208},{284,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma16.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,1050},{284,232}}</string>
                <key>offset</key>
                <string>{-45,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,208},{284,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,968},{286,232}}</string>
                <key>offset</key>
                <string>{-46,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,208},{286,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1642,816},{286,232}}</string>
                <key>offset</key>
                <string>{-46,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,208},{286,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma19.png</key>
            <dict>
                <key>frame</key>
                <string>{{576,1050},{284,232}}</string>
                <key>offset</key>
                <string>{-45,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,208},{284,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,1046},{284,232}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{284,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1356,816},{284,232}}</string>
                <key>offset</key>
                <string>{-45,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,208},{284,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma21.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,814},{284,230}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,210},{284,230}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1070,816},{284,232}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{284,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma23.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,816},{284,232}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{284,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma24.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1280},{282,232}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,209},{282,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma25.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,1514},{282,234}}</string>
                <key>offset</key>
                <string>{-44,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,207},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1436},{282,234}}</string>
                <key>offset</key>
                <string>{-44,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,207},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,1520},{280,234}}</string>
                <key>offset</key>
                <string>{-43,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,207},{280,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1130,1756},{280,236}}</string>
                <key>offset</key>
                <string>{-42,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,206},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma29.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,1756},{280,236}}</string>
                <key>offset</key>
                <string>{-42,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,206},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1202},{282,232}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,209},{282,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma30.png</key>
            <dict>
                <key>frame</key>
                <string>{{566,1756},{280,236}}</string>
                <key>offset</key>
                <string>{-42,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,206},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma31.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,1750},{280,236}}</string>
                <key>offset</key>
                <string>{-43,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{385,206},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1696,1756},{282,236}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,207},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1412,1756},{282,236}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,207},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1720,1050},{282,232}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,209},{282,232}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1420,1284},{282,234}}</string>
                <key>offset</key>
                <string>{-44,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,207},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1136,1284},{282,234}}</string>
                <key>offset</key>
                <string>{-43,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,207},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma7.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,1284},{282,234}}</string>
                <key>offset</key>
                <string>{-43,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,207},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma8.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1520},{280,234}}</string>
                <key>offset</key>
                <string>{-42,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,207},{280,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma9.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,1284},{280,234}}</string>
                <key>offset</key>
                <string>{-42,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{386,207},{280,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_smallfox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1562,2},{76,56}}</string>
                <key>offset</key>
                <string>{52,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,293},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1484,2},{76,56}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,294},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,2},{76,56}}</string>
                <key>offset</key>
                <string>{52,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,293},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox12.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,2},{76,54}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,295},{76,54}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox13.png</key>
            <dict>
                <key>frame</key>
                <string>{{470,2},{76,54}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,295},{76,54}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox14.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,2},{76,54}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,295},{76,54}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1328,2},{76,56}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,294},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{76,56}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,294},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1172,2},{76,56}}</string>
                <key>offset</key>
                <string>{53,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,293},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1094,2},{76,56}}</string>
                <key>offset</key>
                <string>{53,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,293},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1016,2},{76,56}}</string>
                <key>offset</key>
                <string>{53,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,293},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{314,2},{76,54}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,295},{76,54}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox20.png</key>
            <dict>
                <key>frame</key>
                <string>{{938,2},{76,56}}</string>
                <key>offset</key>
                <string>{52,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,293},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox21.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,2},{76,56}}</string>
                <key>offset</key>
                <string>{52,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,293},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,2},{76,54}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,295},{76,54}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{158,2},{76,54}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,295},{76,54}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{80,2},{76,54}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,295},{76,54}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{76,54}}</string>
                <key>offset</key>
                <string>{52,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,295},{76,54}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,2},{76,56}}</string>
                <key>offset</key>
                <string>{53,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,294},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,2},{76,56}}</string>
                <key>offset</key>
                <string>{53,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,294},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
            <key>scene3_smallfox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{626,2},{76,56}}</string>
                <key>offset</key>
                <string>{53,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,294},{76,56}}</string>
                <key>sourceSize</key>
                <string>{200,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene3_gooma_1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cd56e649f87e34284fbf958b50684edf$</string>
            <key>textureFileName</key>
            <string>scene3_gooma_1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
