<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_frontwave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1042,362},{1004,122}}</string>
                <key>offset</key>
                <string>{23,-246}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,505},{1004,122}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1138},{906,100}}</string>
                <key>offset</key>
                <string>{26,-247}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{141,517},{906,100}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,912},{946,104}}</string>
                <key>offset</key>
                <string>{38,-245}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,513},{946,104}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave12.png</key>
            <dict>
                <key>frame</key>
                <string>{{966,832},{958,112}}</string>
                <key>offset</key>
                <string>{28,-249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{117,513},{958,112}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,796},{962,114}}</string>
                <key>offset</key>
                <string>{23,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{110,511},{962,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1048,244},{974,116}}</string>
                <key>offset</key>
                <string>{12,-247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,509},{974,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1058,122},{980,120}}</string>
                <key>offset</key>
                <string>{7,-246}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,506},{980,120}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave16.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1762},{926,118}}</string>
                <key>offset</key>
                <string>{29,-247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{134,508},{926,118}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave17.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1302},{936,116}}</string>
                <key>offset</key>
                <string>{22,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{122,510},{936,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1018},{940,118}}</string>
                <key>offset</key>
                <string>{3,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{101,509},{940,118}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave19.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1184},{940,116}}</string>
                <key>offset</key>
                <string>{-6,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,510},{940,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1010,712},{1004,118}}</string>
                <key>offset</key>
                <string>{17,-247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{83,508},{1004,118}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave20.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1882},{940,116}}</string>
                <key>offset</key>
                <string>{-24,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,510},{940,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave21.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,1066},{940,116}}</string>
                <key>offset</key>
                <string>{-33,-247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,509},{940,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave22.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1536},{940,114}}</string>
                <key>offset</key>
                <string>{-51,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,511},{940,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave23.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,1420},{940,114}}</string>
                <key>offset</key>
                <string>{-60,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,511},{940,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1116,112}}</string>
                <key>offset</key>
                <string>{9,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,512},{1116,112}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{1054,104}}</string>
                <key>offset</key>
                <string>{32,-245}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,513},{1054,104}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{1044,112}}</string>
                <key>offset</key>
                <string>{20,-249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,513},{1044,112}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,336},{1038,114}}</string>
                <key>offset</key>
                <string>{15,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,511},{1038,114}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1120,2},{926,118}}</string>
                <key>offset</key>
                <string>{55,-246}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{160,507},{926,118}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1926,832},{928,120}}</string>
                <key>offset</key>
                <string>{46,-246}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{150,506},{928,120}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,678},{1006,116}}</string>
                <key>offset</key>
                <string>{13,-248}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,510},{1006,116}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave30.png</key>
            <dict>
                <key>frame</key>
                <string>{{950,946},{942,118}}</string>
                <key>offset</key>
                <string>{30,-247}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{127,508},{942,118}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,486},{1010,112}}</string>
                <key>offset</key>
                <string>{-2,-249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,513},{1010,112}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,452},{1010,112}}</string>
                <key>offset</key>
                <string>{-11,-249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,513},{1010,112}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,566},{1010,110}}</string>
                <key>offset</key>
                <string>{-30,-249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,514},{1010,110}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,600},{1008,110}}</string>
                <key>offset</key>
                <string>{-39,-249}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,514},{1008,110}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,1184},{848,104}}</string>
                <key>offset</key>
                <string>{23,-245}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{167,513},{848,104}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_frontwave9.png</key>
            <dict>
                <key>frame</key>
                <string>{{104,1184},{850,104}}</string>
                <key>offset</key>
                <string>{12,-245}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{155,513},{850,104}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_frontwave_1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:fe4c76ce7e6e59629b810f15f6b46f06$</string>
            <key>textureFileName</key>
            <string>scene1_frontwave_1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
