<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene7_repeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1286},{768,640}}</string>
                <key>offset</key>
                <string>{135,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{768,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_repeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{768,640}}</string>
                <key>offset</key>
                <string>{135,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{768,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_repeat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,644},{768,640}}</string>
                <key>offset</key>
                <string>{135,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{768,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_repeat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{768,640}}</string>
                <key>offset</key>
                <string>{135,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{768,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_repeat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{768,640}}</string>
                <key>offset</key>
                <string>{135,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{768,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_repeat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,640}}</string>
                <key>offset</key>
                <string>{135,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{768,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene7_goomaRepeat1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:b2ef681362cbef8a9f6fab279cb24edc$</string>
            <key>textureFileName</key>
            <string>scene7_goomaRepeat1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
