<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene3_frontfox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,2},{877,193}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,298},{877,193}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1777},{875,197}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,297},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,877},{873,197}}</string>
                <key>offset</key>
                <string>{15,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,296},{873,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox12.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1379},{873,197}}</string>
                <key>offset</key>
                <string>{15,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,296},{873,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,2},{873,197}}</string>
                <key>offset</key>
                <string>{15,-128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{52,296},{873,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,197},{873,195}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,297},{873,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1777},{875,197}}</string>
                <key>offset</key>
                <string>{13,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,296},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox16.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1578},{875,197}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,296},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox17.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,985},{877,195}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,297},{877,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,985},{877,195}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,297},{877,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox19.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,788},{877,195}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,298},{877,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,591},{877,195}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,297},{877,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,591},{877,195}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,298},{877,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox21.png</key>
            <dict>
                <key>frame</key>
                <string>{{879,1182},{875,195}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,298},{875,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1578},{875,197}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,296},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{881,394},{877,195}}</string>
                <key>offset</key>
                <string>{15,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,297},{877,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{877,193}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,298},{877,193}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{877,195}}</string>
                <key>offset</key>
                <string>{14,-128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,297},{877,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{877,197},{877,195}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,298},{877,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1182},{875,195}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,298},{875,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{875,195}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,298},{875,195}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene3_frontfox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1379},{875,197}}</string>
                <key>offset</key>
                <string>{14,-129}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,297},{875,197}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene3_frontfox_1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5913349f4d5ef524d8fb7feea3e89b35$</string>
            <key>textureFileName</key>
            <string>scene3_frontfox_1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
