<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_frontwave31.png</key>
            <dict>
                <key>frame</key>
                <string>{{484,536},{476,60}}</string>
                <key>offset</key>
                <string>{12,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{58,254},{476,60}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,476},{484,58}}</string>
                <key>offset</key>
                <string>{5,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{47,256},{484,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave33.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,422},{486,58}}</string>
                <key>offset</key>
                <string>{3,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,255},{486,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,416},{490,58}}</string>
                <key>offset</key>
                <string>{0,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,255},{490,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave35.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,362},{490,58}}</string>
                <key>offset</key>
                <string>{-5,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,255},{490,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,356},{490,58}}</string>
                <key>offset</key>
                <string>{-9,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,255},{490,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave37.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,302},{490,58}}</string>
                <key>offset</key>
                <string>{-18,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,255},{490,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{490,58}}</string>
                <key>offset</key>
                <string>{-23,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,254},{490,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave39.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,2},{490,58}}</string>
                <key>offset</key>
                <string>{-27,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,254},{490,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave40.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,820},{436,54}}</string>
                <key>offset</key>
                <string>{-5,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,255},{436,54}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave41.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,876},{434,54}}</string>
                <key>offset</key>
                <string>{-9,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{58,255},{434,54}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave42.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,932},{416,54}}</string>
                <key>offset</key>
                <string>{-25,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,255},{416,54}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave43.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,760},{470,58}}</string>
                <key>offset</key>
                <string>{0,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,255},{470,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave44.png</key>
            <dict>
                <key>frame</key>
                <string>{{498,242},{494,58}}</string>
                <key>offset</key>
                <string>{9,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,255},{494,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave45.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,182},{496,58}}</string>
                <key>offset</key>
                <string>{7,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,255},{496,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave46.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{494,58}}</string>
                <key>offset</key>
                <string>{6,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,255},{494,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave47.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{496,58}}</string>
                <key>offset</key>
                <string>{3,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{39,255},{496,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave48.png</key>
            <dict>
                <key>frame</key>
                <string>{{500,122},{496,58}}</string>
                <key>offset</key>
                <string>{2,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,255},{496,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{496,58}}</string>
                <key>offset</key>
                <string>{1,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{37,255},{496,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave50.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,56},{498,58}}</string>
                <key>offset</key>
                <string>{-1,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,255},{498,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave51.png</key>
            <dict>
                <key>frame</key>
                <string>{{502,62},{496,58}}</string>
                <key>offset</key>
                <string>{-2,-125}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{34,256},{496,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave52.png</key>
            <dict>
                <key>frame</key>
                <string>{{308,536},{480,58}}</string>
                <key>offset</key>
                <string>{1,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{45,255},{480,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave53.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,536},{480,58}}</string>
                <key>offset</key>
                <string>{-3,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{41,255},{480,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave54.png</key>
            <dict>
                <key>frame</key>
                <string>{{126,536},{480,60}}</string>
                <key>offset</key>
                <string>{-8,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{36,253},{480,60}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave55.png</key>
            <dict>
                <key>frame</key>
                <string>{{64,536},{480,60}}</string>
                <key>offset</key>
                <string>{-12,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{32,253},{480,60}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,536},{480,60}}</string>
                <key>offset</key>
                <string>{-17,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{27,253},{480,60}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave57.png</key>
            <dict>
                <key>frame</key>
                <string>{{188,536},{480,58}}</string>
                <key>offset</key>
                <string>{-26,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{18,255},{480,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave58.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,536},{480,56}}</string>
                <key>offset</key>
                <string>{-30,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{14,256},{480,56}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave59.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,536},{480,56}}</string>
                <key>offset</key>
                <string>{-35,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,256},{480,56}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{526,52}}</string>
                <key>offset</key>
                <string>{21,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,257},{526,52}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave61.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,592},{476,46}}</string>
                <key>offset</key>
                <string>{45,-120}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,257},{476,46}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave62.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,542},{476,48}}</string>
                <key>offset</key>
                <string>{36,-119}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{82,255},{476,48}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave63.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,482},{476,58}}</string>
                <key>offset</key>
                <string>{32,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,255},{476,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave64.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,700},{474,58}}</string>
                <key>offset</key>
                <string>{29,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,255},{474,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave65.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,640},{474,58}}</string>
                <key>offset</key>
                <string>{25,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{72,255},{474,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_frontwave_2nd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:45c0c6e35d24d2a4173718a15b334a45$</string>
            <key>textureFileName</key>
            <string>scene1_frontwave_2nd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
