<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene4_frontwave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1349,58},{325,23}}</string>
                <key>offset</key>
                <string>{0,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{74,228},{325,23}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,172},{193,25}}</string>
                <key>offset</key>
                <string>{-99,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{41,226},{193,25}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1684,33},{193,25}}</string>
                <key>offset</key>
                <string>{-102,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,225},{193,25}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1717,145},{195,25}}</string>
                <key>offset</key>
                <string>{-106,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,225},{195,25}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1676,60},{195,25}}</string>
                <key>offset</key>
                <string>{-108,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,225},{195,25}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,163},{425,27}}</string>
                <key>offset</key>
                <string>{2,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,223},{425,27}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave15.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,101},{433,27}}</string>
                <key>offset</key>
                <string>{2,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,223},{433,27}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{435,27}}</string>
                <key>offset</key>
                <string>{0,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,223},{435,27}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,2},{437,29}}</string>
                <key>offset</key>
                <string>{-2,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,221},{437,29}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave18.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,35},{441,29}}</string>
                <key>offset</key>
                <string>{-4,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,221},{441,29}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave19.png</key>
            <dict>
                <key>frame</key>
                <string>{{453,68},{443,31}}</string>
                <key>offset</key>
                <string>{-6,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{9,219},{443,31}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,176},{325,21}}</string>
                <key>offset</key>
                <string>{-3,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,230},{325,21}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{447,31}}</string>
                <key>offset</key>
                <string>{-9,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{4,219},{447,31}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,35},{451,31}}</string>
                <key>offset</key>
                <string>{-11,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,219},{451,31}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{451,31}}</string>
                <key>offset</key>
                <string>{-11,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,219},{451,31}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave23.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,35},{449,31}}</string>
                <key>offset</key>
                <string>{-12,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,219},{449,31}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{449,31}}</string>
                <key>offset</key>
                <string>{-12,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,219},{449,31}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave25.png</key>
            <dict>
                <key>frame</key>
                <string>{{455,2},{449,31}}</string>
                <key>offset</key>
                <string>{-12,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,219},{449,31}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave26.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,2},{447,31}}</string>
                <key>offset</key>
                <string>{-13,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,219},{447,31}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,116},{307,27}}</string>
                <key>offset</key>
                <string>{53,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{136,219},{307,27}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1619,87},{307,27}}</string>
                <key>offset</key>
                <string>{50,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{133,219},{307,27}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1408,168},{307,27}}</string>
                <key>offset</key>
                <string>{47,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{130,219},{307,27}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,176},{325,21}}</string>
                <key>offset</key>
                <string>{-7,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,230},{325,21}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,199},{319,33}}</string>
                <key>offset</key>
                <string>{38,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{115,218},{319,33}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave31.png</key>
            <dict>
                <key>frame</key>
                <string>{{971,199},{319,33}}</string>
                <key>offset</key>
                <string>{35,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{112,218},{319,33}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave32.png</key>
            <dict>
                <key>frame</key>
                <string>{{648,199},{321,33}}</string>
                <key>offset</key>
                <string>{31,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{107,218},{321,33}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave33.png</key>
            <dict>
                <key>frame</key>
                <string>{{325,199},{321,33}}</string>
                <key>offset</key>
                <string>{27,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{103,218},{321,33}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,192},{321,33}}</string>
                <key>offset</key>
                <string>{24,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{100,218},{321,33}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1613,199},{321,31}}</string>
                <key>offset</key>
                <string>{21,-102}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{97,220},{321,31}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave36.png</key>
            <dict>
                <key>frame</key>
                <string>{{1083,168},{323,29}}</string>
                <key>offset</key>
                <string>{17,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{92,222},{323,29}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,137},{323,29}}</string>
                <key>offset</key>
                <string>{14,-103}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{89,222},{323,29}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave38.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,139},{323,27}}</string>
                <key>offset</key>
                <string>{11,-104}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{86,224},{323,27}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave39.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,110},{325,25}}</string>
                <key>offset</key>
                <string>{7,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{81,226},{325,25}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave4.png</key>
            <dict>
                <key>frame</key>
                <string>{{439,153},{325,21}}</string>
                <key>offset</key>
                <string>{-10,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,230},{325,21}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1292,83},{325,25}}</string>
                <key>offset</key>
                <string>{4,-105}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{78,226},{325,25}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave5.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,66},{327,21}}</string>
                <key>offset</key>
                <string>{-14,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,230},{327,21}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave6.png</key>
            <dict>
                <key>frame</key>
                <string>{{451,130},{327,21}}</string>
                <key>offset</key>
                <string>{-18,-107}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{55,230},{327,21}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1355,33},{327,23}}</string>
                <key>offset</key>
                <string>{-21,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{52,228},{327,23}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave8.png</key>
            <dict>
                <key>frame</key>
                <string>{{886,114},{327,23}}</string>
                <key>offset</key>
                <string>{-24,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,228},{327,23}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene4_frontwave9.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,89},{327,23}}</string>
                <key>offset</key>
                <string>{-28,-106}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,228},{327,23}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene4_frontwave.pvr.ccz</string>
            <key>size</key>
            <string>{1937,234}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:097ed13a77fda17f9b479308040965c7$</string>
            <key>textureFileName</key>
            <string>scene4_frontwave.pvr.ccz</string>
        </dict>
    </dict>
</plist>
