<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene6_curtainClosedRepeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1442},{396,286}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{396,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_curtainClosedRepeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1154},{396,286}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{396,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_curtainClosedRepeat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{396,286}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{396,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_curtainClosedRepeat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,578},{396,286}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{396,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_curtainClosedRepeat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,290},{396,286}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{396,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_curtainClosedRepeat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,286}}</string>
                <key>offset</key>
                <string>{-74,13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,4},{396,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_curtainClosedRepeat.pvr.ccz</string>
            <key>size</key>
            <string>{400,1730}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5f1f63270247ad25e942488669366599$</string>
            <key>textureFileName</key>
            <string>scene6_curtainClosedRepeat.pvr.ccz</string>
        </dict>
    </dict>
</plist>
