<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_gooma_3rd1.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,200},{214,196}}</string>
                <key>offset</key>
                <string>{-6,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{114,37},{214,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1068,2},{200,186}}</string>
                <key>offset</key>
                <string>{-62,-10}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{65,45},{200,186}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1270,2},{198,182}}</string>
                <key>offset</key>
                <string>{-72,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{56,48},{198,182}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1470,2},{194,180}}</string>
                <key>offset</key>
                <string>{-81,-11}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,49},{194,180}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1666,2},{192,178}}</string>
                <key>offset</key>
                <string>{-91,-12}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{40,51},{192,178}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd14.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,192},{188,174}}</string>
                <key>offset</key>
                <string>{-100,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,54},{188,174}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,2},{186,170}}</string>
                <key>offset</key>
                <string>{-110,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,58},{186,170}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1860,174},{184,168}}</string>
                <key>offset</key>
                <string>{-120,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,59},{184,168}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd17.png</key>
            <dict>
                <key>frame</key>
                <string>{{1052,192},{180,164}}</string>
                <key>offset</key>
                <string>{-129,-16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{8,62},{180,164}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd18.png</key>
            <dict>
                <key>frame</key>
                <string>{{1524,184},{178,160}}</string>
                <key>offset</key>
                <string>{-138,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,66},{178,160}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,344},{166,158}}</string>
                <key>offset</key>
                <string>{-144,-18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,67},{166,158}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd2.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,2},{214,196}}</string>
                <key>offset</key>
                <string>{-7,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,37},{214,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1368,186},{154,156}}</string>
                <key>offset</key>
                <string>{-150,-19}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,69},{154,156}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,190},{148,152}}</string>
                <key>offset</key>
                <string>{-153,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{148,152}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1704,182},{144,152}}</string>
                <key>offset</key>
                <string>{-155,-20}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,72},{144,152}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd23.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,368},{138,150}}</string>
                <key>offset</key>
                <string>{-158,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,74},{138,150}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,374},{132,148}}</string>
                <key>offset</key>
                <string>{-161,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,75},{132,148}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,346},{126,148}}</string>
                <key>offset</key>
                <string>{-164,-21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,75},{126,148}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd26.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,390},{120,146}}</string>
                <key>offset</key>
                <string>{-167,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,77},{120,146}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1406,344},{114,144}}</string>
                <key>offset</key>
                <string>{-170,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,79},{114,144}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{108,142}}</string>
                <key>offset</key>
                <string>{-173,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,80},{108,142}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd29.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,398},{102,142}}</string>
                <key>offset</key>
                <string>{-176,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,80},{102,142}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,200},{214,196}}</string>
                <key>offset</key>
                <string>{-9,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{111,37},{214,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd30.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,398},{98,140}}</string>
                <key>offset</key>
                <string>{-178,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,82},{98,140}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd31.png</key>
            <dict>
                <key>frame</key>
                <string>{{432,398},{92,138}}</string>
                <key>offset</key>
                <string>{-181,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,83},{92,138}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1672,346},{86,138}}</string>
                <key>offset</key>
                <string>{-184,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,83},{86,138}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd33.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,374},{80,136}}</string>
                <key>offset</key>
                <string>{-187,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,85},{80,136}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,336},{74,132}}</string>
                <key>offset</key>
                <string>{-190,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,88},{74,132}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1836,344},{68,124}}</string>
                <key>offset</key>
                <string>{-193,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,96},{68,124}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd36.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,390},{62,120}}</string>
                <key>offset</key>
                <string>{-196,-32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,100},{62,120}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd37.png</key>
            <dict>
                <key>frame</key>
                <string>{{1906,344},{56,116}}</string>
                <key>offset</key>
                <string>{-199,-33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,103},{56,116}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd38.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,344},{50,100}}</string>
                <key>offset</key>
                <string>{-202,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,118},{50,100}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd39.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,398},{46,98}}</string>
                <key>offset</key>
                <string>{-204,-40}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,119},{46,98}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd4.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{214,196}}</string>
                <key>offset</key>
                <string>{-14,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,37},{214,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1760,470},{40,92}}</string>
                <key>offset</key>
                <string>{-207,-41}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,123},{40,92}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1964,446},{34,82}}</string>
                <key>offset</key>
                <string>{-210,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,131},{34,82}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd42.png</key>
            <dict>
                <key>frame</key>
                <string>{{620,398},{28,72}}</string>
                <key>offset</key>
                <string>{-213,-47}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,139},{28,72}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2016,344},{22,30}}</string>
                <key>offset</key>
                <string>{-216,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,177},{22,30}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,344},{16,16}}</string>
                <key>offset</key>
                <string>{-219,-57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,177},{16,16}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1218,362},{10,12}}</string>
                <key>offset</key>
                <string>{-222,-55}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,177},{10,12}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd46.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,368},{4,6}}</string>
                <key>offset</key>
                <string>{-225,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,178},{4,6}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{214,196}}</string>
                <key>offset</key>
                <string>{-21,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,37},{214,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{214,196}}</string>
                <key>offset</key>
                <string>{-29,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{91,37},{214,196}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd7.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,2},{210,194}}</string>
                <key>offset</key>
                <string>{-37,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{85,38},{210,194}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd8.png</key>
            <dict>
                <key>frame</key>
                <string>{{650,198},{206,190}}</string>
                <key>offset</key>
                <string>{-45,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,42},{206,190}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
            <key>scene1_gooma_3rd9.png</key>
            <dict>
                <key>frame</key>
                <string>{{862,2},{204,188}}</string>
                <key>offset</key>
                <string>{-54,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{71,43},{204,188}}</string>
                <key>sourceSize</key>
                <string>{454,256}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_gooma_3rd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:37eef9436e48f5525c0c04da741a04d8$</string>
            <key>textureFileName</key>
            <string>scene1_gooma_3rd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
