<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene8_fox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,638},{210,210}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,426},{210,210}}</string>
                <key>offset</key>
                <string>{11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox11.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,638},{210,210}}</string>
                <key>offset</key>
                <string>{11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox12.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,426},{210,210}}</string>
                <key>offset</key>
                <string>{11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox13.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,214},{210,210}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox14.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,214},{210,210}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox15.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,638},{210,210}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox16.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,426},{210,210}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{210,212}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,25},{210,212}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,214},{210,210}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{210,210}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{210,210}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{214,2},{210,210}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{210,210}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,428},{210,210}}</string>
                <key>offset</key>
                <string>{12,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene8_fox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,216},{210,210}}</string>
                <key>offset</key>
                <string>{11,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,26},{210,210}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene8_fox.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea5c903995593f4e479dc97444f5d421$</string>
            <key>textureFileName</key>
            <string>scene8_fox.pvr.ccz</string>
        </dict>
    </dict>
</plist>
