<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,334},{14,14}}</string>
                <key>offset</key>
                <string>{80,-9}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,162},{14,14}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>moonfox-clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,182},{148,148}}</string>
                <key>offset</key>
                <string>{-39,-1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{171,87},{148,148}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,38},{232,142}}</string>
                <key>offset</key>
                <string>{-72,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{96,174},{232,142}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>rod.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{396,34}}</string>
                <key>offset</key>
                <string>{-74,131}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,12},{396,34}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string1.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,472},{10,156}}</string>
                <key>offset</key>
                <string>{80,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,18},{10,156}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string10.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,124},{14,256}}</string>
                <key>offset</key>
                <string>{75,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,18},{14,256}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string11.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,108},{14,256}}</string>
                <key>offset</key>
                <string>{75,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,18},{14,256}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string12.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,92},{14,256}}</string>
                <key>offset</key>
                <string>{75,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,18},{14,256}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string13.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,196},{12,256}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,18},{12,256}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string14.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,182},{12,256}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,18},{12,256}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string15.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,168},{12,256}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,18},{12,256}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string16.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,154},{12,256}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,18},{12,256}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string17.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,140},{12,256}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,18},{12,256}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string18.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,140},{12,256}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,18},{12,256}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string19.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,140},{12,256}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,18},{12,256}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string2.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,472},{10,156}}</string>
                <key>offset</key>
                <string>{80,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,18},{10,156}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string20.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,140},{12,256}}</string>
                <key>offset</key>
                <string>{76,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,18},{12,256}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string21.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,58},{16,246}}</string>
                <key>offset</key>
                <string>{74,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,18},{16,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string22.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,38},{18,236}}</string>
                <key>offset</key>
                <string>{73,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,18},{18,236}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string23.png</key>
            <dict>
                <key>frame</key>
                <string>{{494,2},{16,226}}</string>
                <key>offset</key>
                <string>{74,29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{350,18},{16,226}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string24.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,246},{16,216}}</string>
                <key>offset</key>
                <string>{74,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{350,18},{16,216}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{12,174}}</string>
                <key>offset</key>
                <string>{77,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{355,17},{12,174}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string26.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,442},{22,132}}</string>
                <key>offset</key>
                <string>{79,77}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,17},{22,132}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string27.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,484},{26,126}}</string>
                <key>offset</key>
                <string>{83,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,18},{26,126}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string28.png</key>
            <dict>
                <key>frame</key>
                <string>{{260,332},{34,118}}</string>
                <key>offset</key>
                <string>{91,84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,17},{34,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string29.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,368},{38,122}}</string>
                <key>offset</key>
                <string>{96,81}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,18},{38,122}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string3.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,460},{10,156}}</string>
                <key>offset</key>
                <string>{79,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{358,18},{10,156}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string30.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,362},{40,126}}</string>
                <key>offset</key>
                <string>{99,80}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{363,17},{40,126}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string31.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,332},{44,128}}</string>
                <key>offset</key>
                <string>{100,79}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,17},{44,128}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string32.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,404},{36,126}}</string>
                <key>offset</key>
                <string>{96,79}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,18},{36,126}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string33.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,408},{24,128}}</string>
                <key>offset</key>
                <string>{89,78}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,18},{24,128}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string34.png</key>
            <dict>
                <key>frame</key>
                <string>{{480,182},{10,134}}</string>
                <key>offset</key>
                <string>{80,75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,18},{10,134}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string35.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,434},{24,140}}</string>
                <key>offset</key>
                <string>{72,72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{344,18},{24,140}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string36.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,300},{30,144}}</string>
                <key>offset</key>
                <string>{69,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{338,17},{30,144}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string37.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,332},{28,142}}</string>
                <key>offset</key>
                <string>{70,71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{340,18},{28,142}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string38.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,226},{22,142}}</string>
                <key>offset</key>
                <string>{72,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{345,17},{22,142}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string39.png</key>
            <dict>
                <key>frame</key>
                <string>{{462,182},{16,142}}</string>
                <key>offset</key>
                <string>{75,72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{351,17},{16,142}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string4.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,484},{12,156}}</string>
                <key>offset</key>
                <string>{78,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,18},{12,156}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string40.png</key>
            <dict>
                <key>frame</key>
                <string>{{448,182},{12,148}}</string>
                <key>offset</key>
                <string>{81,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,18},{12,148}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string41.png</key>
            <dict>
                <key>frame</key>
                <string>{{50,332},{18,156}}</string>
                <key>offset</key>
                <string>{84,65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,17},{18,156}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string42.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,278},{20,158}}</string>
                <key>offset</key>
                <string>{86,63}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,18},{20,158}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string43.png</key>
            <dict>
                <key>frame</key>
                <string>{{28,332},{20,156}}</string>
                <key>offset</key>
                <string>{85,64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{359,18},{20,156}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string44.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,466},{16,154}}</string>
                <key>offset</key>
                <string>{85,66}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{361,17},{16,154}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string45.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,182},{14,150}}</string>
                <key>offset</key>
                <string>{83,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{360,18},{14,150}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string46.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,182},{12,152}}</string>
                <key>offset</key>
                <string>{80,67}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{358,17},{12,152}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string47.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,210},{12,154}}</string>
                <key>offset</key>
                <string>{76,66}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,17},{12,154}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string48.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,484},{12,154}}</string>
                <key>offset</key>
                <string>{76,65}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,18},{12,154}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string49.png</key>
            <dict>
                <key>frame</key>
                <string>{{354,498},{12,154}}</string>
                <key>offset</key>
                <string>{76,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,19},{12,154}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string5.png</key>
            <dict>
                <key>frame</key>
                <string>{{16,332},{10,170}}</string>
                <key>offset</key>
                <string>{78,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{357,18},{10,170}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string50.png</key>
            <dict>
                <key>frame</key>
                <string>{{198,498},{12,154}}</string>
                <key>offset</key>
                <string>{78,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{356,19},{12,154}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string51.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,472},{10,156}}</string>
                <key>offset</key>
                <string>{80,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,18},{10,156}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string52.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,472},{10,156}}</string>
                <key>offset</key>
                <string>{80,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,18},{10,156}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string53.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,472},{10,156}}</string>
                <key>offset</key>
                <string>{80,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,18},{10,156}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string54.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,472},{10,156}}</string>
                <key>offset</key>
                <string>{80,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,18},{10,156}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string55.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,472},{10,156}}</string>
                <key>offset</key>
                <string>{80,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,18},{10,156}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string56.png</key>
            <dict>
                <key>frame</key>
                <string>{{226,472},{10,156}}</string>
                <key>offset</key>
                <string>{80,64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,18},{10,156}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string6.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,264},{12,198}}</string>
                <key>offset</key>
                <string>{76,43}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,18},{12,198}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string7.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,226},{18,226}}</string>
                <key>offset</key>
                <string>{73,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{348,18},{18,226}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string8.png</key>
            <dict>
                <key>frame</key>
                <string>{{152,210},{14,248}}</string>
                <key>offset</key>
                <string>{75,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,19},{14,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_string9.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,76},{14,256}}</string>
                <key>offset</key>
                <string>{75,14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{352,18},{14,256}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_others.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0a5b0ffb17bb1a89350fb92f69bac939$</string>
            <key>textureFileName</key>
            <string>scene6_others.pvr.ccz</string>
        </dict>
    </dict>
</plist>
