<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene7_gooma10.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,1286},{768,640}}</string>
                <key>offset</key>
                <string>{135,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{768,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_gooma11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1286},{768,640}}</string>
                <key>offset</key>
                <string>{135,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{768,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_gooma12.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,644},{768,640}}</string>
                <key>offset</key>
                <string>{135,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{768,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_gooma7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,644},{768,640}}</string>
                <key>offset</key>
                <string>{135,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{768,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_gooma8.png</key>
            <dict>
                <key>frame</key>
                <string>{{772,2},{768,640}}</string>
                <key>offset</key>
                <string>{135,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{768,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_gooma9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{768,640}}</string>
                <key>offset</key>
                <string>{135,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{319,0},{768,640}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene7_gooma2nd-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f12a3371de138062b36307903439e274$</string>
            <key>textureFileName</key>
            <string>scene7_gooma2nd-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
