<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_goomaRepeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{425,392}}</string>
                <key>offset</key>
                <string>{-10,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,73},{425,392}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat10.png</key>
            <dict>
                <key>frame</key>
                <string>{{821,2},{423,390}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,75},{423,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat11.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,823},{423,390}}</string>
                <key>offset</key>
                <string>{-9,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,75},{423,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,396},{425,390}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,75},{425,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat13.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,2},{425,390}}</string>
                <key>offset</key>
                <string>{-10,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,75},{425,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{425,388}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,77},{425,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat15.png</key>
            <dict>
                <key>frame</key>
                <string>{{819,429},{425,388}}</string>
                <key>offset</key>
                <string>{-10,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{232,77},{425,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat16.png</key>
            <dict>
                <key>frame</key>
                <string>{{392,1248},{423,388}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{234,77},{423,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat17.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1246},{423,388}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,77},{423,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat18.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,856},{423,388}}</string>
                <key>offset</key>
                <string>{-9,-15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,77},{423,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,1209},{421,388}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,77},{421,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{394,429},{423,392}}</string>
                <key>offset</key>
                <string>{-9,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{234,73},{423,392}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1628,1209},{421,388}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,77},{421,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1250},{421,388}}</string>
                <key>offset</key>
                <string>{-8,-15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,77},{421,388}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{782,1636},{421,392}}</string>
                <key>offset</key>
                <string>{-8,-13}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,73},{421,392}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1246,2},{421,390}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,75},{421,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1630,786},{419,390}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{238,75},{419,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1601,394},{419,390}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,75},{419,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,817},{419,390}}</string>
                <key>offset</key>
                <string>{-7,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{238,75},{419,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1209,394},{421,390}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{236,75},{421,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
            <key>scene1_goomaRepeat9.png</key>
            <dict>
                <key>frame</key>
                <string>{{1205,1636},{421,390}}</string>
                <key>offset</key>
                <string>{-8,-14}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{236,75},{421,390}}</string>
                <key>sourceSize</key>
                <string>{909,512}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_goomaRepeat-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:12c3993140898d708929f117b535460e$</string>
            <key>textureFileName</key>
            <string>scene1_goomaRepeat-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
