<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene5_redMonsterRepeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{8,44}}</string>
                <key>offset</key>
                <string>{-564,-143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,441},{8,44}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat10.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,504},{76,184}}</string>
                <key>offset</key>
                <string>{-530,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,404},{76,184}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,464},{76,182}}</string>
                <key>offset</key>
                <string>{-530,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,405},{76,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat12.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,502},{76,184}}</string>
                <key>offset</key>
                <string>{-530,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,403},{76,184}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat13.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,266},{74,182}}</string>
                <key>offset</key>
                <string>{-531,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,404},{74,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat14.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,420},{76,182}}</string>
                <key>offset</key>
                <string>{-530,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,405},{76,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,702},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,406},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat16.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,662},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,407},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat17.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,742},{80,182}}</string>
                <key>offset</key>
                <string>{-528,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,407},{80,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat18.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,250},{80,180}}</string>
                <key>offset</key>
                <string>{-528,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,410},{80,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat19.png</key>
            <dict>
                <key>frame</key>
                <string>{{924,68},{80,180}}</string>
                <key>offset</key>
                <string>{-528,-180}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,410},{80,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{48,2},{30,168}}</string>
                <key>offset</key>
                <string>{-553,-160}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,396},{30,168}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat20.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,908},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,411},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat21.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,906},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,411},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat22.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,904},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-181}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,411},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat23.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,796},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,411},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat24.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,892},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,412},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,412},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat26.png</key>
            <dict>
                <key>frame</key>
                <string>{{730,824},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,412},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat27.png</key>
            <dict>
                <key>frame</key>
                <string>{{548,822},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,412},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat28.png</key>
            <dict>
                <key>frame</key>
                <string>{{366,820},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,412},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat29.png</key>
            <dict>
                <key>frame</key>
                <string>{{184,808},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,412},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,2},{48,184}}</string>
                <key>offset</key>
                <string>{-544,-167}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,395},{48,184}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,782},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-182}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,412},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat31.png</key>
            <dict>
                <key>frame</key>
                <string>{{922,614},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-182}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,412},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat32.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,432},{82,180}}</string>
                <key>offset</key>
                <string>{-527,-181}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,411},{82,180}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat33.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,740},{80,182}}</string>
                <key>offset</key>
                <string>{-528,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,409},{80,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat34.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,738},{80,182}}</string>
                <key>offset</key>
                <string>{-528,-180}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,409},{80,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat35.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,726},{80,182}}</string>
                <key>offset</key>
                <string>{-528,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,408},{80,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat36.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,660},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-179}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,408},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat37.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,658},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,407},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat38.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,646},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,407},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,407},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,2},{58,184}}</string>
                <key>offset</key>
                <string>{-539,-166}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,394},{58,184}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat40.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,582},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,407},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat41.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,580},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,407},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat42.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,578},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,407},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat43.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,566},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,407},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-178}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,407},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat45.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,498},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,406},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat46.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,486},{78,182}}</string>
                <key>offset</key>
                <string>{-529,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,406},{78,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat47.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,408},{76,182}}</string>
                <key>offset</key>
                <string>{-530,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,406},{76,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat48.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,254},{74,182}}</string>
                <key>offset</key>
                <string>{-531,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,405},{74,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat49.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,234},{72,182}}</string>
                <key>offset</key>
                <string>{-532,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,404},{72,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,134},{66,184}}</string>
                <key>offset</key>
                <string>{-535,-169}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,397},{66,184}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat50.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,202},{70,182}}</string>
                <key>offset</key>
                <string>{-533,-173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,402},{70,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat51.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,196},{68,182}}</string>
                <key>offset</key>
                <string>{-534,-172}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,401},{68,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat52.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{66,182}}</string>
                <key>offset</key>
                <string>{-535,-172}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,401},{66,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat53.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,134},{66,182}}</string>
                <key>offset</key>
                <string>{-535,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,400},{66,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat54.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,118},{64,182}}</string>
                <key>offset</key>
                <string>{-536,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,400},{64,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{64,182}}</string>
                <key>offset</key>
                <string>{-536,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,400},{64,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat56.png</key>
            <dict>
                <key>frame</key>
                <string>{{738,68},{64,182}}</string>
                <key>offset</key>
                <string>{-536,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,399},{64,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat57.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,68},{64,182}}</string>
                <key>offset</key>
                <string>{-536,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,399},{64,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat58.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,62},{64,182}}</string>
                <key>offset</key>
                <string>{-536,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,399},{64,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat59.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,52},{64,182}}</string>
                <key>offset</key>
                <string>{-536,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,399},{64,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,274},{72,184}}</string>
                <key>offset</key>
                <string>{-532,-172}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,400},{72,184}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,34},{64,182}}</string>
                <key>offset</key>
                <string>{-536,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,399},{64,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat61.png</key>
            <dict>
                <key>frame</key>
                <string>{{774,2},{64,182}}</string>
                <key>offset</key>
                <string>{-536,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,399},{64,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat62.png</key>
            <dict>
                <key>frame</key>
                <string>{{590,2},{64,182}}</string>
                <key>offset</key>
                <string>{-536,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,399},{64,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat63.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,128},{66,182}}</string>
                <key>offset</key>
                <string>{-535,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,400},{66,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat64.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,184},{68,182}}</string>
                <key>offset</key>
                <string>{-534,-172}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,401},{68,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat65.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,202},{70,182}}</string>
                <key>offset</key>
                <string>{-533,-173}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,402},{70,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat66.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,274},{72,184}}</string>
                <key>offset</key>
                <string>{-532,-174}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,402},{72,184}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat67.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,348},{74,184}}</string>
                <key>offset</key>
                <string>{-531,-175}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,403},{74,184}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat68.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,386},{76,182}}</string>
                <key>offset</key>
                <string>{-530,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,405},{76,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat69.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,342},{76,182}}</string>
                <key>offset</key>
                <string>{-530,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,405},{76,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat7.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,426},{76,184}}</string>
                <key>offset</key>
                <string>{-530,-174}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,402},{76,184}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat70.png</key>
            <dict>
                <key>frame</key>
                <string>{{554,424},{76,184}}</string>
                <key>offset</key>
                <string>{-530,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,404},{76,184}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat71.png</key>
            <dict>
                <key>frame</key>
                <string>{{740,348},{76,184}}</string>
                <key>offset</key>
                <string>{-530,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,404},{76,184}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat8.png</key>
            <dict>
                <key>frame</key>
                <string>{{186,330},{76,182}}</string>
                <key>offset</key>
                <string>{-530,-176}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,405},{76,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_redMonsterRepeat9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{76,182}}</string>
                <key>offset</key>
                <string>{-530,-177}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,406},{76,182}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene5_redMonsterRepeat-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:cc6e29dc7993c8a3ed1894621500bce1$</string>
            <key>textureFileName</key>
            <string>scene5_redMonsterRepeat-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
