<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene3_gooma34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,794},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma35.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,674},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma36.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,604},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma37.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,602},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma38.png</key>
            <dict>
                <key>frame</key>
                <string>{{614,2},{144,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,104},{144,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma39.png</key>
            <dict>
                <key>frame</key>
                <string>{{468,2},{144,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,104},{144,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma40.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,602},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma41.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,484},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma42.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,378},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,378},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma44.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,554},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma45.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,484},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma46.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,482},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma47.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,482},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,103},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma48.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,434},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,103},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma49.png</key>
            <dict>
                <key>frame</key>
                <string>{{722,364},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,103},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma50.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,618},{140,118}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,103},{140,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma51.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,362},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,103},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma52.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,364},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,103},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma53.png</key>
            <dict>
                <key>frame</key>
                <string>{{264,604},{140,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{192,104},{140,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma54.png</key>
            <dict>
                <key>frame</key>
                <string>{{434,362},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma55.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,258},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma57.png</key>
            <dict>
                <key>frame</key>
                <string>{{290,244},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma58.png</key>
            <dict>
                <key>frame</key>
                <string>{{146,138},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma59.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,2},{144,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,104},{144,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma60.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma61.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,290},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{190,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma62.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,244},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma63.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,242},{142,118}}</string>
                <key>offset</key>
                <string>{-23,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,105},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma64.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,122},{142,120}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,103},{142,120}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma65.png</key>
            <dict>
                <key>frame</key>
                <string>{{760,2},{142,120}}</string>
                <key>offset</key>
                <string>{-23,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{190,103},{142,120}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma66.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,242},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma67.png</key>
            <dict>
                <key>frame</key>
                <string>{{898,146},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma68.png</key>
            <dict>
                <key>frame</key>
                <string>{{754,124},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma69.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,640},{140,118}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,104},{140,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma70.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{140,118}}</string>
                <key>offset</key>
                <string>{-21,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{193,104},{140,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma71.png</key>
            <dict>
                <key>frame</key>
                <string>{{122,498},{140,118}}</string>
                <key>offset</key>
                <string>{-21,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{193,103},{140,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma72.png</key>
            <dict>
                <key>frame</key>
                <string>{{610,122},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-2}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,103},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma73.png</key>
            <dict>
                <key>frame</key>
                <string>{{466,122},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{191,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_gooma74.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,2},{142,118}}</string>
                <key>offset</key>
                <string>{-22,-3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{191,104},{142,118}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene3_moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{318,134}}</string>
                <key>offset</key>
                <string>{-61,81}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,12},{318,134}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene3_gooma_2nd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:dcaa10704ecda42dc3c0a8d843c7ec46$</string>
            <key>textureFileName</key>
            <string>scene3_gooma_2nd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
