<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene3_frontfox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,101},{439,97}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,149},{439,97}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,907},{437,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,148},{437,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,907},{437,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,148},{437,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox12.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,441},{437,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,148},{437,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox13.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,705},{437,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,148},{437,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,705},{437,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,148},{437,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox15.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,402},{437,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,148},{437,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,402},{437,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,148},{437,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox17.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,806},{439,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,148},{439,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{439,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,148},{439,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox19.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,604},{439,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,148},{439,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,101},{439,97}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,149},{439,97}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,604},{439,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,148},{439,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox21.png</key>
            <dict>
                <key>frame</key>
                <string>{{884,2},{437,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{25,148},{437,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox22.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,301},{437,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,148},{437,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,2},{439,97}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,149},{439,97}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{439,97}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,149},{439,97}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{443,503},{439,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,148},{439,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,503},{439,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,148},{439,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,301},{437,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,148},{437,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{441,200},{437,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,148},{437,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
            <key>scene3_frontfox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{437,99}}</string>
                <key>offset</key>
                <string>{7,-64}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,148},{437,99}}</string>
                <key>sourceSize</key>
                <string>{473,267}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene3_frontfox_1st.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:ea9ec98d9e5f6e641da9a9c547678dd4$</string>
            <key>textureFileName</key>
            <string>scene3_frontfox_1st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
