<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene6_gooma1st1.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1810},{212,244}}</string>
                <key>offset</key>
                <string>{89,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,76},{212,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,746},{214,246}}</string>
                <key>offset</key>
                <string>{95,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{272,74},{214,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st11.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,840},{192,246}}</string>
                <key>offset</key>
                <string>{108,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{296,74},{192,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,962},{126,246}}</string>
                <key>offset</key>
                <string>{143,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,74},{126,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st13.png</key>
            <dict>
                <key>frame</key>
                <string>{{250,1034},{122,246}}</string>
                <key>offset</key>
                <string>{147,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,74},{122,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,622},{122,248}}</string>
                <key>offset</key>
                <string>{149,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{372,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st15.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,498},{122,248}}</string>
                <key>offset</key>
                <string>{150,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{373,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{122,248}}</string>
                <key>offset</key>
                <string>{152,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{375,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st17.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,374},{122,248}}</string>
                <key>offset</key>
                <string>{153,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{376,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,374},{122,248}}</string>
                <key>offset</key>
                <string>{154,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st19.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,250},{122,248}}</string>
                <key>offset</key>
                <string>{154,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{214,244}}</string>
                <key>offset</key>
                <string>{89,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,76},{214,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,250},{122,248}}</string>
                <key>offset</key>
                <string>{154,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{377,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st21.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,126},{122,248}}</string>
                <key>offset</key>
                <string>{155,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,126},{122,248}}</string>
                <key>offset</key>
                <string>{155,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st23.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,2},{122,248}}</string>
                <key>offset</key>
                <string>{155,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{122,248}}</string>
                <key>offset</key>
                <string>{155,-36}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{378,72},{122,248}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st3.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1594},{214,244}}</string>
                <key>offset</key>
                <string>{89,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,76},{214,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1526},{214,244}}</string>
                <key>offset</key>
                <string>{90,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,76},{214,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st5.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1376},{216,244}}</string>
                <key>offset</key>
                <string>{91,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{267,76},{216,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1308},{216,244}}</string>
                <key>offset</key>
                <string>{92,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,76},{216,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st7.png</key>
            <dict>
                <key>frame</key>
                <string>{{248,1158},{216,244}}</string>
                <key>offset</key>
                <string>{92,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{268,76},{216,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1090},{216,244}}</string>
                <key>offset</key>
                <string>{93,-38}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,76},{216,244}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene6_gooma1st9.png</key>
            <dict>
                <key>frame</key>
                <string>{{252,622},{216,246}}</string>
                <key>offset</key>
                <string>{93,-37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{269,74},{216,246}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_gooma1st.pvr.ccz</string>
            <key>size</key>
            <string>{512,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1afecc0ca2c535005b7525046750ae6d$</string>
            <key>textureFileName</key>
            <string>scene6_gooma1st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
