<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene6_curtainOpenRepeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1146},{790,570}}</string>
                <key>offset</key>
                <string>{-148,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{790,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_curtainOpenRepeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,574},{790,570}}</string>
                <key>offset</key>
                <string>{-148,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{790,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_curtainOpenRepeat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1146},{790,570}}</string>
                <key>offset</key>
                <string>{-148,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{790,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_curtainOpenRepeat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,574},{790,570}}</string>
                <key>offset</key>
                <string>{-148,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{790,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_curtainOpenRepeat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{790,570}}</string>
                <key>offset</key>
                <string>{-148,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{790,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_curtainOpenRepeat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{790,570}}</string>
                <key>offset</key>
                <string>{-148,25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,10},{790,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_curtainOpenRepeat-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5640278652d51a6153133c289cdaf205$</string>
            <key>textureFileName</key>
            <string>scene6_curtainOpenRepeat-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
