<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene4_gooma12.png</key>
            <dict>
                <key>frame</key>
                <string>{{962,1261},{447,491}}</string>
                <key>offset</key>
                <string>{47,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{297,0},{447,491}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1455,1261},{447,485}}</string>
                <key>offset</key>
                <string>{50,24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{300,0},{447,485}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma14.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,1249},{445,479}}</string>
                <key>offset</key>
                <string>{52,27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{303,0},{445,479}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1229},{443,477}}</string>
                <key>offset</key>
                <string>{53,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{305,0},{443,477}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1421,818},{441,477}}</string>
                <key>offset</key>
                <string>{54,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{307,0},{441,477}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma17.png</key>
            <dict>
                <key>frame</key>
                <string>{{944,818},{429,475}}</string>
                <key>offset</key>
                <string>{58,29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{317,0},{429,475}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma18.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,814},{413,473}}</string>
                <key>offset</key>
                <string>{63,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{330,0},{413,473}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1403,409},{407,471}}</string>
                <key>offset</key>
                <string>{71,31}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{341,0},{407,471}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1427,2},{405,467}}</string>
                <key>offset</key>
                <string>{83,33}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{354,0},{405,467}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma21.png</key>
            <dict>
                <key>frame</key>
                <string>{{936,407},{405,465}}</string>
                <key>offset</key>
                <string>{91,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{362,0},{405,465}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma22.png</key>
            <dict>
                <key>frame</key>
                <string>{{469,405},{405,465}}</string>
                <key>offset</key>
                <string>{95,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{366,0},{405,465}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{407,465}}</string>
                <key>offset</key>
                <string>{97,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{367,0},{407,465}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,403},{405,465}}</string>
                <key>offset</key>
                <string>{97,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{368,0},{405,465}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma25.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,2},{403,469}}</string>
                <key>offset</key>
                <string>{92,32}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{364,0},{403,469}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma26.png</key>
            <dict>
                <key>frame</key>
                <string>{{481,2},{401,473}}</string>
                <key>offset</key>
                <string>{86,30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{359,0},{401,473}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_gooma27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{399,477}}</string>
                <key>offset</key>
                <string>{81,28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{355,0},{399,477}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene4_gooma_2nd-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1942,1710}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:90f3f2409f98c0a2791286cfd38472e5$</string>
            <key>textureFileName</key>
            <string>scene4_gooma_2nd-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
