<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene6_leaf1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,756},{166,152}}</string>
                <key>offset</key>
                <string>{-12,140}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{473,104},{166,152}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_leaf2.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,560},{190,128}}</string>
                <key>offset</key>
                <string>{-20,166}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,90},{190,128}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_leaf3.png</key>
            <dict>
                <key>frame</key>
                <string>{{254,690},{190,82}}</string>
                <key>offset</key>
                <string>{-20,190}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{453,89},{190,82}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_sea.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{354,60}}</string>
                <key>offset</key>
                <string>{-144,-233}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{247,523},{354,60}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_sky.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{430,494}}</string>
                <key>offset</key>
                <string>{-140,-16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{213,89},{430,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_sun.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,560},{250,194}}</string>
                <key>offset</key>
                <string>{-211,-115}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{232,338},{250,194}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_sky-hd.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4bf8a4577fd4a71ec77289f12c57cfcb$</string>
            <key>textureFileName</key>
            <string>scene6_sky-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
