<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene6_goomaRepeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1490},{288,494}}</string>
                <key>offset</key>
                <string>{315,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{739,146},{288,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat10.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,994},{242,488}}</string>
                <key>offset</key>
                <string>{324,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{771,152},{242,488}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1522,1470},{244,486}}</string>
                <key>offset</key>
                <string>{328,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{774,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1276,1474},{244,486}}</string>
                <key>offset</key>
                <string>{329,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{775,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1030,1480},{244,486}}</string>
                <key>offset</key>
                <string>{329,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{775,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat14.png</key>
            <dict>
                <key>frame</key>
                <string>{{1306,982},{242,486}}</string>
                <key>offset</key>
                <string>{330,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{777,154},{242,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat15.png</key>
            <dict>
                <key>frame</key>
                <string>{{1128,494},{242,486}}</string>
                <key>offset</key>
                <string>{331,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{778,154},{242,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat16.png</key>
            <dict>
                <key>frame</key>
                <string>{{784,1484},{244,486}}</string>
                <key>offset</key>
                <string>{331,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{777,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat17.png</key>
            <dict>
                <key>frame</key>
                <string>{{538,1488},{244,486}}</string>
                <key>offset</key>
                <string>{333,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{779,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat18.png</key>
            <dict>
                <key>frame</key>
                <string>{{292,1490},{244,486}}</string>
                <key>offset</key>
                <string>{333,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{779,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat19.png</key>
            <dict>
                <key>frame</key>
                <string>{{1796,978},{244,486}}</string>
                <key>offset</key>
                <string>{333,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{779,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,498},{310,494}}</string>
                <key>offset</key>
                <string>{320,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{733,146},{310,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1550,980},{244,486}}</string>
                <key>offset</key>
                <string>{341,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{787,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1618,490},{244,486}}</string>
                <key>offset</key>
                <string>{347,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{793,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1372,492},{244,486}}</string>
                <key>offset</key>
                <string>{349,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{795,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1060,986},{244,486}}</string>
                <key>offset</key>
                <string>{349,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{795,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat24.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,498},{244,486}}</string>
                <key>offset</key>
                <string>{350,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{796,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1768,1468},{244,484}}</string>
                <key>offset</key>
                <string>{350,-78}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{796,156},{244,484}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat26.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,992},{244,486}}</string>
                <key>offset</key>
                <string>{346,-77}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{792,154},{244,486}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1188,2},{244,488}}</string>
                <key>offset</key>
                <string>{330,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{776,152},{244,488}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat28.png</key>
            <dict>
                <key>frame</key>
                <string>{{942,2},{244,490}}</string>
                <key>offset</key>
                <string>{320,-75}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{766,150},{244,490}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat29.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,246},{242,490}}</string>
                <key>offset</key>
                <string>{320,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{767,150},{242,490}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,994},{312,494}}</string>
                <key>offset</key>
                <string>{321,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{733,146},{312,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat30.png</key>
            <dict>
                <key>frame</key>
                <string>{{1434,2},{242,490}}</string>
                <key>offset</key>
                <string>{318,-75}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{765,150},{242,490}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat31.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,498},{248,492}}</string>
                <key>offset</key>
                <string>{309,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{753,148},{248,492}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{320,2},{316,494}}</string>
                <key>offset</key>
                <string>{321,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{731,146},{316,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,498},{316,494}}</string>
                <key>offset</key>
                <string>{321,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{731,146},{316,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,494}}</string>
                <key>offset</key>
                <string>{321,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{731,146},{316,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{316,494}}</string>
                <key>offset</key>
                <string>{321,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{731,146},{316,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat8.png</key>
            <dict>
                <key>frame</key>
                <string>{{638,2},{302,494}}</string>
                <key>offset</key>
                <string>{317,-73}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{734,146},{302,494}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_goomaRepeat9.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,994},{252,492}}</string>
                <key>offset</key>
                <string>{306,-74}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{748,148},{252,492}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_goomaRepeat-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:001293185452867d02edcd3199a8d5a0$</string>
            <key>textureFileName</key>
            <string>scene6_goomaRepeat-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
