<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene7_flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,888},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,626},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower12.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,418},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower13.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,394},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,394},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower15.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,338},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,338},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower17.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,282},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,282},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower19.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,226},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,828},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,226},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower21.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,210},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower22.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,170},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,170},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower24.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,114},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,114},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower26.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,58},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,58},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower28.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,2},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower29.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,2},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,774},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{54,206}}</string>
                <key>offset</key>
                <string>{125,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,79},{54,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower31.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,720},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower32.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,666},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower33.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,626},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower34.png</key>
            <dict>
                <key>frame</key>
                <string>{{112,612},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower35.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,612},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower36.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,612},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,834},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,558},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,558},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower6.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,504},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,504},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower8.png</key>
            <dict>
                <key>frame</key>
                <string>{{210,450},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene7_flower9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{52,206}}</string>
                <key>offset</key>
                <string>{126,-22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{384,79},{52,206}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene7_flower.pvr.ccz</string>
            <key>size</key>
            <string>{512,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:7818db31fe42dcc5c7fdb17eddaf54af$</string>
            <key>textureFileName</key>
            <string>scene7_flower.pvr.ccz</string>
        </dict>
    </dict>
</plist>
