<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene5_bigCloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{218,20}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,152},{218,20}}</string>
                <key>sourceSize</key>
                <string>{668,320}</string>
            </dict>
            <key>scene5_smallCloud.png</key>
            <dict>
                <key>frame</key>
                <string>{{24,2},{182,8}}</string>
                <key>offset</key>
                <string>{-2,-2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{241,158},{182,8}}</string>
                <key>sourceSize</key>
                <string>{668,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene5_cloud.pvr.ccz</string>
            <key>size</key>
            <string>{64,256}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:172a24fd16da585da3f285e7491c2637$</string>
            <key>textureFileName</key>
            <string>scene5_cloud.pvr.ccz</string>
        </dict>
    </dict>
</plist>
