<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_frontwave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{508,410},{502,62}}</string>
                <key>offset</key>
                <string>{12,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{45,252},{502,62}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave10.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,2},{454,50}}</string>
                <key>offset</key>
                <string>{12,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{69,259},{454,50}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave11.png</key>
            <dict>
                <key>frame</key>
                <string>{{60,474},{474,52}}</string>
                <key>offset</key>
                <string>{19,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{66,257},{474,52}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{478,56}}</string>
                <key>offset</key>
                <string>{14,-125}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{59,257},{478,56}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave13.png</key>
            <dict>
                <key>frame</key>
                <string>{{524,232},{482,58}}</string>
                <key>offset</key>
                <string>{11,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,255},{482,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave14.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,170},{488,60}}</string>
                <key>offset</key>
                <string>{6,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{46,253},{488,60}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave15.png</key>
            <dict>
                <key>frame</key>
                <string>{{532,108},{490,60}}</string>
                <key>offset</key>
                <string>{4,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,253},{490,60}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave16.png</key>
            <dict>
                <key>frame</key>
                <string>{{530,940},{464,60}}</string>
                <key>offset</key>
                <string>{14,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,253},{464,60}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave17.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,474},{468,58}}</string>
                <key>offset</key>
                <string>{11,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,255},{468,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave18.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,474},{470,60}}</string>
                <key>offset</key>
                <string>{2,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{51,254},{470,60}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave19.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,474},{470,58}}</string>
                <key>offset</key>
                <string>{-3,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,255},{470,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,414},{502,58}}</string>
                <key>offset</key>
                <string>{9,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{42,255},{502,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave20.png</key>
            <dict>
                <key>frame</key>
                <string>{{356,474},{470,58}}</string>
                <key>offset</key>
                <string>{-12,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{37,255},{470,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave21.png</key>
            <dict>
                <key>frame</key>
                <string>{{296,474},{470,58}}</string>
                <key>offset</key>
                <string>{-16,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{33,255},{470,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave22.png</key>
            <dict>
                <key>frame</key>
                <string>{{236,474},{470,58}}</string>
                <key>offset</key>
                <string>{-25,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,255},{470,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave23.png</key>
            <dict>
                <key>frame</key>
                <string>{{176,474},{470,58}}</string>
                <key>offset</key>
                <string>{-30,-124}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{19,255},{470,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{558,56}}</string>
                <key>offset</key>
                <string>{5,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,256},{558,56}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,60},{528,54}}</string>
                <key>offset</key>
                <string>{15,-122}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{35,255},{528,54}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{522,58}}</string>
                <key>offset</key>
                <string>{10,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,255},{522,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,176},{520,58}}</string>
                <key>offset</key>
                <string>{7,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{31,255},{520,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave28.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,534},{464,60}}</string>
                <key>offset</key>
                <string>{27,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{79,253},{464,60}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave29.png</key>
            <dict>
                <key>frame</key>
                <string>{{946,474},{464,60}}</string>
                <key>offset</key>
                <string>{23,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,253},{464,60}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{504,58}}</string>
                <key>offset</key>
                <string>{6,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,255},{504,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,954},{472,60}}</string>
                <key>offset</key>
                <string>{15,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,253},{472,60}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave4.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,292},{506,58}}</string>
                <key>offset</key>
                <string>{-1,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{30,255},{506,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,236},{506,58}}</string>
                <key>offset</key>
                <string>{-6,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,255},{506,58}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave6.png</key>
            <dict>
                <key>frame</key>
                <string>{{510,352},{506,56}}</string>
                <key>offset</key>
                <string>{-15,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,256},{506,56}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,296},{506,56}}</string>
                <key>offset</key>
                <string>{-20,-124}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,256},{506,56}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave8.png</key>
            <dict>
                <key>frame</key>
                <string>{{476,596},{424,52}}</string>
                <key>offset</key>
                <string>{11,-123}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{83,257},{424,52}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_frontwave9.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,54},{426,52}}</string>
                <key>offset</key>
                <string>{6,-123}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{77,257},{426,52}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_frontwave_1st.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:e2fe3da2d7730a2232583fd029af6532$</string>
            <key>textureFileName</key>
            <string>scene1_frontwave_1st.pvr.ccz</string>
        </dict>
    </dict>
</plist>
