<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene2_backfox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1668,2},{558,78}}</string>
                <key>offset</key>
                <string>{233,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{522,364},{558,78}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_backfox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1948},{558,80}}</string>
                <key>offset</key>
                <string>{233,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{522,363},{558,80}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_backfox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1592,1444},{558,80}}</string>
                <key>offset</key>
                <string>{233,-83}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{522,363},{558,80}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_backfox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1866},{560,80}}</string>
                <key>offset</key>
                <string>{232,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{520,363},{560,80}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_backfox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{986,1784},{560,80}}</string>
                <key>offset</key>
                <string>{232,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{520,364},{560,80}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_backfox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1784},{560,80}}</string>
                <key>offset</key>
                <string>{231,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{519,364},{560,80}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_backfox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1662,682},{560,80}}</string>
                <key>offset</key>
                <string>{231,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{519,365},{560,80}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_backfox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,682},{560,80}}</string>
                <key>offset</key>
                <string>{232,-84}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{520,364},{560,80}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_backfox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1370},{558,80}}</string>
                <key>offset</key>
                <string>{233,-84}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{522,364},{558,80}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_backfox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{562,1948},{554,80}}</string>
                <key>offset</key>
                <string>{235,-83}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{526,363},{554,80}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,1026},{414,338}}</string>
                <key>offset</key>
                <string>{324,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{685,181},{414,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1178,1444},{412,338}}</string>
                <key>offset</key>
                <string>{304,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{666,175},{412,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1248,1104},{412,338}}</string>
                <key>offset</key>
                <string>{301,-24}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{663,175},{412,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox12.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,1444},{412,338}}</string>
                <key>offset</key>
                <string>{298,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{660,174},{412,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,764},{410,338}}</string>
                <key>offset</key>
                <string>{294,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{657,174},{410,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox14.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,1366},{412,338}}</string>
                <key>offset</key>
                <string>{292,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{654,174},{412,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1028},{412,340}}</string>
                <key>offset</key>
                <string>{290,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{652,173},{412,340}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{416,340}}</string>
                <key>offset</key>
                <string>{290,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{650,175},{416,340}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{416,340}}</string>
                <key>offset</key>
                <string>{289,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{649,176},{416,340}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox18.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,764},{414,338}}</string>
                <key>offset</key>
                <string>{289,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{650,179},{414,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1370},{414,338}}</string>
                <key>offset</key>
                <string>{288,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{649,180},{414,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,342},{414,338}}</string>
                <key>offset</key>
                <string>{321,-30}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{682,181},{414,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1252,2},{414,338}}</string>
                <key>offset</key>
                <string>{287,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{648,180},{414,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,342},{414,338}}</string>
                <key>offset</key>
                <string>{318,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{679,180},{414,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{418,686},{414,338}}</string>
                <key>offset</key>
                <string>{316,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{677,179},{414,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,344},{414,340}}</string>
                <key>offset</key>
                <string>{314,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{675,177},{414,340}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,686},{414,340}}</string>
                <key>offset</key>
                <string>{312,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{673,176},{414,340}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{836,2},{414,338}}</string>
                <key>offset</key>
                <string>{310,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{671,177},{414,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,2},{414,340}}</string>
                <key>offset</key>
                <string>{308,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{669,175},{414,340}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{834,1104},{412,338}}</string>
                <key>offset</key>
                <string>{306,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{668,176},{412,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene2_frontfox_1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1748,2030}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:0596853ab8bed73f16d0288984157cb7$</string>
            <key>textureFileName</key>
            <string>scene2_frontfox_1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
