<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_backwaveRepeat1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,412},{204,12}}</string>
                <key>offset</key>
                <string>{-156,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,239},{204,12}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,100},{482,10}}</string>
                <key>offset</key>
                <string>{-24,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,241},{482,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,88},{482,10}}</string>
                <key>offset</key>
                <string>{-25,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,241},{482,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,76},{482,10}}</string>
                <key>offset</key>
                <string>{-26,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,241},{482,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,124},{480,10}}</string>
                <key>offset</key>
                <string>{-27,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,241},{480,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{480,10}}</string>
                <key>offset</key>
                <string>{-28,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,241},{480,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,172},{478,10}}</string>
                <key>offset</key>
                <string>{-28,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,241},{478,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,160},{478,10}}</string>
                <key>offset</key>
                <string>{-29,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,241},{478,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,148},{478,10}}</string>
                <key>offset</key>
                <string>{-30,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,241},{478,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,136},{478,10}}</string>
                <key>offset</key>
                <string>{-31,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,241},{478,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,232},{476,10}}</string>
                <key>offset</key>
                <string>{-32,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,241},{476,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{486,12}}</string>
                <key>offset</key>
                <string>{-17,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,239},{486,12}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,220},{476,10}}</string>
                <key>offset</key>
                <string>{-33,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,241},{476,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat21.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,208},{476,10}}</string>
                <key>offset</key>
                <string>{-34,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,241},{476,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,196},{476,10}}</string>
                <key>offset</key>
                <string>{-35,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,241},{476,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,184},{476,10}}</string>
                <key>offset</key>
                <string>{-36,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,241},{476,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{474,10}}</string>
                <key>offset</key>
                <string>{-36,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{11,241},{474,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,450},{472,10}}</string>
                <key>offset</key>
                <string>{-36,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,241},{472,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,462},{470,10}}</string>
                <key>offset</key>
                <string>{-37,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,241},{470,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,474},{468,10}}</string>
                <key>offset</key>
                <string>{-37,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{13,241},{468,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,256},{466,10}}</string>
                <key>offset</key>
                <string>{-37,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{14,241},{466,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{464,10}}</string>
                <key>offset</key>
                <string>{-37,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,241},{464,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,488},{484,12}}</string>
                <key>offset</key>
                <string>{-17,-85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,239},{484,12}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,280},{462,10}}</string>
                <key>offset</key>
                <string>{-37,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{16,241},{462,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,292},{460,10}}</string>
                <key>offset</key>
                <string>{-37,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{17,241},{460,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,304},{458,10}}</string>
                <key>offset</key>
                <string>{-37,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,241},{458,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,316},{456,10}}</string>
                <key>offset</key>
                <string>{-38,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{18,241},{456,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,328},{454,10}}</string>
                <key>offset</key>
                <string>{-38,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,241},{454,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,340},{452,10}}</string>
                <key>offset</key>
                <string>{-38,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,241},{452,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,352},{450,10}}</string>
                <key>offset</key>
                <string>{-38,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,241},{450,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,364},{448,10}}</string>
                <key>offset</key>
                <string>{-38,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,241},{448,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{446,10}}</string>
                <key>offset</key>
                <string>{-38,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,241},{446,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,388},{444,10}}</string>
                <key>offset</key>
                <string>{-39,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,241},{444,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat4.png</key>
            <dict>
                <key>frame</key>
                <string>{{490,2},{484,12}}</string>
                <key>offset</key>
                <string>{-18,-85}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,239},{484,12}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,400},{442,10}}</string>
                <key>offset</key>
                <string>{-39,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{24,241},{442,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat41.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,244},{204,10}}</string>
                <key>offset</key>
                <string>{-156,-86}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{26,241},{204,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,28},{484,10}}</string>
                <key>offset</key>
                <string>{-19,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{23,241},{484,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,16},{484,10}}</string>
                <key>offset</key>
                <string>{-21,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,241},{484,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,64},{482,10}}</string>
                <key>offset</key>
                <string>{-21,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{22,241},{482,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,52},{482,10}}</string>
                <key>offset</key>
                <string>{-22,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{21,241},{482,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>scene1_backwaveRepeat9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,40},{482,10}}</string>
                <key>offset</key>
                <string>{-23,-86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{20,241},{482,10}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_backwaveRepeat.pvr.ccz</string>
            <key>size</key>
            <string>{512,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:4a7f04abf89b705bf012859bddbccd89$</string>
            <key>textureFileName</key>
            <string>scene1_backwaveRepeat.pvr.ccz</string>
        </dict>
    </dict>
</plist>
