<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene2_frontfox21.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,344},{412,338}}</string>
                <key>offset</key>
                <string>{287,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{649,181},{412,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1590},{412,338}}</string>
                <key>offset</key>
                <string>{286,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{648,181},{412,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1176},{412,338}}</string>
                <key>offset</key>
                <string>{286,-29}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{648,180},{412,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox24.png</key>
            <dict>
                <key>frame</key>
                <string>{{832,2},{412,338}}</string>
                <key>offset</key>
                <string>{286,-28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{648,179},{412,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox25.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,342},{406,340}}</string>
                <key>offset</key>
                <string>{284,-27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{649,177},{406,340}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox26.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1576},{402,338}}</string>
                <key>offset</key>
                <string>{281,-27}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{648,178},{402,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox27.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1024},{400,338}}</string>
                <key>offset</key>
                <string>{281,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{649,177},{400,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1086,748},{398,338}}</string>
                <key>offset</key>
                <string>{281,-26}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{650,177},{398,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox29.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,1170},{404,338}}</string>
                <key>offset</key>
                <string>{283,-25}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{649,176},{404,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox30.png</key>
            <dict>
                <key>frame</key>
                <string>{{342,758},{410,338}}</string>
                <key>offset</key>
                <string>{286,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{649,175},{410,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox31.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,342},{404,338}}</string>
                <key>offset</key>
                <string>{283,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{649,175},{404,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox32.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,684},{402,338}}</string>
                <key>offset</key>
                <string>{281,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{648,174},{402,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox33.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1706},{398,338}}</string>
                <key>offset</key>
                <string>{279,-23}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{648,174},{398,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox34.png</key>
            <dict>
                <key>frame</key>
                <string>{{1082,1546},{396,338}}</string>
                <key>offset</key>
                <string>{277,-23}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{647,174},{396,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1084,1148},{396,338}}</string>
                <key>offset</key>
                <string>{276,-24}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{646,175},{396,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox36.png</key>
            <dict>
                <key>frame</key>
                <string>{{682,1364},{398,340}}</string>
                <key>offset</key>
                <string>{277,-25}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{646,175},{398,340}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{412,340}}</string>
                <key>offset</key>
                <string>{285,-26}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{647,176},{412,340}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,760},{414,338}}</string>
                <key>offset</key>
                <string>{288,-28}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{649,179},{414,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox39.png</key>
            <dict>
                <key>frame</key>
                <string>{{416,2},{414,338}}</string>
                <key>offset</key>
                <string>{288,-29}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{649,180},{414,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_frontfox40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,344},{414,338}}</string>
                <key>offset</key>
                <string>{287,-30}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{648,181},{414,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene2_frontfox_2nd-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1430,2046}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1e6c2b1e67e88434003f1d3f7046b355$</string>
            <key>textureFileName</key>
            <string>scene2_frontfox_2nd-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
