<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene1_backwave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,986},{924,20}}</string>
                <key>offset</key>
                <string>{-56,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{50,481},{924,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,920},{858,20}}</string>
                <key>offset</key>
                <string>{-106,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,481},{858,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,200},{856,20}}</string>
                <key>offset</key>
                <string>{-114,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{26,481},{856,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,608},{854,20}}</string>
                <key>offset</key>
                <string>{-122,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{19,482},{854,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,630},{852,20}}</string>
                <key>offset</key>
                <string>{-130,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{12,481},{852,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,652},{848,20}}</string>
                <key>offset</key>
                <string>{-138,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{6,481},{848,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,674},{846,20}}</string>
                <key>offset</key>
                <string>{-145,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,481},{846,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,398},{552,20}}</string>
                <key>offset</key>
                <string>{-292,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,481},{552,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave17.png</key>
            <dict>
                <key>frame</key>
                <string>{{894,178},{542,22}}</string>
                <key>offset</key>
                <string>{-297,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,479},{542,22}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{1018,20}}</string>
                <key>offset</key>
                <string>{-56,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,481},{1018,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{1002,20}}</string>
                <key>offset</key>
                <string>{-57,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{10,481},{1002,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,112},{906,20}}</string>
                <key>offset</key>
                <string>{-56,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,481},{906,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{988,20}}</string>
                <key>offset</key>
                <string>{-59,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{15,481},{988,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave21.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,46},{972,20}}</string>
                <key>offset</key>
                <string>{-61,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{21,481},{972,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{956,20}}</string>
                <key>offset</key>
                <string>{-62,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{28,481},{956,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave23.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,942},{942,20}}</string>
                <key>offset</key>
                <string>{-64,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{33,481},{942,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,964},{928,20}}</string>
                <key>offset</key>
                <string>{-66,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,481},{928,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave25.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,90},{914,20}}</string>
                <key>offset</key>
                <string>{-68,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{43,481},{914,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,156},{898,20}}</string>
                <key>offset</key>
                <string>{-70,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{49,481},{898,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{884,20}}</string>
                <key>offset</key>
                <string>{-72,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{54,481},{884,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave28.png</key>
            <dict>
                <key>frame</key>
                <string>{{406,420},{402,20}}</string>
                <key>offset</key>
                <string>{-308,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,481},{402,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,134},{902,20}}</string>
                <key>offset</key>
                <string>{-53,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{64,481},{902,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,722},{888,20}}</string>
                <key>offset</key>
                <string>{-56,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{68,481},{888,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,178},{890,20}}</string>
                <key>offset</key>
                <string>{-56,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,481},{890,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave31.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,810},{874,20}}</string>
                <key>offset</key>
                <string>{-58,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,481},{874,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,898},{862,20}}</string>
                <key>offset</key>
                <string>{-61,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{76,481},{862,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave33.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,90},{848,20}}</string>
                <key>offset</key>
                <string>{-63,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{81,481},{848,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,696},{836,20}}</string>
                <key>offset</key>
                <string>{-66,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{84,481},{836,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,222},{822,20}}</string>
                <key>offset</key>
                <string>{-69,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,481},{822,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,244},{808,20}}</string>
                <key>offset</key>
                <string>{-71,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{93,481},{808,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,266},{804,20}}</string>
                <key>offset</key>
                <string>{-78,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{88,481},{804,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,288},{802,20}}</string>
                <key>offset</key>
                <string>{-87,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{80,481},{802,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,310},{800,20}}</string>
                <key>offset</key>
                <string>{-95,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{73,481},{800,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{880,20}}</string>
                <key>offset</key>
                <string>{-62,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,481},{880,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,332},{798,20}}</string>
                <key>offset</key>
                <string>{-103,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{66,481},{798,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave41.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,354},{796,20}}</string>
                <key>offset</key>
                <string>{-111,-172}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,482},{796,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,376},{778,20}}</string>
                <key>offset</key>
                <string>{-112,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{67,481},{778,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave43.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{398,20}}</string>
                <key>offset</key>
                <string>{-306,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{63,481},{398,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave44.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,420},{402,20}}</string>
                <key>offset</key>
                <string>{-308,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{59,481},{402,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave45.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,200},{406,20}}</string>
                <key>offset</key>
                <string>{-310,-171}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{55,481},{406,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,788},{876,20}}</string>
                <key>offset</key>
                <string>{-69,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{61,481},{876,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave6.png</key>
            <dict>
                <key>frame</key>
                <string>{{960,68},{872,22}}</string>
                <key>offset</key>
                <string>{-76,-170}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,479},{872,22}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,832},{868,20}}</string>
                <key>offset</key>
                <string>{-83,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{51,481},{868,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,854},{866,20}}</string>
                <key>offset</key>
                <string>{-91,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{44,481},{866,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene1_backwave9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{862,20}}</string>
                <key>offset</key>
                <string>{-99,-171}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{38,481},{862,20}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene1_backwave_1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:61076382070363ece9fa0ffa9336ee8b$</string>
            <key>textureFileName</key>
            <string>scene1_backwave_1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
