<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene3_bigfox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1258,996},{360,313}}</string>
                <key>offset</key>
                <string>{283,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{574,21},{360,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,2},{364,313}}</string>
                <key>offset</key>
                <string>{265,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{554,21},{364,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox11.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,634},{364,311}}</string>
                <key>offset</key>
                <string>{264,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{553,23},{364,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox12.png</key>
            <dict>
                <key>frame</key>
                <string>{{994,1679},{364,311}}</string>
                <key>offset</key>
                <string>{262,87}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{551,23},{364,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox13.png</key>
            <dict>
                <key>frame</key>
                <string>{{683,1366},{364,311}}</string>
                <key>offset</key>
                <string>{260,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{549,22},{364,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox14.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,1000},{364,311}}</string>
                <key>offset</key>
                <string>{259,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{548,22},{364,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox15.png</key>
            <dict>
                <key>frame</key>
                <string>{{630,634},{364,311}}</string>
                <key>offset</key>
                <string>{257,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{546,21},{364,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1573,947},{362,311}}</string>
                <key>offset</key>
                <string>{256,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{546,21},{362,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox17.png</key>
            <dict>
                <key>frame</key>
                <string>{{681,1679},{364,311}}</string>
                <key>offset</key>
                <string>{254,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{543,21},{364,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1362},{362,313}}</string>
                <key>offset</key>
                <string>{252,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{542,20},{362,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,998},{362,313}}</string>
                <key>offset</key>
                <string>{251,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{541,20},{362,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1458,2},{360,315}}</string>
                <key>offset</key>
                <string>{281,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{572,19},{360,315}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,634},{362,313}}</string>
                <key>offset</key>
                <string>{249,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{539,20},{362,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox21.png</key>
            <dict>
                <key>frame</key>
                <string>{{1096,2},{360,315}}</string>
                <key>offset</key>
                <string>{248,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{539,19},{360,315}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox22.png</key>
            <dict>
                <key>frame</key>
                <string>{{1307,1677},{360,313}}</string>
                <key>offset</key>
                <string>{246,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{537,20},{360,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox23.png</key>
            <dict>
                <key>frame</key>
                <string>{{1049,1362},{360,313}}</string>
                <key>offset</key>
                <string>{244,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{535,20},{360,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox24.png</key>
            <dict>
                <key>frame</key>
                <string>{{1256,634},{360,313}}</string>
                <key>offset</key>
                <string>{243,90}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{534,19},{360,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox25.png</key>
            <dict>
                <key>frame</key>
                <string>{{1454,319},{362,313}}</string>
                <key>offset</key>
                <string>{241,90}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{531,19},{362,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox26.png</key>
            <dict>
                <key>frame</key>
                <string>{{1622,1671},{362,311}}</string>
                <key>offset</key>
                <string>{240,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{530,21},{362,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox27.png</key>
            <dict>
                <key>frame</key>
                <string>{{1411,1358},{362,311}}</string>
                <key>offset</key>
                <string>{239,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{529,21},{362,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox28.png</key>
            <dict>
                <key>frame</key>
                <string>{{1571,634},{362,311}}</string>
                <key>offset</key>
                <string>{239,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{529,21},{362,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox29.png</key>
            <dict>
                <key>frame</key>
                <string>{{368,1679},{364,311}}</string>
                <key>offset</key>
                <string>{238,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{527,21},{364,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{364,317},{360,315}}</string>
                <key>offset</key>
                <string>{278,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{569,19},{360,315}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox30.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1366},{364,311}}</string>
                <key>offset</key>
                <string>{238,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{527,21},{364,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox31.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,1000},{364,311}}</string>
                <key>offset</key>
                <string>{238,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{527,22},{364,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox32.png</key>
            <dict>
                <key>frame</key>
                <string>{{317,634},{364,311}}</string>
                <key>offset</key>
                <string>{238,89}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{527,21},{364,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox33.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1726},{364,311}}</string>
                <key>offset</key>
                <string>{239,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{528,21},{364,311}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,317},{360,315}}</string>
                <key>offset</key>
                <string>{276,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{567,19},{360,315}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{734,2},{360,315}}</string>
                <key>offset</key>
                <string>{274,89}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{565,19},{360,315}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{943,1000},{360,313}}</string>
                <key>offset</key>
                <string>{272,88}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{563,21},{360,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1090,319},{362,313}}</string>
                <key>offset</key>
                <string>{270,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{560,21},{362,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{364,313}}</string>
                <key>offset</key>
                <string>{268,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,21},{364,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
            <key>scene3_bigfox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{726,319},{362,313}}</string>
                <key>offset</key>
                <string>{267,88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{557,21},{362,313}}</string>
                <key>sourceSize</key>
                <string>{942,531}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene3_bigfox_1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:46fdcf374964a3ed1a6d35b44ca0767e$</string>
            <key>textureFileName</key>
            <string>scene3_bigfox_1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
