<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene5_door1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1728},{240,408}}</string>
                <key>offset</key>
                <string>{288,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{736,214},{240,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,2},{204,408}}</string>
                <key>offset</key>
                <string>{306,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{772,216},{204,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1464,208},{200,408}}</string>
                <key>offset</key>
                <string>{308,-100}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{776,216},{200,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door12.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,414},{196,410}}</string>
                <key>offset</key>
                <string>{310,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{780,214},{196,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{196,432}}</string>
                <key>offset</key>
                <string>{310,-88}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{780,192},{196,432}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1302},{196,424}}</string>
                <key>offset</key>
                <string>{310,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{780,200},{196,424}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door15.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,2},{196,424}}</string>
                <key>offset</key>
                <string>{310,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{780,200},{196,424}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door16.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,442},{196,424}}</string>
                <key>offset</key>
                <string>{310,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{780,200},{196,424}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{198,438}}</string>
                <key>offset</key>
                <string>{309,-101}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{778,202},{198,438}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door18.png</key>
            <dict>
                <key>frame</key>
                <string>{{200,1302},{198,422}}</string>
                <key>offset</key>
                <string>{309,-93}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{778,202},{198,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,876},{198,424}}</string>
                <key>offset</key>
                <string>{309,-92}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{778,200},{198,424}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door2.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1700},{236,408}}</string>
                <key>offset</key>
                <string>{290,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{740,214},{236,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door20.png</key>
            <dict>
                <key>frame</key>
                <string>{{398,428},{198,414}}</string>
                <key>offset</key>
                <string>{309,-97}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{778,210},{198,414}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door21.png</key>
            <dict>
                <key>frame</key>
                <string>{{808,826},{198,410}}</string>
                <key>offset</key>
                <string>{309,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{778,214},{198,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door22.png</key>
            <dict>
                <key>frame</key>
                <string>{{804,1242},{198,410}}</string>
                <key>offset</key>
                <string>{309,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{778,214},{198,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door23.png</key>
            <dict>
                <key>frame</key>
                <string>{{598,416},{198,412}}</string>
                <key>offset</key>
                <string>{309,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{778,212},{198,412}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door24.png</key>
            <dict>
                <key>frame</key>
                <string>{{812,2},{200,410}}</string>
                <key>offset</key>
                <string>{308,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{776,214},{200,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door25.png</key>
            <dict>
                <key>frame</key>
                <string>{{404,844},{200,412}}</string>
                <key>offset</key>
                <string>{308,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{776,212},{200,412}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door26.png</key>
            <dict>
                <key>frame</key>
                <string>{{798,414},{200,410}}</string>
                <key>offset</key>
                <string>{308,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{776,214},{200,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door27.png</key>
            <dict>
                <key>frame</key>
                <string>{{606,830},{200,410}}</string>
                <key>offset</key>
                <string>{308,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{776,214},{200,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door28.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,1286},{200,412}}</string>
                <key>offset</key>
                <string>{308,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{776,212},{200,412}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door29.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,1258},{200,410}}</string>
                <key>offset</key>
                <string>{308,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{776,214},{200,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1014,2},{234,408}}</string>
                <key>offset</key>
                <string>{291,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{742,214},{234,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door30.png</key>
            <dict>
                <key>frame</key>
                <string>{{400,2},{200,412}}</string>
                <key>offset</key>
                <string>{308,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{776,212},{200,412}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door31.png</key>
            <dict>
                <key>frame</key>
                <string>{{202,868},{200,416}}</string>
                <key>offset</key>
                <string>{308,-96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{776,208},{200,416}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door4.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1654},{230,408}}</string>
                <key>offset</key>
                <string>{293,-98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{746,214},{230,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1004,1238},{226,408}}</string>
                <key>offset</key>
                <string>{295,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{750,215},{226,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1008,826},{222,408}}</string>
                <key>offset</key>
                <string>{297,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{754,215},{222,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1198,412},{216,408}}</string>
                <key>offset</key>
                <string>{300,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{760,215},{216,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1250,2},{212,408}}</string>
                <key>offset</key>
                <string>{302,-99}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{764,215},{212,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene5_door9.png</key>
            <dict>
                <key>frame</key>
                <string>{{602,2},{208,410}}</string>
                <key>offset</key>
                <string>{304,-98}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{768,213},{208,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene5_door-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:1323a295e3b8f0f63b34ea55da8ac4cb$</string>
            <key>textureFileName</key>
            <string>scene5_door-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
