<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene7_ghost1.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,216},{102,138}}</string>
                <key>offset</key>
                <string>{442,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{959,308},{102,138}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost10.png</key>
            <dict>
                <key>frame</key>
                <string>{{294,2},{106,158}}</string>
                <key>offset</key>
                <string>{410,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{925,293},{106,158}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost11.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,2},{106,158}}</string>
                <key>offset</key>
                <string>{410,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{925,293},{106,158}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,806},{106,158}}</string>
                <key>offset</key>
                <string>{410,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{925,293},{106,158}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,164},{106,160}}</string>
                <key>offset</key>
                <string>{410,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{925,291},{106,160}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost14.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,160}}</string>
                <key>offset</key>
                <string>{410,-51}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{925,291},{106,160}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost15.png</key>
            <dict>
                <key>frame</key>
                <string>{{770,2},{106,154}}</string>
                <key>offset</key>
                <string>{412,-53}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{927,296},{106,154}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost16.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,110},{104,142}}</string>
                <key>offset</key>
                <string>{421,-57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{937,306},{104,142}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost17.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,324},{104,134}}</string>
                <key>offset</key>
                <string>{431,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{947,313},{104,134}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost18.png</key>
            <dict>
                <key>frame</key>
                <string>{{546,322},{102,132}}</string>
                <key>offset</key>
                <string>{439,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{956,315},{102,132}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost19.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,322},{102,134}}</string>
                <key>offset</key>
                <string>{447,-60}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{964,313},{102,134}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost2.png</key>
            <dict>
                <key>frame</key>
                <string>{{564,216},{104,138}}</string>
                <key>offset</key>
                <string>{437,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{953,309},{104,138}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost20.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,314},{104,136}}</string>
                <key>offset</key>
                <string>{452,-59}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{968,311},{104,136}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost21.png</key>
            <dict>
                <key>frame</key>
                <string>{{424,216},{104,138}}</string>
                <key>offset</key>
                <string>{454,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{970,309},{104,138}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost22.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,218},{104,138}}</string>
                <key>offset</key>
                <string>{455,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{971,309},{104,138}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost23.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,216},{104,138}}</string>
                <key>offset</key>
                <string>{456,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{972,309},{104,138}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost24.png</key>
            <dict>
                <key>frame</key>
                <string>{{852,128},{104,138}}</string>
                <key>offset</key>
                <string>{456,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{972,309},{104,138}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost25.png</key>
            <dict>
                <key>frame</key>
                <string>{{712,110},{104,138}}</string>
                <key>offset</key>
                <string>{457,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{973,309},{104,138}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost26.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,110},{104,138}}</string>
                <key>offset</key>
                <string>{457,-58}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{973,309},{104,138}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost27.png</key>
            <dict>
                <key>frame</key>
                <string>{{274,322},{104,134}}</string>
                <key>offset</key>
                <string>{466,-61}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{982,314},{104,134}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost28.png</key>
            <dict>
                <key>frame</key>
                <string>{{814,420},{104,126}}</string>
                <key>offset</key>
                <string>{488,-67}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1004,324},{104,126}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost29.png</key>
            <dict>
                <key>frame</key>
                <string>{{410,426},{102,122}}</string>
                <key>offset</key>
                <string>{510,-71}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1027,330},{102,122}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost3.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,110},{104,142}}</string>
                <key>offset</key>
                <string>{427,-56}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{943,305},{104,142}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost30.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{92,124}}</string>
                <key>offset</key>
                <string>{522,-72}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1044,330},{92,124}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost31.png</key>
            <dict>
                <key>frame</key>
                <string>{{680,400},{82,132}}</string>
                <key>offset</key>
                <string>{527,-70}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1054,324},{82,132}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost32.png</key>
            <dict>
                <key>frame</key>
                <string>{{704,320},{78,136}}</string>
                <key>offset</key>
                <string>{529,-69}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1058,321},{78,136}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost33.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,234},{78,138}}</string>
                <key>offset</key>
                <string>{529,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1058,319},{78,138}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost34.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,234},{78,138}}</string>
                <key>offset</key>
                <string>{529,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1058,319},{78,138}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost35.png</key>
            <dict>
                <key>frame</key>
                <string>{{844,234},{78,138}}</string>
                <key>offset</key>
                <string>{529,-68}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1058,319},{78,138}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,966},{54,130}}</string>
                <key>offset</key>
                <string>{541,-72}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1082,327},{54,130}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost37.png</key>
            <dict>
                <key>frame</key>
                <string>{{992,128},{28,122}}</string>
                <key>offset</key>
                <string>{554,-76}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1108,335},{28,122}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost38.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,2},{6,58}}</string>
                <key>offset</key>
                <string>{565,-65}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1130,356},{6,58}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost39.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{1,1}}</string>
                <key>offset</key>
                <string>{-567.5,319.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost4.png</key>
            <dict>
                <key>frame</key>
                <string>{{134,110},{106,148}}</string>
                <key>offset</key>
                <string>{417,-54}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{932,300},{106,148}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost40.png</key>
            <dict>
                <key>frame</key>
                <string>{{118,2},{1,1}}</string>
                <key>offset</key>
                <string>{-567.5,319.5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{1,1}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost5.png</key>
            <dict>
                <key>frame</key>
                <string>{{612,2},{106,156}}</string>
                <key>offset</key>
                <string>{412,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{927,294},{106,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost6.png</key>
            <dict>
                <key>frame</key>
                <string>{{454,2},{106,156}}</string>
                <key>offset</key>
                <string>{411,-52}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{926,294},{106,156}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,646},{106,158}}</string>
                <key>offset</key>
                <string>{410,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{925,293},{106,158}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,486},{106,158}}</string>
                <key>offset</key>
                <string>{410,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{925,293},{106,158}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_ghost9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{106,158}}</string>
                <key>offset</key>
                <string>{410,-52}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{925,293},{106,158}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene7_ghost-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:091524a1902d76a1deadda7e28ab209f$</string>
            <key>textureFileName</key>
            <string>scene7_ghost-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
