<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>flash.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,138},{26,26}}</string>
                <key>offset</key>
                <string>{160,-18}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{715,325},{26,26}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>moonfox-clear.png</key>
            <dict>
                <key>frame</key>
                <string>{{332,484},{296,298}}</string>
                <key>offset</key>
                <string>{-77,-1}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{343,172},{296,298}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>pot.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,164},{462,284}}</string>
                <key>offset</key>
                <string>{-143,-170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,348},{462,284}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>rod.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{790,64}}</string>
                <key>offset</key>
                <string>{-148,261}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{25,27},{790,64}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string1.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,856},{20,310}}</string>
                <key>offset</key>
                <string>{160,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{718,37},{20,310}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string10.png</key>
            <dict>
                <key>frame</key>
                <string>{{86,500},{26,510}}</string>
                <key>offset</key>
                <string>{151,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{706,38},{26,510}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string11.png</key>
            <dict>
                <key>frame</key>
                <string>{{58,500},{26,510}}</string>
                <key>offset</key>
                <string>{151,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{706,38},{26,510}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string12.png</key>
            <dict>
                <key>frame</key>
                <string>{{30,500},{26,510}}</string>
                <key>offset</key>
                <string>{151,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{706,38},{26,510}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string13.png</key>
            <dict>
                <key>frame</key>
                <string>{{218,500},{24,510}}</string>
                <key>offset</key>
                <string>{152,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{708,38},{24,510}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string14.png</key>
            <dict>
                <key>frame</key>
                <string>{{192,500},{24,510}}</string>
                <key>offset</key>
                <string>{152,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{708,38},{24,510}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string15.png</key>
            <dict>
                <key>frame</key>
                <string>{{166,500},{24,510}}</string>
                <key>offset</key>
                <string>{152,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{708,38},{24,510}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string16.png</key>
            <dict>
                <key>frame</key>
                <string>{{140,500},{24,510}}</string>
                <key>offset</key>
                <string>{152,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{708,38},{24,510}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string17.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,500},{24,510}}</string>
                <key>offset</key>
                <string>{152,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{708,38},{24,510}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string18.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,500},{24,510}}</string>
                <key>offset</key>
                <string>{152,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{708,38},{24,510}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string19.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,500},{24,510}}</string>
                <key>offset</key>
                <string>{152,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{708,38},{24,510}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string2.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,856},{20,310}}</string>
                <key>offset</key>
                <string>{160,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{718,37},{20,310}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string20.png</key>
            <dict>
                <key>frame</key>
                <string>{{114,500},{24,510}}</string>
                <key>offset</key>
                <string>{152,27}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{708,38},{24,510}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string21.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,96},{30,490}}</string>
                <key>offset</key>
                <string>{149,37}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{702,38},{30,490}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string22.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,128},{34,470}}</string>
                <key>offset</key>
                <string>{147,47}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{698,38},{34,470}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string23.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,450},{32,450}}</string>
                <key>offset</key>
                <string>{148,57}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{700,38},{32,450}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string24.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,576},{30,432}}</string>
                <key>offset</key>
                <string>{149,68}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{702,36},{30,432}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string25.png</key>
            <dict>
                <key>frame</key>
                <string>{{70,138},{22,346}}</string>
                <key>offset</key>
                <string>{155,111}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{712,36},{22,346}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string26.png</key>
            <dict>
                <key>frame</key>
                <string>{{276,754},{44,262}}</string>
                <key>offset</key>
                <string>{157,154}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{703,35},{44,262}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string27.png</key>
            <dict>
                <key>frame</key>
                <string>{{866,500},{50,252}}</string>
                <key>offset</key>
                <string>{166,159}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{709,35},{50,252}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,258},{66,234}}</string>
                <key>offset</key>
                <string>{182,167}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{717,36},{66,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string29.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,254},{74,244}}</string>
                <key>offset</key>
                <string>{192,163}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{723,35},{74,244}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string3.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,834},{20,310}}</string>
                <key>offset</key>
                <string>{158,127}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{716,38},{20,310}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string30.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,2},{80,250}}</string>
                <key>offset</key>
                <string>{198,160}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{726,35},{80,250}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string31.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,2},{86,254}}</string>
                <key>offset</key>
                <string>{201,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{726,35},{86,254}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string32.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,258},{70,252}}</string>
                <key>offset</key>
                <string>{193,158}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{726,36},{70,252}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string33.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,484},{46,256}}</string>
                <key>offset</key>
                <string>{179,157}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{724,35},{46,256}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,116},{20,268}}</string>
                <key>offset</key>
                <string>{160,151}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{718,35},{20,268}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,68},{46,280}}</string>
                <key>offset</key>
                <string>{145,144}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{690,36},{46,280}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string36.png</key>
            <dict>
                <key>frame</key>
                <string>{{958,288},{60,286}}</string>
                <key>offset</key>
                <string>{138,141}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{676,36},{60,286}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string37.png</key>
            <dict>
                <key>frame</key>
                <string>{{964,2},{54,284}}</string>
                <key>offset</key>
                <string>{140,142}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{681,36},{54,284}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string38.png</key>
            <dict>
                <key>frame</key>
                <string>{{956,576},{42,282}}</string>
                <key>offset</key>
                <string>{145,144}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{692,35},{42,282}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string39.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,754},{28,282}}</string>
                <key>offset</key>
                <string>{151,143}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{705,36},{28,282}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string4.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,812},{20,310}}</string>
                <key>offset</key>
                <string>{157,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{715,37},{20,310}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string40.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,888},{20,296}}</string>
                <key>offset</key>
                <string>{163,136}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{721,36},{20,296}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string41.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,972},{32,308}}</string>
                <key>offset</key>
                <string>{169,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{721,37},{32,308}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string42.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,258},{38,316}}</string>
                <key>offset</key>
                <string>{172,126}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{721,36},{38,316}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string43.png</key>
            <dict>
                <key>frame</key>
                <string>{{918,500},{36,310}}</string>
                <key>offset</key>
                <string>{171,128}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{721,37},{36,310}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string44.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,854},{32,304}}</string>
                <key>offset</key>
                <string>{169,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{721,37},{32,304}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string45.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,972},{26,300}}</string>
                <key>offset</key>
                <string>{167,134}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{722,36},{26,300}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string46.png</key>
            <dict>
                <key>frame</key>
                <string>{{116,138},{20,300}}</string>
                <key>offset</key>
                <string>{161,133}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{719,37},{20,300}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string47.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,1000},{20,304}}</string>
                <key>offset</key>
                <string>{153,131}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{711,37},{20,304}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string48.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,828},{24,306}}</string>
                <key>offset</key>
                <string>{152,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{708,38},{24,306}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string49.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,782},{22,308}}</string>
                <key>offset</key>
                <string>{153,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{710,37},{22,308}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string5.png</key>
            <dict>
                <key>frame</key>
                <string>{{94,138},{20,338}}</string>
                <key>offset</key>
                <string>{156,114}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{714,37},{20,338}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string50.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,806},{20,308}}</string>
                <key>offset</key>
                <string>{157,129}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{715,37},{20,308}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string51.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,856},{20,310}}</string>
                <key>offset</key>
                <string>{160,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{718,37},{20,310}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string52.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,856},{20,310}}</string>
                <key>offset</key>
                <string>{160,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{718,37},{20,310}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string53.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,856},{20,310}}</string>
                <key>offset</key>
                <string>{160,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{718,37},{20,310}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string54.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,856},{20,310}}</string>
                <key>offset</key>
                <string>{160,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{718,37},{20,310}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string55.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,856},{20,310}}</string>
                <key>offset</key>
                <string>{160,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{718,37},{20,310}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string56.png</key>
            <dict>
                <key>frame</key>
                <string>{{632,856},{20,310}}</string>
                <key>offset</key>
                <string>{160,128}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{718,37},{20,310}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1000,576},{22,394}}</string>
                <key>offset</key>
                <string>{152,86}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{709,37},{22,394}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string7.png</key>
            <dict>
                <key>frame</key>
                <string>{{756,128},{36,450}}</string>
                <key>offset</key>
                <string>{145,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{695,37},{36,450}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string8.png</key>
            <dict>
                <key>frame</key>
                <string>{{284,68},{26,496}}</string>
                <key>offset</key>
                <string>{150,34}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{705,38},{26,496}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene6_string9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,500},{26,510}}</string>
                <key>offset</key>
                <string>{151,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{706,37},{26,510}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene6_others-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:6cd9eccd7745043f8546b8bdd8df4fe1$</string>
            <key>textureFileName</key>
            <string>scene6_others-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
