<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene4_frontwave1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,299},{649,45}}</string>
                <key>offset</key>
                <string>{1,-211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{150,455},{649,45}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave10.png</key>
            <dict>
                <key>frame</key>
                <string>{{657,2},{383,47}}</string>
                <key>offset</key>
                <string>{-198,-210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{84,453},{383,47}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave11.png</key>
            <dict>
                <key>frame</key>
                <string>{{706,2},{387,47}}</string>
                <key>offset</key>
                <string>{-205,-209}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{75,452},{387,47}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave12.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,2},{387,49}}</string>
                <key>offset</key>
                <string>{-211,-208}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{69,450},{387,49}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,493},{391,51}}</string>
                <key>offset</key>
                <string>{-218,-207}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{60,448},{391,51}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave14.png</key>
            <dict>
                <key>frame</key>
                <string>{{647,1032},{859,51}}</string>
                <key>offset</key>
                <string>{9,-207}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{53,448},{859,51}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave15.png</key>
            <dict>
                <key>frame</key>
                <string>{{700,1034},{865,53}}</string>
                <key>offset</key>
                <string>{5,-206}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{46,446},{865,53}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave16.png</key>
            <dict>
                <key>frame</key>
                <string>{{755,1034},{871,55}}</string>
                <key>offset</key>
                <string>{1,-205}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{39,444},{871,55}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1140},{877,57}}</string>
                <key>offset</key>
                <string>{-4,-204}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{31,442},{877,57}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave18.png</key>
            <dict>
                <key>frame</key>
                <string>{{61,1140},{883,57}}</string>
                <key>offset</key>
                <string>{-8,-204}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{24,442},{883,57}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave19.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,1140},{889,59}}</string>
                <key>offset</key>
                <string>{-12,-203}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{17,440},{889,59}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,123},{649,41}}</string>
                <key>offset</key>
                <string>{-6,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{143,459},{649,41}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave20.png</key>
            <dict>
                <key>frame</key>
                <string>{{244,1140},{895,61}}</string>
                <key>offset</key>
                <string>{-17,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{9,438},{895,61}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave21.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,1140},{899,61}}</string>
                <key>offset</key>
                <string>{-21,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{3,438},{899,61}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave22.png</key>
            <dict>
                <key>frame</key>
                <string>{{559,1140},{901,61}}</string>
                <key>offset</key>
                <string>{-23,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,438},{901,61}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave23.png</key>
            <dict>
                <key>frame</key>
                <string>{{496,1140},{901,61}}</string>
                <key>offset</key>
                <string>{-23,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,438},{901,61}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave24.png</key>
            <dict>
                <key>frame</key>
                <string>{{370,1140},{899,61}}</string>
                <key>offset</key>
                <string>{-24,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,438},{899,61}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave25.png</key>
            <dict>
                <key>frame</key>
                <string>{{307,1140},{897,61}}</string>
                <key>offset</key>
                <string>{-25,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,438},{897,61}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave26.png</key>
            <dict>
                <key>frame</key>
                <string>{{181,1140},{893,61}}</string>
                <key>offset</key>
                <string>{-27,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,438},{893,61}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave27.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,546},{617,53}}</string>
                <key>offset</key>
                <string>{105,-197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{270,437},{617,53}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave28.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,601},{615,53}}</string>
                <key>offset</key>
                <string>{100,-197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{266,437},{615,53}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,656},{613,53}}</string>
                <key>offset</key>
                <string>{94,-197}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{261,437},{613,53}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,41},{651,39}}</string>
                <key>offset</key>
                <string>{-13,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{135,461},{651,39}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave30.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,945},{637,63}}</string>
                <key>offset</key>
                <string>{76,-202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{231,437},{637,63}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave31.png</key>
            <dict>
                <key>frame</key>
                <string>{{659,391},{639,63}}</string>
                <key>offset</key>
                <string>{69,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{223,437},{639,63}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave32.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{641,63}}</string>
                <key>offset</key>
                <string>{62,-202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{215,437},{641,63}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave33.png</key>
            <dict>
                <key>frame</key>
                <string>{{724,391},{641,63}}</string>
                <key>offset</key>
                <string>{56,-202}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{209,437},{641,63}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1075},{643,63}}</string>
                <key>offset</key>
                <string>{49,-202}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{201,437},{643,63}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave35.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,882},{643,61}}</string>
                <key>offset</key>
                <string>{42,-203}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{194,439},{643,61}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave36.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,823},{645,57}}</string>
                <key>offset</key>
                <string>{35,-205}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{186,443},{645,57}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,766},{645,55}}</string>
                <key>offset</key>
                <string>{29,-206}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{180,445},{645,55}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave38.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,711},{647,53}}</string>
                <key>offset</key>
                <string>{22,-207}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{172,447},{647,53}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave39.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,442},{647,49}}</string>
                <key>offset</key>
                <string>{15,-209}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{165,451},{647,49}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave4.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{651,37}}</string>
                <key>offset</key>
                <string>{-20,-215}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,463},{651,37}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave40.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,346},{649,47}}</string>
                <key>offset</key>
                <string>{8,-210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{157,453},{649,47}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,82},{653,39}}</string>
                <key>offset</key>
                <string>{-28,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{119,461},{653,39}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,166},{653,41}}</string>
                <key>offset</key>
                <string>{-34,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{113,459},{653,41}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,254},{653,43}}</string>
                <key>offset</key>
                <string>{-41,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{106,457},{653,43}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,209},{653,43}}</string>
                <key>offset</key>
                <string>{-48,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{99,457},{653,43}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
            <key>scene4_frontwave9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,395},{655,45}}</string>
                <key>offset</key>
                <string>{-56,-211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{90,455},{655,45}}</string>
                <key>sourceSize</key>
                <string>{947,533}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene4_frontwave-hd.pvr.ccz</string>
            <key>size</key>
            <string>{812,2043}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:f4813f900e9ba2d800d441984e515f1f$</string>
            <key>textureFileName</key>
            <string>scene4_frontwave-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
