<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene7_flower1.png</key>
            <dict>
                <key>frame</key>
                <string>{{428,1608},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,866},{106,408}}</string>
                <key>offset</key>
                <string>{251,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,161},{106,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower11.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1236},{106,408}}</string>
                <key>offset</key>
                <string>{251,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{766,161},{106,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower12.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,758},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower13.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,758},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower14.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,650},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,650},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower16.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,542},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,542},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower18.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,434},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,434},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower2.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1608},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower20.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,414},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower21.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,326},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower22.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,326},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower23.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,218},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower24.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,218},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower25.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,110},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower26.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,110},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower27.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower28.png</key>
            <dict>
                <key>frame</key>
                <string>{{414,2},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower29.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{106,410}}</string>
                <key>offset</key>
                <string>{251,-44}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{766,159},{106,410}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower3.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1502},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower30.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,826},{106,408}}</string>
                <key>offset</key>
                <string>{251,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{766,161},{106,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower31.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1396},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower32.png</key>
            <dict>
                <key>frame</key>
                <string>{{322,1290},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower33.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1596},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower34.png</key>
            <dict>
                <key>frame</key>
                <string>{{216,1186},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower35.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1596},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower36.png</key>
            <dict>
                <key>frame</key>
                <string>{{110,1186},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower37.png</key>
            <dict>
                <key>frame</key>
                <string>{{822,1236},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower4.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1184},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower5.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1080},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower6.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,1078},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,974},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower8.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,972},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene7_flower9.png</key>
            <dict>
                <key>frame</key>
                <string>{{412,866},{104,408}}</string>
                <key>offset</key>
                <string>{252,-45}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{768,161},{104,408}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene7_flower-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1024,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:60939996871640a5f5c1be251fbbb3eb$</string>
            <key>textureFileName</key>
            <string>scene7_flower-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
