<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene2_waves1.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,1506},{430,36}}</string>
                <key>offset</key>
                <string>{121,-221}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{474,523},{430,36}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves10.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,726},{772,76}}</string>
                <key>offset</key>
                <string>{171,-223}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{353,505},{772,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves11.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,414},{780,76}}</string>
                <key>offset</key>
                <string>{154,-223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{332,505},{780,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves12.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,492},{788,76}}</string>
                <key>offset</key>
                <string>{143,-223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{317,505},{788,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves13.png</key>
            <dict>
                <key>frame</key>
                <string>{{902,570},{804,76}}</string>
                <key>offset</key>
                <string>{121,-223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,505},{804,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves14.png</key>
            <dict>
                <key>frame</key>
                <string>{{238,726},{810,76}}</string>
                <key>offset</key>
                <string>{111,-223}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{274,505},{810,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves15.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,544},{818,76}}</string>
                <key>offset</key>
                <string>{100,-224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,506},{818,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,308},{826,78}}</string>
                <key>offset</key>
                <string>{89,-225}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{244,506},{826,78}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves17.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{822,100}}</string>
                <key>offset</key>
                <string>{89,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,484},{822,100}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,104},{820,100}}</string>
                <key>offset</key>
                <string>{88,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{246,484},{820,100}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves19.png</key>
            <dict>
                <key>frame</key>
                <string>{{826,2},{816,100}}</string>
                <key>offset</key>
                <string>{88,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{248,484},{816,100}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves2.png</key>
            <dict>
                <key>frame</key>
                <string>{{1818,752},{684,52}}</string>
                <key>offset</key>
                <string>{226,-213}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{452,507},{684,52}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves20.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,206},{812,100}}</string>
                <key>offset</key>
                <string>{88,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{250,484},{812,100}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves21.png</key>
            <dict>
                <key>frame</key>
                <string>{{824,104},{806,100}}</string>
                <key>offset</key>
                <string>{87,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,483},{806,100}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves22.png</key>
            <dict>
                <key>frame</key>
                <string>{{816,206},{800,100}}</string>
                <key>offset</key>
                <string>{87,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{255,483},{800,100}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves23.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,622},{792,102}}</string>
                <key>offset</key>
                <string>{87,-212}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{259,481},{792,102}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves24.png</key>
            <dict>
                <key>frame</key>
                <string>{{316,726},{784,102}}</string>
                <key>offset</key>
                <string>{87,-212}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{263,481},{784,102}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves25.png</key>
            <dict>
                <key>frame</key>
                <string>{{420,726},{778,104}}</string>
                <key>offset</key>
                <string>{86,-211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{265,479},{778,104}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves26.png</key>
            <dict>
                <key>frame</key>
                <string>{{622,726},{764,104}}</string>
                <key>offset</key>
                <string>{85,-211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{271,479},{764,104}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves27.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1758},{614,104}}</string>
                <key>offset</key>
                <string>{156,-210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{417,478},{614,104}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves28.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1652},{614,104}}</string>
                <key>offset</key>
                <string>{152,-210}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{413,478},{614,104}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves29.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1544},{616,106}}</string>
                <key>offset</key>
                <string>{147,-209}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{407,476},{616,106}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1764,754},{694,52}}</string>
                <key>offset</key>
                <string>{221,-213}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{442,507},{694,52}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves30.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,1864},{618,86}}</string>
                <key>offset</key>
                <string>{142,-198}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{401,475},{618,86}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves31.png</key>
            <dict>
                <key>frame</key>
                <string>{{906,308},{746,104}}</string>
                <key>offset</key>
                <string>{195,-211}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{390,479},{746,104}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves32.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,2},{750,102}}</string>
                <key>offset</key>
                <string>{193,-212}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,481},{750,102}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves33.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1914},{756,100}}</string>
                <key>offset</key>
                <string>{190,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,483},{756,100}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves34.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1814},{760,98}}</string>
                <key>offset</key>
                <string>{188,-213}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,484},{760,98}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves35.png</key>
            <dict>
                <key>frame</key>
                <string>{{728,726},{766,96}}</string>
                <key>offset</key>
                <string>{185,-214}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{370,486},{766,96}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves36.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1560},{770,96}}</string>
                <key>offset</key>
                <string>{183,-214}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{366,486},{770,96}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves37.png</key>
            <dict>
                <key>frame</key>
                <string>{{526,726},{776,94}}</string>
                <key>offset</key>
                <string>{180,-215}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{360,488},{776,94}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves38.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,726},{780,92}}</string>
                <key>offset</key>
                <string>{176,-216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,490},{780,92}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves39.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,820},{782,90}}</string>
                <key>offset</key>
                <string>{172,-217}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{349,492},{782,90}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1708,754},{706,54}}</string>
                <key>offset</key>
                <string>{215,-212}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{430,505},{706,54}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves40.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,726},{780,92}}</string>
                <key>offset</key>
                <string>{176,-216}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{354,490},{780,92}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves41.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,912},{786,86}}</string>
                <key>offset</key>
                <string>{164,-218}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{339,495},{786,86}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves42.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1962},{790,84}}</string>
                <key>offset</key>
                <string>{156,-219}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{329,497},{790,84}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves43.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1000},{792,82}}</string>
                <key>offset</key>
                <string>{152,-220}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{324,499},{792,82}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves44.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1084},{792,80}}</string>
                <key>offset</key>
                <string>{148,-221}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{320,501},{792,80}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves45.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1246},{794,78}}</string>
                <key>offset</key>
                <string>{143,-222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{314,503},{794,78}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves46.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1166},{794,78}}</string>
                <key>offset</key>
                <string>{139,-222}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{310,503},{794,78}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves47.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1326},{798,76}}</string>
                <key>offset</key>
                <string>{133,-223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{302,505},{798,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves48.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1404},{802,76}}</string>
                <key>offset</key>
                <string>{128,-223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{295,505},{802,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves49.png</key>
            <dict>
                <key>frame</key>
                <string>{{904,1482},{806,76}}</string>
                <key>offset</key>
                <string>{122,-223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{287,505},{806,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1956,2},{728,60}}</string>
                <key>offset</key>
                <string>{204,-210}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{408,500},{728,60}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves50.png</key>
            <dict>
                <key>frame</key>
                <string>{{876,648},{808,76}}</string>
                <key>offset</key>
                <string>{117,-223}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{281,505},{808,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves51.png</key>
            <dict>
                <key>frame</key>
                <string>{{160,726},{812,76}}</string>
                <key>offset</key>
                <string>{111,-223}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{273,505},{812,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves52.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,726},{816,76}}</string>
                <key>offset</key>
                <string>{106,-223}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{266,505},{816,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves53.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,466},{820,76}}</string>
                <key>offset</key>
                <string>{100,-224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{258,506},{820,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves54.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,388},{822,76}}</string>
                <key>offset</key>
                <string>{97,-224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{254,506},{822,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves55.png</key>
            <dict>
                <key>frame</key>
                <string>{{82,308},{822,78}}</string>
                <key>offset</key>
                <string>{95,-224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{252,505},{822,78}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves56.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1136},{824,78}}</string>
                <key>offset</key>
                <string>{92,-224}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{248,505},{824,78}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1894,2},{738,60}}</string>
                <key>offset</key>
                <string>{199,-211}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{398,501},{738,60}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1812,2},{748,80}}</string>
                <key>offset</key>
                <string>{194,-223}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{388,503},{748,80}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves8.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1736},{764,76}}</string>
                <key>offset</key>
                <string>{186,-224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{372,506},{764,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene2_waves9.png</key>
            <dict>
                <key>frame</key>
                <string>{{794,1658},{768,76}}</string>
                <key>offset</key>
                <string>{179,-224}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{363,506},{768,76}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene2_waves_1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:5ceacac652ee09ec9b64e14ea695ff2c$</string>
            <key>textureFileName</key>
            <string>scene2_waves_1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
