<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene8_fox1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,1274},{422,422}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,51},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox10.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,850},{422,422}}</string>
                <key>offset</key>
                <string>{22,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,50},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox11.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,1274},{422,422}}</string>
                <key>offset</key>
                <string>{22,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,50},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox12.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,850},{422,422}}</string>
                <key>offset</key>
                <string>{22,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,50},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,426},{422,422}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,51},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox14.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,426},{422,422}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,51},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox15.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,1274},{422,422}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,51},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox16.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,850},{422,422}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,51},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox2.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,426},{422,422}}</string>
                <key>offset</key>
                <string>{23,57}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,52},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox3.png</key>
            <dict>
                <key>frame</key>
                <string>{{1274,2},{422,422}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,51},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox4.png</key>
            <dict>
                <key>frame</key>
                <string>{{850,2},{422,422}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,51},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox5.png</key>
            <dict>
                <key>frame</key>
                <string>{{426,2},{422,422}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,51},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox6.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1274},{422,422}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,51},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,850},{422,422}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,51},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,426},{422,422}}</string>
                <key>offset</key>
                <string>{23,58}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,51},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene8_fox9.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{422,422}}</string>
                <key>offset</key>
                <string>{22,59}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,50},{422,422}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene8_fox-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:be798453a1be325b33842022e49ef892$</string>
            <key>textureFileName</key>
            <string>scene8_fox-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
