<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene3_gooma34.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,982},{282,236}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,207},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma35.png</key>
            <dict>
                <key>frame</key>
                <string>{{1712,854},{282,236}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,207},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma36.png</key>
            <dict>
                <key>frame</key>
                <string>{{288,268},{284,236}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,207},{284,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma37.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,268},{284,236}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,207},{284,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma38.png</key>
            <dict>
                <key>frame</key>
                <string>{{574,478},{284,234}}</string>
                <key>offset</key>
                <string>{-45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{284,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma39.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,476},{284,234}}</string>
                <key>offset</key>
                <string>{-45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{284,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma40.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,240},{284,234}}</string>
                <key>offset</key>
                <string>{-45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,209},{284,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma41.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,240},{284,234}}</string>
                <key>offset</key>
                <string>{-46,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,210},{284,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma42.png</key>
            <dict>
                <key>frame</key>
                <string>{{1706,1092},{282,234}}</string>
                <key>offset</key>
                <string>{-45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,209},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma43.png</key>
            <dict>
                <key>frame</key>
                <string>{{1422,952},{282,234}}</string>
                <key>offset</key>
                <string>{-45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,209},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma44.png</key>
            <dict>
                <key>frame</key>
                <string>{{1138,952},{282,234}}</string>
                <key>offset</key>
                <string>{-45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,209},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma45.png</key>
            <dict>
                <key>frame</key>
                <string>{{1428,714},{282,236}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,207},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma46.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,952},{282,236}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,207},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma47.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,982},{282,234}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,208},{282,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma48.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1610},{280,236}}</string>
                <key>offset</key>
                <string>{-43,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,206},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma49.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,950},{282,236}}</string>
                <key>offset</key>
                <string>{-43,-4}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{384,206},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma50.png</key>
            <dict>
                <key>frame</key>
                <string>{{716,1328},{280,236}}</string>
                <key>offset</key>
                <string>{-42,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,206},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma51.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1610},{280,236}}</string>
                <key>offset</key>
                <string>{-43,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,206},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma52.png</key>
            <dict>
                <key>frame</key>
                <string>{{1144,714},{282,236}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,207},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma53.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,744},{282,236}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,207},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma54.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,286},{282,238}}</string>
                <key>offset</key>
                <string>{-45,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,206},{282,238}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma55.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,744},{282,236}}</string>
                <key>offset</key>
                <string>{-45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,208},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma56.png</key>
            <dict>
                <key>frame</key>
                <string>{{570,714},{282,236}}</string>
                <key>offset</key>
                <string>{-45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,208},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma57.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,240},{284,236}}</string>
                <key>offset</key>
                <string>{-45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,208},{284,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma58.png</key>
            <dict>
                <key>frame</key>
                <string>{{1498,2},{284,236}}</string>
                <key>offset</key>
                <string>{-45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,208},{284,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma59.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,2},{284,236}}</string>
                <key>offset</key>
                <string>{-45,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{381,208},{284,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma60.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,2},{284,236}}</string>
                <key>offset</key>
                <string>{-46,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,208},{284,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma61.png</key>
            <dict>
                <key>frame</key>
                <string>{{926,240},{284,234}}</string>
                <key>offset</key>
                <string>{-46,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,210},{284,234}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma62.png</key>
            <dict>
                <key>frame</key>
                <string>{{640,2},{284,236}}</string>
                <key>offset</key>
                <string>{-46,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{380,209},{284,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma63.png</key>
            <dict>
                <key>frame</key>
                <string>{{860,712},{282,236}}</string>
                <key>offset</key>
                <string>{-45,-7}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{382,209},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma64.png</key>
            <dict>
                <key>frame</key>
                <string>{{1780,570},{282,236}}</string>
                <key>offset</key>
                <string>{-45,-7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,209},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma65.png</key>
            <dict>
                <key>frame</key>
                <string>{{1784,2},{282,238}}</string>
                <key>offset</key>
                <string>{-45,-6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{382,207},{282,238}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma66.png</key>
            <dict>
                <key>frame</key>
                <string>{{1496,476},{282,236}}</string>
                <key>offset</key>
                <string>{-44,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,208},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma67.png</key>
            <dict>
                <key>frame</key>
                <string>{{1212,476},{282,236}}</string>
                <key>offset</key>
                <string>{-44,-6}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,208},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma68.png</key>
            <dict>
                <key>frame</key>
                <string>{{478,1328},{280,236}}</string>
                <key>offset</key>
                <string>{-43,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,207},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma69.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1610},{280,236}}</string>
                <key>offset</key>
                <string>{-42,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,207},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma70.png</key>
            <dict>
                <key>frame</key>
                <string>{{240,1328},{280,236}}</string>
                <key>offset</key>
                <string>{-42,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{386,207},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma71.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1610},{280,236}}</string>
                <key>offset</key>
                <string>{-43,-4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,206},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma72.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1328},{280,236}}</string>
                <key>offset</key>
                <string>{-43,-5}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{385,207},{280,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma73.png</key>
            <dict>
                <key>frame</key>
                <string>{{286,506},{282,236}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,207},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_gooma74.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,506},{282,236}}</string>
                <key>offset</key>
                <string>{-44,-5}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{383,207},{282,236}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>scene3_moon.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{636,264}}</string>
                <key>offset</key>
                <string>{-122,161}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{128,27},{636,264}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene3_gooma_2nd-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:3f05aadbc8c800705df19df9be87a157$</string>
            <key>textureFileName</key>
            <string>scene3_gooma_2nd-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
