<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>scene2_gooma1.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{403,429}}</string>
                <key>offset</key>
                <string>{-240,11}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,23},{403,429}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma10.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1223},{407,441}}</string>
                <key>offset</key>
                <string>{-238,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,11},{407,441}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1289,816},{407,441}}</string>
                <key>offset</key>
                <string>{-238,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{407,441}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma12.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1632},{409,443}}</string>
                <key>offset</key>
                <string>{-237,20}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{409,443}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1319,1225},{409,443}}</string>
                <key>offset</key>
                <string>{-237,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{409,443}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma14.png</key>
            <dict>
                <key>frame</key>
                <string>{{447,1634},{409,441}}</string>
                <key>offset</key>
                <string>{-237,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,6},{409,441}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma15.png</key>
            <dict>
                <key>frame</key>
                <string>{{890,1636},{409,439}}</string>
                <key>offset</key>
                <string>{-237,22}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,7},{409,439}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma16.png</key>
            <dict>
                <key>frame</key>
                <string>{{1331,1636},{409,437}}</string>
                <key>offset</key>
                <string>{-237,21}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,9},{409,437}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma17.png</key>
            <dict>
                <key>frame</key>
                <string>{{882,1225},{407,435}}</string>
                <key>offset</key>
                <string>{-238,19}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,12},{407,435}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma18.png</key>
            <dict>
                <key>frame</key>
                <string>{{445,1223},{407,435}}</string>
                <key>offset</key>
                <string>{-238,18}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{407,435}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma19.png</key>
            <dict>
                <key>frame</key>
                <string>{{433,2},{405,437}}</string>
                <key>offset</key>
                <string>{-239,17}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,13},{405,437}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma2.png</key>
            <dict>
                <key>frame</key>
                <string>{{872,2},{405,427}}</string>
                <key>offset</key>
                <string>{-239,8}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,27},{405,427}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma20.png</key>
            <dict>
                <key>frame</key>
                <string>{{1301,2},{405,435}}</string>
                <key>offset</key>
                <string>{-239,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,16},{405,435}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma3.png</key>
            <dict>
                <key>frame</key>
                <string>{{421,816},{405,425}}</string>
                <key>offset</key>
                <string>{-239,6}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,30},{405,425}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma4.png</key>
            <dict>
                <key>frame</key>
                <string>{{429,409},{405,423}}</string>
                <key>offset</key>
                <string>{-239,4}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,33},{405,423}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma5.png</key>
            <dict>
                <key>frame</key>
                <string>{{854,409},{405,421}}</string>
                <key>offset</key>
                <string>{-239,3}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,35},{405,421}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1277,409},{405,419}}</string>
                <key>offset</key>
                <string>{-239,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,37},{405,419}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma7.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,814},{405,417}}</string>
                <key>offset</key>
                <string>{-239,2}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,38},{405,417}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma8.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,407},{405,425}}</string>
                <key>offset</key>
                <string>{-239,7}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,29},{405,425}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
            <key>scene2_gooma9.png</key>
            <dict>
                <key>frame</key>
                <string>{{848,816},{405,439}}</string>
                <key>offset</key>
                <string>{-239,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,14},{405,439}}</string>
                <key>sourceSize</key>
                <string>{883,497}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>scene2_gooma_1st-hd.pvr.ccz</string>
            <key>size</key>
            <string>{1770,2047}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:18ee3c8d282e2daca277226dee1cc97d$</string>
            <key>textureFileName</key>
            <string>scene2_gooma_1st-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
