<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>btn-back-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,220},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-camera-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,199},{24,24}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-cart-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,196},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-close-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{72,38},{46,46}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,2},{46,46}}</string>
                <key>sourceSize</key>
                <string>{50,50}</string>
            </dict>
            <key>btn-facebook-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{91,194},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-flickr-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,142},{26,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-flickricon-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{120,38},{11,6}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{1,1},{11,6}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>btn-forward-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,170},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-home-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,114},{26,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-info-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,168},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-music-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,114},{26,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-music-stopped-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,86},{26,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-refresh-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{62,222},{24,22}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,4},{24,22}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-reload-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{73,2},{50,34}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{50,34}}</string>
                <key>sourceSize</key>
                <string>{50,34}</string>
            </dict>
            <key>btn-share-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{65,86},{26,26}}</string>
                <key>offset</key>
                <string>{-1,1}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{1,1},{26,26}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-shop-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{69,20}}</string>
                <key>offset</key>
                <string>{-1,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{2,5},{69,20}}</string>
                <key>sourceSize</key>
                <string>{75,30}</string>
            </dict>
            <key>btn-stop-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{93,142},{24,24}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,3},{24,24}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>btn-twitter-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,225},{24,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{3,5},{24,20}}</string>
                <key>sourceSize</key>
                <string>{30,30}</string>
            </dict>
            <key>item-moonfox-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,46},{334,32}}</string>
                <key>offset</key>
                <string>{-61,-99}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{56,243},{334,32}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>logo-flickr-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{36,46},{151,27}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{151,27}}</string>
                <key>sourceSize</key>
                <string>{151,27}</string>
            </dict>
            <key>logo-shop-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,24},{68,20}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{68,20}}</string>
                <key>sourceSize</key>
                <string>{68,20}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>setting-btn.pvr.ccz</string>
            <key>size</key>
            <string>{128,512}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d070c7e900d1d9f94af82ac563b78fff$</string>
            <key>textureFileName</key>
            <string>setting-btn.pvr.ccz</string>
        </dict>
    </dict>
</plist>
