<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hand-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,408},{51,51}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{51,51}}</string>
                <key>sourceSize</key>
                <string>{51,51}</string>
            </dict>
            <key>swipedownfinger-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,652},{41,56}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{41,56}}</string>
                <key>sourceSize</key>
                <string>{41,56}</string>
            </dict>
            <key>swipefinger-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,510},{45,58}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{45,58}}</string>
                <key>sourceSize</key>
                <string>{45,58}</string>
            </dict>
            <key>swipetrail-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1010},{7,4}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{7,4}}</string>
                <key>sourceSize</key>
                <string>{7,4}</string>
            </dict>
            <key>tap-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{968,461},{48,47}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{48,47}}</string>
                <key>sourceSize</key>
                <string>{48,47}</string>
            </dict>
            <key>title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{1006,2},{76,14}}</string>
                <key>offset</key>
                <string>{42,153}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{288,0},{76,14}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title10.png</key>
            <dict>
                <key>frame</key>
                <string>{{488,2},{190,290}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,290}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title11.png</key>
            <dict>
                <key>frame</key>
                <string>{{572,698},{190,288}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,288}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title12.png</key>
            <dict>
                <key>frame</key>
                <string>{{386,408},{190,288}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,288}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title13.png</key>
            <dict>
                <key>frame</key>
                <string>{{380,698},{190,288}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,288}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title14.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,408},{190,288}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,288}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title15.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,2},{190,290}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,290}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title16.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,586},{190,290}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,290}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title17.png</key>
            <dict>
                <key>frame</key>
                <string>{{486,194},{190,288}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,288}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,294},{190,290}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,290}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{190,290}}</string>
                <key>offset</key>
                <string>{0,15}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,290}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{194,698},{184,150}}</string>
                <key>offset</key>
                <string>{-4,85}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,0},{184,150}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,878},{192,130}}</string>
                <key>offset</key>
                <string>{0,95}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,0},{192,130}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,210},{196,222}}</string>
                <key>offset</key>
                <string>{-3,49}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{183,0},{196,222}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title5.png</key>
            <dict>
                <key>frame</key>
                <string>{{780,2},{206,224}}</string>
                <key>offset</key>
                <string>{-1,48}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{180,0},{206,224}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title6.png</key>
            <dict>
                <key>frame</key>
                <string>{{578,386},{196,264}}</string>
                <key>offset</key>
                <string>{2,28}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{188,0},{196,264}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title7.png</key>
            <dict>
                <key>frame</key>
                <string>{{764,696},{190,276}}</string>
                <key>offset</key>
                <string>{0,22}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,276}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title8.png</key>
            <dict>
                <key>frame</key>
                <string>{{776,408},{190,286}}</string>
                <key>offset</key>
                <string>{0,17}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,286}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
            <key>title9.png</key>
            <dict>
                <key>frame</key>
                <string>{{196,194},{190,288}}</string>
                <key>offset</key>
                <string>{0,16}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{189,0},{190,288}}</string>
                <key>sourceSize</key>
                <string>{568,320}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title.pvr.ccz</string>
            <key>size</key>
            <string>{1024,1024}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:01a4fa82dd3aee6839753594ea64237c$</string>
            <key>textureFileName</key>
            <string>title.pvr.ccz</string>
        </dict>
    </dict>
</plist>
