<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple Computer//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
    <dict>
        <key>frames</key>
        <dict>
            <key>hand-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,233},{102,101}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{0,0},{102,101}}</string>
                <key>sourceSize</key>
                <string>{102,101}</string>
            </dict>
            <key>swipedownfinger-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,119},{82,112}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{82,112}}</string>
                <key>sourceSize</key>
                <string>{82,112}</string>
            </dict>
            <key>swipefinger-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,2},{90,115}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{90,115}}</string>
                <key>sourceSize</key>
                <string>{90,115}</string>
            </dict>
            <key>swipetrail-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1710},{13,8}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{13,8}}</string>
                <key>sourceSize</key>
                <string>{13,8}</string>
            </dict>
            <key>tap-hd.png</key>
            <dict>
                <key>frame</key>
                <string>{{1912,337},{95,94}}</string>
                <key>offset</key>
                <string>{0,0}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{0,0},{95,94}}</string>
                <key>sourceSize</key>
                <string>{95,94}</string>
            </dict>
            <key>title1.png</key>
            <dict>
                <key>frame</key>
                <string>{{372,1742},{152,28}}</string>
                <key>offset</key>
                <string>{83,306}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{575,0},{152,28}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title10.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,582},{380,578}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,578}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title11.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,2},{380,576}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,576}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title12.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,580},{380,576}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,576}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title13.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,580},{380,574}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,574}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title14.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,1162},{380,576}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,576}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title15.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1162},{380,578}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,578}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title16.png</key>
            <dict>
                <key>frame</key>
                <string>{{384,2},{380,578}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,578}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title17.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,2},{380,576}}</string>
                <key>offset</key>
                <string>{0,32}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,576}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title18.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,582},{380,578}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,578}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title19.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,2},{380,578}}</string>
                <key>offset</key>
                <string>{0,31}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,578}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title2.png</key>
            <dict>
                <key>frame</key>
                <string>{{2,1742},{368,300}}</string>
                <key>offset</key>
                <string>{-8,170}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{376,0},{368,300}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title3.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1734},{382,258}}</string>
                <key>offset</key>
                <string>{1,191}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{382,258}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title4.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1554},{388,444}}</string>
                <key>offset</key>
                <string>{-5,98}</string>
                <key>rotated</key>
                <true/>
                <key>sourceColorRect</key>
                <string>{{369,0},{388,444}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title5.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,1104},{410,448}}</string>
                <key>offset</key>
                <string>{-1,96}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{362,0},{410,448}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title6.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,574},{388,528}}</string>
                <key>offset</key>
                <string>{5,56}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{379,0},{388,528}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title7.png</key>
            <dict>
                <key>frame</key>
                <string>{{1148,1156},{380,552}}</string>
                <key>offset</key>
                <string>{0,44}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,552}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title8.png</key>
            <dict>
                <key>frame</key>
                <string>{{1530,2},{380,570}}</string>
                <key>offset</key>
                <string>{0,35}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,570}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
            <key>title9.png</key>
            <dict>
                <key>frame</key>
                <string>{{766,1158},{380,574}}</string>
                <key>offset</key>
                <string>{0,33}</string>
                <key>rotated</key>
                <false/>
                <key>sourceColorRect</key>
                <string>{{378,0},{380,574}}</string>
                <key>sourceSize</key>
                <string>{1136,640}</string>
            </dict>
        </dict>
        <key>metadata</key>
        <dict>
            <key>format</key>
            <integer>2</integer>
            <key>realTextureFileName</key>
            <string>title-hd.pvr.ccz</string>
            <key>size</key>
            <string>{2048,2048}</string>
            <key>smartupdate</key>
            <string>$TexturePacker:SmartUpdate:d096f2acff2a38781369059fc515f18c$</string>
            <key>textureFileName</key>
            <string>title-hd.pvr.ccz</string>
        </dict>
    </dict>
</plist>
